openapi: 3.2.0
info:
  title: Lean Technologies Pending & Asynchronous Requests API
  version: '1.0'
  description: 'Operations tagged Pending & Asynchronous Requests across 2 of this provider''s published API definitions: lean-technologies-data-openapi.yml, lean-technologies-ksa-core-resources-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.leantech.me
  description: Sandbox
- url: https://api2.leantech.me
  description: Production
- url: https://sandbox.sa.leantech.me
  description: Sandbox
- url: https://api2.sa.leantech.me
  description: Production / Pre-Live
tags:
- name: Pending & Asynchronous Requests
  x-displayName: Pending & Asynchronous Requests
paths:
  /data/v2/results/{results_id}:
    servers: []
    get:
      operationId: getResultsV2
      summary: Get Results
      description: "Get the results for an asynchronous response. Note that the request will\nnot work for results_id that have been returned with a synchronous\nrequest, i.e.: it will work only when you receive a response for any API\nwhere status=PENDING and then receive a webhook. \n**Note: it's recommended to use the sync flow (async=false) for all request by adapting the new data workflow.**\n"
      parameters:
      - $ref: '#/components/parameters/ResultsIdParameter'
      - $ref: '#/components/parameters/AsyncParameter'
      - $ref: '#/components/parameters/PageParameter'
      - $ref: '#/components/parameters/SizeParameter'
      - $ref: '#/components/parameters/EntityIdParameter'
      - $ref: '#/components/parameters/MetaParameter'
      responses:
        '200':
          description: Get results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    description: The status of the request.
                    type: string
                    enum:
                    - OK
                    - FAILED
                    - PENDING
                    - RECONNECT_REQUIRED
                  data:
                    description: The payload corresponding to the result requested, the schema of object depends on the original request was made to and it will be matching its response schema
                    type: object
                    properties: {}
                  results_id:
                    description: The ID for this result, this is used when retrieving results from the /results endpoint.
                    type: string
                  timestamp:
                    description: The timestamp of when the response was retrieved
                    type: string
                  type:
                    description: The endpoint the original request was made to.
                    type: string
                required:
                - status
                - results_id
                - timestamp
                - data
                - type
              examples:
                '200':
                  summary: Success
                  value:
                    status: OK
                    results_id: 2caa051e-04e2-4745-b50a-5133c99ce046
                    message: Data successfully retrieved
                    meta: null
                    timestamp: '2025-09-13T00:27:07.322969021Z'
                    status_detail: null
                    data:
                      accounts:
                      - entity_id: b7fe8c0c-212b-4168-a2e7-479f5a57e668
                        account_id: 20132874-5e62-4fed-9ae8-9e7763814224
                        status: DISABLED
                        status_update_date_time: '2025-03-21T07:03:03Z'
                        currency: SAR
                        account_type: PERSONAL
                        account_sub_type: CURRENT
                        nickname: null
                        description: null
                        opening_date: '2025-03-11'
                        maturity_date: null
                        account:
                        - scheme_name: IBAN
                          identification: SA4820000123456789012345
                          name: AHMED MOHAMMAD ALI SALEM
                        - scheme_name: BBAN
                          identification: 077030010006084567890
                          name: AHMED MOHAMMAD ALI SALEM
                        - scheme_name: OTHER
                          identification: '1110987654'
                          name: AHMED MOHAMMAD ALI SALEM
                        servicer:
                          scheme_name: BICFI
                          identification: RJHISARI
                      page:
                        number: 0
                        size: 50
                        total_elements: 1
                        total_pages: 1
                      type: accounts
                    type: accounts
                    refreshed_at: '2025-08-07T08:08:29.794Z'
        '404':
          description: Result not found
          content:
            application/json:
              examples:
                UnknownResultExample:
                  $ref: '#/components/examples/UnknownResultExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InternalServerErrorExample'
      deprecated: false
      tags:
      - Pending & Asynchronous Requests
      security:
      - bearerAuth: []
components:
  parameters:
    EntityIdParameter:
      name: entity_id
      description: The entity_id you're querying for, which is created by LinkSDK `.connect()` function.
      in: query
      required: false
      schema:
        type: string
        format: uuid
    MetaParameter:
      name: meta
      description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
      in: query
      required: false
      schema:
        type: string
    PageParameter:
      name: page
      in: query
      description: The page you're requesting - returns page 0 of a response if not specified.
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
    SizeParameter:
      name: size
      description: The number of objects you want to return as a page size.
      in: query
      required: false
      schema:
        type: integer
        default: 50
        maximum: 100
        minimum: 1
    AsyncParameter:
      name: async
      in: query
      description: 'When true the API will return a results_id which can be fetched from the /data/v2/results endpoint when ready. **Note: it''s recommended to use the sync flow (async=false) for all requests by adapting the [data workflow](https://docs.leantech.me/docs/data-workflow) for connected entities.**'
      required: false
      schema:
        type: boolean
        default: false
      deprecated: true
    ResultsIdParameter:
      name: results_id
      in: path
      description: results_id was returned from a request with `async=true`
      required: true
      example: 549fd28b-1268-4ab3-a34d-bed7d4710c00
      schema:
        type: string
        format: uuid
  examples:
    UnknownResultExample:
      summary: Result not found error response
      description: Response when the provided result_id is not found
      value:
        results_id: 516adc40-af36-4284-bfba-46ec69dfe6d3
        timestamp: '2025-09-10T21:03:05.413806605Z'
        status: UNKNOWN_RESULTS_ID
        message: The results_id provided has not been recognized by Lean or has not been processed yet
        metadata: null
    InternalServerErrorExample:
      summary: Internal server error response
      description: Response when an unexpected server error occurs
      value:
        results_id: 516adc40-af36-4284-bfba-46ec69dfe6d3
        timestamp: '2025-08-07T13:07:38.834977945Z'
        status: INTERNAL_SERVER_ERROR
        message: Something has gone wrong. If you continue to see this error, please get in touch with Lean.
        metadata: null
  schemas:
    DirectDebitsResponse:
      allOf:
      - type: object
        properties:
          data:
            type: object
            properties: {}
      - $ref: '#/components/schemas/DataResponse'
    AccountsData:
      allOf:
      - type: object
        properties: {}
      - type: object
        properties:
          accounts:
            description: An array of accounts associated with the Entity
            type: array
            items:
              $ref: '#/components/schemas/Account'
    StatusDetailObject:
      description: Status Details
      type: object
      properties:
        granular_status_code:
          description: Detailed error code
          type: string
        status_additional_info:
          description: Further detail on the encountered error
          type: string
    Account:
      type: object
      properties:
        account_id:
          description: The unique identifier for the account. Provided as a UUID.
          type: string
        status:
          description: The current status of the account. Indicating whether it is in active use or not.
          enum:
          - DELETED
          - DISABLED
          - ENABLED
          - PENDING
          - PROFORMA
          - UNSUPPORTED
          type: string
        status_update_date_time:
          type:
          - string
          - 'null'
          description: The datetime that the status was last updated.
          format: date-time
        currency:
          description: The ISO 3 letter currency code that the account stores value in.
          type: string
        account_type:
          description: 'Indicates whether the account is a retail consumer account or a business account. '
          enum:
          - PERSONAL
          - BUSINESS
          - UNSUPPORTED
          type: string
        account_sub_type:
          type: string
          description: Indicates the type of account.
          enum:
          - CURRENT
          - CREDIT
          - SAVINGS
          - CHARGE_CARD
          - EMONEY
          - LOAN
          - MORTGAGE
          - PREPAID
          - CALL
          - UNSUPPORTED
        nickname:
          type:
          - string
          - 'null'
          description: The name for this account as set by the owner of the account. This name is known to the user.
        description:
          type:
          - string
          - 'null'
          description: Specifies the description of the account sub-type.
        opening_date:
          type:
          - string
          - 'null'
          description: The date and time the account was opened.
          format: date-time
          examples:
          - 2013-03-15 22:00:00.000 +0400
        maturity_date:
          type:
          - string
          - 'null'
          description: Maturity date of the account.
          format: date-time
        account:
          type: array
          items:
            type: object
            properties: {}
          description: Identification for the account assigned by the Bank based on the Account Scheme Name
        servicer:
          $ref: '#/components/schemas/AgentIdentifier'
          description: Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.
        regional_data:
          description: Region specific data response. Only provided when `verbose=true` in the originating request.
          $ref: '#/components/schemas/AccountRegionalData'
    StandardSau:
      type: object
      properties:
        standard:
          description: A description of the standard the regional data is returned in formatted as `"{ISO 3 Letter Country Code}.{Standard}.{Version}"`. In the KSA V2 API this will always return as `"SAU.SAMA.V1"`
          type: string
          examples:
          - SAU.SAMA.V1
    AccountRegionalData:
      allOf:
      - type: object
        properties:
          data:
            type: object
            properties: {}
      - $ref: '#/components/schemas/StandardSau'
    DataResponse:
      type: object
      properties:
        status:
          description: The status of the results. For async requests, initially returns PENDING.
          enum:
          - OK
          - FAILED
          - PENDING
          - CONSENT_EXPIRED
          type: string
        results_id:
          type: string
          description: The ID for this result, this is used when retrieving results from the `/results` endpoint.
          format: uuid
        message:
          description: A message describing the status of the request.
          type: string
        meta:
          type:
          - string
          - 'null'
          description: Optional metadata associated with the result.
        timestamp:
          format: date-time
          description: The timestamp with timezone offset indicating when the response was generated.
          type: string
        status_detail:
          description: Further detail on the error if status=FAILED
          $ref: '#/components/schemas/StatusDetailObject'
      required:
      - status
      - results_id
      - message
      - meta
      - timestamp
      - status_detail
    ResultsResponse:
      anyOf:
      - $ref: '#/components/schemas/AccountsResponse'
      - type: object
        properties: {}
      - type: object
        properties: {}
      - type: object
        properties: {}
      - type: object
        properties: {}
      - type: object
        properties: {}
      - type: object
        properties: {}
      - type: object
        properties: {}
      - $ref: '#/components/schemas/DirectDebitsResponse'
      title: Results Response
      description: ''
    AgentIdentifier:
      type: object
      properties:
        scheme_name:
          type: string
          description: The name of the identification scheme for the Bank
          enum:
          - BICFI
          - OTHER
          - UNSUPPORTED
          examples:
          - BICFI
        identification:
          type: string
          description: Unique and unambiguous identification of the Bank
    AccountsResponse:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/AccountsData'
      - $ref: '#/components/schemas/DataResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    bearer:
      type: http
      scheme: bearer
x-refined-from:
- lean-technologies-data-openapi.yml
- lean-technologies-ksa-core-resources-openapi.yml
