openapi: 3.2.0
info:
  title: UAE - V2 Payment Destination API
  description: ''
  version: 1.0.0
servers:
- url: https://sandbox.leantech.me
  description: Sandbox
- url: https://api2.leantech.me
  description: Production / Pre-live
security:
- bearer: []
tags:
- name: Payment Destination
paths:
  /payments/v1/destinations:
    post:
      summary: Create Payment Destination
      deprecated: false
      description: 'Payment Destination defines the target account to which funds will be transferred.

        It is used when creating a Beneficiary in the user''s bank via the LinkSDK, either through the `.connect()` flow or the `.createBeneficiary()` method.

        In Open Finance flows, the Payment Destination represents the consent beneficiary i.e. the account explicitly authorised to receive funds under the granted consent.'
      operationId: createPaymentDestination
      tags:
      - Payment Destination
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                branch_address:
                  type: string
                  description: The address of the branch that holds the account - required for all beneficiaries outside of ARE. This should be a single string with commas separating lines.
                name:
                  type: string
                  description: The name of the legal entity that owns the account.
                iban:
                  type: string
                  description: 'The IBAN of the account.

                    This is required for all countries except for the US.'
                display_name:
                  type: string
                  description: The friendly display name for the account. This is rendered in the LinkSDK when referencing the Destination.
                address:
                  type: string
                  description: The address of the owner of the destination bank account has registered with the bank.
                city:
                  type: string
                  description: The city that the holding financial institution is located in.
                country:
                  type: string
                  description: The three letter ISO code for the holding financial institution's country.
                swift_code:
                  type: string
                  description: The SWIFT Code for the bank account - required for most international destinations
                account_number:
                  type: string
                  description: The account number for the account.
                customer_id:
                  type: string
                  description: The Customer object associated with this account. This field is optional, and will designate the Destination as owned by the application if not provided.
                ifsc:
                  type: string
                  description: The IFSC number for the bank account - required for international destinations in India.
                transit_number:
                  type: string
                  description: The Transit Number for the bank account - required for international destinations in Canada
                sort_code:
                  type: string
                  description: The Sort Code for the bank account - required for international destinations in the UK
                routing_number:
                  type: string
                  description: The Routing Number for the bank account - required for international destinations in the US.
                postal_code:
                  type: string
                  description: The Postal Code of the owner of the destination bank account has registered with the bank - required for international destinations in the UK or the US
                currency:
                  type: string
                  description: The currency of the destination bank account - required for international destinations in the UK or the US
                bank_type:
                  type: string
                  description: Defines the banking segment of the merchant’s account
                  enum:
                  - RETAIL
                  - SME
                  - CORPORATE
                government_identifier:
                  description: 'A government‑issued identifier for the merchant.

                    This is **required by the UAE Open Finance specification** to uniquely identify the merchant.'
                  allOf:
                  - $ref: '#/components/schemas/GovernmentIdentifierRequest'
              required:
              - name
              - display_name
              - address
              - city
              - country
              - account_number
              - bank_type
              - government_identifier
            example:
              branch_address: 45 Lansing Street, Dubai, United Arab Emirates
              name: Fulani Al Fulani
              iban: AE760260001015000000601
              display_name: Al Fulani
              address: 1234 Sky Bldg.
              city: Abu Dhabi
              country: ARE
              swift_code: EBILAEADXXX
              account_number: '1015000000601'
              bank_type: SME
              government_identifier:
                type: TRADE_LICENSE_NUMBER
                value: CN-2947664
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentDestination'
              example:
                id: 88c71f16-2af3-4b06-979d-92b5354a9174
                status: ACTIVE
                default: false
                branch_address: 45 Lansing Street, Dubai, United Arab Emirates
                name: Fulani Al Fulani
                iban: AE760260001015000000601
                display_name: Al Fulani
                address: 1234 Sky Bldg.
                city: Abu Dhabi
                country: ARE
                swift_code: EBILAEADXXX
                account_number: '1015000000601'
          headers: {}
      security:
      - bearer: []
    get:
      summary: List Payment Destinations
      deprecated: false
      description: Retrieve a list of all Payment Destinations you have in stored with Lean.
      operationId: getPaymentDestinations
      tags:
      - Payment Destination
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentDestination'
              example:
              - id: 6910fddc-417c-f7fd-6e4b-4d7de3d0bc06
                status: CONFIRMED
                default: false
                name: Fake Corp.
                iban: AE27LSWP9X25E4883A13998
                display_name: Fake Corp. - AED
                address: 1234 Sky Bldg.
                city: Abu Dhabi
                country: ARE
                swift_code: EBILEADXXX
                account_number: '000120203'
                currency: AED
              - id: 432150ea-99d1-5bd8-aed3-35d4c7a2b4b4
                status: CONFIRMED
                default: false
                name: Fake Corp.
                iban: AE27LSWP9X25E4883A139K7
                display_name: Fake Corp. - USD
                address: 1234 Sky Bldg.
                city: Abu Dhabi
                country: ARE
                swift_code: EBILEADXXX
                account_number: '000120202'
                currency: USD
          headers: {}
      security:
      - bearer: []
  /customers/v1/{customer_id}/destinations:
    get:
      summary: Get Payment Destinations for Customer
      deprecated: false
      description: Retrieve a list of all Payment Destinations associated with a given Customer.
      operationId: getPaymentDestinationsByCustomerId
      tags:
      - Payment Destination
      parameters:
      - name: customer_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentDestination'
              example:
              - id: 6910fddc-417c-f7fd-6e4b-4d7de3d0bc06
                status: CONFIRMED
                default: false
                name: Fake Corp.
                iban: AE27LSWP9X25E4883A13998
                display_name: Fake Corp. - AED
                address: 1234 Sky Bldg.
                city: Abu Dhabi
                country: ARE
                swift_code: EBILEADXXX
                account_number: '000120203'
                customer_id: 5f76dc1f-a013-4bc0-afad-984c66d50f6d
                currency: AED
              - id: 432150ea-99d1-5bd8-aed3-35d4c7a2b4b4
                status: CONFIRMED
                default: false
                name: Fake Corp.
                iban: AE27LSWP9X25E4883A139K7
                display_name: Fake Corp. - USD
                address: 1234 Sky Bldg.
                city: Abu Dhabi
                country: ARE
                swift_code: EBILEADXXX
                account_number: '000120202'
                customer_id: 5f76dc1f-a013-4bc0-afad-984c66d50f6d
                currency: USD
          headers: {}
      security:
      - bearer: []
  /payments/v1/destinations/{payment_destination_id}:
    get:
      summary: Get Payment Destination by ID
      deprecated: false
      description: Retrieve the details of a single Payment Destination stored by Lean.
      operationId: getPaymentDestinationById
      tags:
      - Payment Destination
      parameters:
      - name: payment_destination_id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentDestination'
              example:
                id: 6910fddc-417c-f7fd-6e4b-4d7de3d0bc06
                status: CONFIRMED
                default: false
                name: Fake Corp.
                iban: AE27LSWP9X25E4883A13998
                display_name: Fake Corp. - AED
                address: 1234 Sky Bldg.
                city: Abu Dhabi
                country: ARE
                swift_code: EBILEADXXX
                account_number: '000120203'
                currency: AED
          headers: {}
      security:
      - bearer: []
components:
  schemas:
    PaymentDestination:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier for the Payment Destination object.
        status:
          type: string
          enum:
          - CONFIRMED
          - PENDING
          description: The status of the Destination
        default:
          type: string
          description: When `true` this Destination is automatically populated into Payment Intents where an alternative `payment_destination_id` is not provided.
        branch_address:
          type: string
          description: The address of the branch that holds the account - required for all beneficiaries outside of ARE. This should be a single string with commas separating lines.
        name:
          type: string
          description: The name of the legal entity that owns the account.
        iban:
          type: string
          description: 'The IBAN of the account.

            This is required for all countries except for the US.'
        display_name:
          type: string
          description: The friendly display name for the account. This is rendered in the LinkSDK when referencing the Destination.
        address:
          type: string
          description: The address of the owner of the destination bank account has registered with the bank.
        city:
          type: string
          description: The city that the holding financial institution is located in.
        country:
          type: string
          description: The three letter ISO code for the holding financial institution's country.
        swift_code:
          type: string
          description: The SWIFT Code for the bank account - required for most international destinations
        account_number:
          type: string
          description: The account number for the account.
        customer_id:
          type: string
          description: The Customer object associated with this account. This field is optional, and will designate the Destination as owned by the application if not provided.
        ifsc:
          type: string
          description: The IFSC number for the bank account - required for international destinations in India.
        transit_number:
          type: string
          description: The Transit Number for the bank account - required for international destinations in Canada
        sort_code:
          type: string
          description: The Sort Code for the bank account - required for international destinations in the UK
        routing_number:
          type: string
          description: The Routing Number for the bank account - required for international destinations in the US.
        postal_code:
          type: string
          description: The Postal Code of the owner of the destination bank account has registered with the bank - required for international destinations in the UK or the US
        currency:
          type: string
          description: The currency of the destination bank account - required for international destinations in the UK or the US
      required:
      - id
      - status
      - default
      - name
      - display_name
      - address
      - city
      - country
      - account_number
    GovernmentIdentifierRequest:
      type: object
      required:
      - type
      - value
      properties:
        value:
          type: string
          description: The identifier value
          minLength: 1
          pattern: ^(?!\s*$).+
        type:
          type: string
          description: The type of Government ID
          enum:
          - EMIRATES_ID
          - TRADE_LICENSE_NUMBER
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
