openapi: 3.1.0
info:
  title: Consents Account On File Account Controls (New) Account Controls (New) Raw Data API
  version: v0.2.3
servers:
- url: https://sandbox.leantech.me
  description: Sandbox
- url: https://api2.leantech.me
  description: Production
security:
- bearerAuth: []
tags:
- name: Raw Data
paths:
  /data/v2/accounts:
    get:
      summary: Get Accounts
      deprecated: false
      description: Retrieve the accounts for an Entity ID
      operationId: fetchAccounts
      tags:
      - Raw Data
      parameters:
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - OK
                    - FAILED
                    - PENDING
                    - CONSENT_EXPIRED
                    description: The status of the request
                  data:
                    type: object
                    properties:
                      accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            account_id:
                              type: string
                              description: The unique identifier for the account. Provided as a UUID.
                              format: uuid
                            status:
                              type: string
                              description: The current status of the account. Indicating whether it is in active use or not.
                              enum:
                              - ENABLED
                              - DISABLED
                              - PENDING
                              - PROFORMA
                              - DELETED
                              - UNSUPPORTED
                            currency:
                              type: string
                              description: The ISO 3 letter currency code that the account stores value in.
                            account_type:
                              type: string
                              description: Indicates whether the account is a retail consumer account or a business account.
                              enum:
                              - PERSONAL
                              - BUSINESS
                              - UNSUPPORTED
                            account_sub_type:
                              type: string
                              description: Indicates the type of account.
                              enum:
                              - CALL
                              - CHARGE_CARD
                              - CREDIT
                              - CURRENT
                              - EMONEY
                              - LOAN
                              - MORTGAGE
                              - PREPAID
                              - SAVINGS
                              - UNSUPPORTED
                            nickname:
                              type: string
                              description: The name for this account as set by the owner of the account. This name is known to the user.
                            account:
                              type: array
                              items:
                                type: object
                                properties:
                                  scheme_name:
                                    type: string
                                    description: Specifies the type of account identifier being provided
                                    enum:
                                    - PAN
                                    - IBAN
                                    - BBAN
                                    - OTHER
                                    - UNSUPPORTED
                                  identification:
                                    type: string
                                    description: The identification value specified by the scheme_type
                                  name:
                                    type: string
                                    description: Associated name of the identifier
                                required:
                                - scheme_name
                                - identification
                            description:
                              type: string
                              description: Specifies the description of the account sub-type.
                            regional_data:
                              type: object
                              properties:
                                standard:
                                  type: string
                                  description: A description of the standard the regional data is returned in formatted as `"{ISO 3 Letter Country Code}.{Standard}.{Version}"`. In the UAE V2 API this will always return as `"ARE.LEAN.V1"`
                                data:
                                  properties:
                                    account_id:
                                      type: string
                                      description: The unique identifier for the account. Provided as a UUID.
                                    account_number:
                                      type: string
                                      description: The account number for the account.
                                    name:
                                      type: string
                                      description: The product name of the account
                                    currency_code:
                                      type: string
                                      description: The ISO 3 letter currency code the account stores value in,
                                    type:
                                      type: string
                                      enum:
                                      - CURRENT
                                      - SAVINGS
                                      - CREDIT
                                      description: Indicates the type of account
                                    iban:
                                      type: string
                                      description: The IBAN for the account.
                                  required:
                                  - account_id
                                  - account_number
                                  - name
                                  - currency_code
                                  - type
                                  - iban
                                  $ref: '#/components/schemas/Accounts'
                              required:
                              - standard
                              - data
                              description: Region specific data response. Only provided when verbose=true in the originating request.
                          required:
                          - account_id
                        description: An array of accounts associated with the Entity
                      page:
                        $ref: '#/components/schemas/Pagination'
                      type:
                        type: string
                        description: The endpoint the original request was made to.
                    required:
                    - accounts
                    - page
                    - type
                  results_id:
                    type: string
                    description: The ID for this result, this is used when retrieving results from the /results endpoint.
                  message:
                    type: string
                    description: Further explanation of the response
                  timestamp:
                    type: string
                    description: The timestamp of when the response was retrieved
                  status_detail:
                    type: object
                    properties:
                      granular_status_code:
                        type: string
                        description: Detailed error code
                      status_additional_info:
                        type: string
                        description: Further detail on the encountered error
                    required:
                    - granular_status_code
                    - status_additional_info
                    description: Further detail on the error if status=FAILED
                required:
                - status
                - data
                - results_id
                - message
                - timestamp
                - status_detail
              example:
                status: OK
                data:
                  accounts:
                  - account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                    status: ENABLED
                    currency: AED
                    account_type: PERSONAL
                    account_sub_type: CURRENT
                    nickname: Current Account
                    account:
                    - scheme_name: IBAN
                      identification: AE070331234567890123456
                    - scheme_name: BBAN
                      identification: '4567890123456'
                    description: Current Account
                    regional_data:
                      standard: ARE.LEAN.V1
                      data:
                        account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                        account_number: '4567890123456'
                        name: Current Account
                        currency_code: AED
                        type: CURRENT
                        iban: AE070331234567890123456
                  page:
                    number: 0
                    size: 1
                    total_elements: 1
                    total_pages: 1
                  type: accounts
                results_id: f5e6ab0e-9586-4d42-81c2-f2c5cbdad3cf
                message: Data successfully retrieved
                timestamp: '2023-10-19T16:27:10.500036785Z'
          headers: {}
      security:
      - bearer: []
  /data/v2/accounts/{account_id}/balances:
    get:
      summary: Get Balances
      deprecated: false
      description: 'Get the balances for a specific account given an accountId. The accountId can be found by making a call to the /accounts endpoint.


        Requires an active entity with the `balances` permission to use.'
      operationId: fetchBalances
      tags:
      - Raw Data
      parameters:
      - name: account_id
        in: path
        description: 'The `account_id` to fetch balance(s) for '
        required: true
        example: ''
        schema:
          type: string
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The endpoint the original request was made to
                      page:
                        type: object
                        properties: {}
                      balances:
                        type: array
                        items:
                          type: object
                          properties:
                            account_id:
                              type: string
                              description: The `account_id` this balance is related to.
                            credit_debit_indicator:
                              type: string
                              description: Indicates whether the amount returned is a credit or a debit amount. A value of 0 is returned as CREDIT.
                              enum:
                              - CREDIT
                              - DEBIT
                              - UNSUPPORTED
                            amount:
                              $ref: '#/components/schemas/CurrencyAmount'
                            type:
                              type: string
                              description: 'The type of balance for the account.


                                Note: Banks support different types for presenting account balance, so this list is used to support different Bank systems in KSA.'
                              enum:
                              - CLOSING_AVAILABLE
                              - CLOSING_BOOKED
                              - CLOSING_CLEARED
                              - EXPECTED
                              - FORWARD_AVAILABLE
                              - INFORMATION
                              - INTERIM_AVAILABLE
                              - INTERIM_BOOKED
                              - INTERIM_CLEARED
                              - OPENING_AVAILABLE
                              - OPENING_BOOKED
                              - OPENING_CLEARED
                              - PREVIOUSLY_CLOSED
                            date_time:
                              type: string
                              description: The date and time that this balance object was generated.
                            credit_line:
                              type: array
                              items:
                                type: object
                                properties:
                                  included:
                                    type: boolean
                                    description: 'Boolean flag to Indicate whether or not a credit line is included in the balance of the account. Usage: If not present, credit line is not included in the balance amount of the account.'
                                  amount:
                                    $ref: '#/components/schemas/CurrencyAmount'
                                  type:
                                    type: string
                                    enum:
                                    - AVAILABLE
                                    - CREDIT
                                    - EMERGENCY
                                    - "PRE-AGREED\t"
                                    - TEMPORARY
                                    description: 'Type of credit line provided to the account.

                                      Note: Banks support different types of credit lines on accounts, so this list is used to support different banking systems in KSA.'
                                required:
                                - included
                                - amount
                                - type
                              description: Information on any credit available to the balance of this account. Returned as an array.
                            regional_data:
                              type: object
                              properties:
                                standard:
                                  type: string
                                  description: A description of the standard the regional data is returned in formatted as `"{ISO 3 Letter Country Code}.{Standard}.{Version}"`. In the UAE V2 API this will always return as `"ARE.LEAN.V1"`
                                data:
                                  properties:
                                    account_id:
                                      type: string
                                      description: The `account_id` this balance is related to.
                                    balance:
                                      type: number
                                      description: The stored balance in the account a negative value may be returned for example for `CREDIT` accounts or current accounts in overdraft.
                                    currency_code:
                                      type: string
                                      maxLength: 3
                                      minLength: 3
                                      examples:
                                      - AED
                                      - SAR
                                      - USD
                                      description: The 3 letter ISO code for the denominated currency of the account balance.
                                    account_name:
                                      type: string
                                      description: The name of the account the balance has been fetched for
                                    account_type:
                                      type: string
                                      description: The type of the account
                                      enum:
                                      - CURRENT
                                      - SAVINGS
                                      - CREDIT
                                  required:
                                  - account_id
                                  - balance
                                  - currency_code
                                  - account_name
                                  - account_type
                                  $ref: '#/components/schemas/Balances'
                              required:
                              - data
                              - standard
                              description: Region specific data response. Only provided when `verbose=true` in the originating request.
                          required:
                          - account_id
                          - credit_debit_indicator
                          - amount
                          - date_time
                    required:
                    - type
                    - page
                    - balances
                  status:
                    type: string
                    description: The status of the request.
                    enum:
                    - OK
                    - FAILED
                    - PENDING
                    - CONSENT_EXPIRED
                  results_id:
                    type: string
                    description: The ID for this result, this is used when retrieving results from the `/results` endpoint.
                  message:
                    type: string
                    description: Further explanation of the response
                  timestamp:
                    type: string
                    description: The timestamp of when the response was retrieved
                  meta:
                    type: string
                  status_detail:
                    type: object
                    properties:
                      granular_status_code:
                        type: string
                        description: Detailed error code
                      status_additional_info:
                        type: string
                        description: Further detail on the encountered error.
                    description: Further detail on the error if status is `FAILED`
                required:
                - data
                - status
                - results_id
                - message
                - timestamp
              example:
                status: OK
                data:
                  balances:
                  - account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                    credit_debit_indicator: CREDIT
                    amount:
                      amount: 132.31
                      currency: AED
                    type: INTERIM_AVAILABLE
                    regional_data:
                      standard: ARE.LEAN.V1
                      data:
                        balance: 132.31
                        currency_code: AED
                        account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                        account_name: Liv Current Account
                        account_type: CURRENT
                  page:
                    number: 0
                    size: 1
                    total_elements: 1
                    total_pages: 1
                  type: balances
                results_id: cf7700fa-01b6-4f06-b77f-e173b6ab84ae
                message: Data successfully retrieved
                timestamp: '2023-10-20T06:46:09.934801534Z'
          headers: {}
      security:
      - bearer: []
  /data/v2/accounts/{account_id}/transactions:
    get:
      summary: Get Transactions
      deprecated: false
      description: Get the transactions for a specific account given an accountId. The accountId can be found by making a call to the /accounts endpoint.
      operationId: fetchTransactions
      tags:
      - Raw Data
      parameters:
      - name: account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) you want to query transactions for.
        required: false
        schema:
          format: date
          type: string
      - name: end_date
        in: query
        description: The end date in UTC (in the format YYYY-MM-DD) you want to query transactions for.
        required: false
        schema:
          format: date
          type: string
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the request.
                    enum:
                    - OK
                    - PENDING
                    - FAILED
                    - CONSENT_EXPIRED
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          type: object
                          properties:
                            account_id:
                              type: string
                              description: Unique identifier for the account where the transaction is credited/debited from
                              format: uuid
                            transaction_id:
                              type: string
                              description: Unique identifier for a transaction
                            transaction_information:
                              type: string
                            credit_debit_indicator:
                              type: string
                              enum:
                              - CREDIT
                              - DEBIT
                              - UNSUPPORTED
                            amount:
                              $ref: '#/components/schemas/CurrencyAmount'
                            transaction_mutability:
                              type: string
                              description: Whether this transaction can be considered in a final state or may change in future fetches of transaction data.
                              enum:
                              - MUTABLE
                              - IMMUTABLE
                              - UNSUPPORTED
                            booking_date_time:
                              type: string
                              description: The UTC datetime the transaction was executed. Note that in the case the bank only provides the date with no time, we assume the transaction ocurred at 00:00 in the local timezone and then convert to UTC.
                            insights:
                              type: object
                              properties:
                                description_cleansed:
                                  type: string
                                  description: A cleansed statement descriptor
                                category:
                                  type: string
                                  enum:
                                  - BANK_FEES_AND_CHARGES
                                  - CHARITY
                                  - EDUCATION
                                  - ENTERTAINMENT
                                  - GOVERNMENT
                                  - GROCERIES
                                  - HEALTH_AND_WELLBEING
                                  - LOANS_AND_INVESTMENT
                                  - RENT_AND_SERVICES
                                  - RESTAURANTS_DINING
                                  - RETAIL
                                  - SALARY_AND_REVENUE
                                  - TRANSFER
                                  - TRANSPORT
                                  - TRAVEL
                                  - OTHER
                                category_confidence:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  description: Confidence of category expressed as a percentage between 0 and 1
                              required:
                              - description_cleansed
                              - category
                              - category_confidence
                            status:
                              type: string
                              enum:
                              - BOOKED
                              - PENDING
                              - REJECTED
                              - UNSUPPORTED
                              description: Status of the transaction
                            index:
                              type: integer
                              description: Indicates the order of the transactions. For each date, the first transaction will have an index of 0.
                            regional_data:
                              type: object
                              properties:
                                standard:
                                  type: string
                                  description: A description of the standard the regional data is returned in formatted as "{ISO 3 Letter Country Code}.{Standard}.{Version}". In the UAE V2 API this will always return as `"ARE.LEAN.V1"`
                                data:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Transaction identifier
                                    description:
                                      type: string
                                      description: Statement descriptor
                                    account_id:
                                      type: string
                                      description: Account ID that owns the transaction
                                    amount:
                                      type:
                                      - integer
                                      - number
                                      description: Amount of transaction (negative numbers are outflow positive numbers are inflow)
                                    currency_code:
                                      type: string
                                      description: 3 letter ISO code for the currency the transaction was processed in.
                                    index:
                                      type: integer
                                      description: Indicates the order of the transactions. For each date, the first transaction will have an index of 0.
                                    pending:
                                      type: boolean
                                      description: Whether the transaction has been settled yet or not
                                    timestamp:
                                      type: string
                                      description: When the transaction was processed
                                  required:
                                  - id
                                  - description
                                  - account_id
                                  - amount
                                  - currency_code
                                  - index
                                  - pending
                                  - timestamp
                              required:
                              - standard
                              - data
                              description: Region specific data response. Only provided when `verbose=true` in the originating request.
                          required:
                          - account_id
                          - transaction_id
                          - transaction_information
                          - credit_debit_indicator
                          - amount
                          - transaction_mutability
                          - booking_date_time
                          - insights
                          - regional_data
                          - status
                          - index
                      page:
                        $ref: '#/components/schemas/Pagination'
                      type:
                        type: string
                        description: The endpoint the original request was made to
                    required:
                    - transactions
                    - page
                    - type
                  results_id:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: string
                required:
                - status
                - data
                - results_id
                - message
                - timestamp
              example:
                status: OK
                data:
                  transactions:
                  - account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                    transaction_id: 8422a5ab-fedc-4d7c-a5d8-75112cc3b5cf
                    transaction_information: Transfer via LEAN2P
                    credit_debit_indicator: DEBIT
                    amount:
                      amount: 50
                      currency: AED
                    transaction_mutability: IMMUTABLE
                    booking_date_time: '2023-10-01T20:00:00Z'
                    insights:
                      description_cleansed: LEAN2P
                      category: TRANSFER
                      category_confidence: 0.64
                    regional_data:
                      standard: ARE.LEAN.V1
                      data:
                        id: 8422a5ab-fedc-4d7c-a5d8-75112cc3b5cf
                        description: Transfer via LEAN2P
                        account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                        amount: -50
                        currency_code: AED
                        index: 0
                        pending: false
                        timestamp: '2023-10-01T20:00:00Z'
                    status: BOOKED
                    index: 0
                  - account_id: c568aac1-df29-489b-80f8-63aaad5f6a2f
                    transaction_id: d9b67a03-8485-4215-be0a-231a50205152
                    transaction_information: SUSHI CIRCLE ACHRAFIEH LBN
                    credit_debit_indicator: CREDIT
                    amount:
                      amount: 9576.72
                      currency: AED
                    transaction_mutability: IMMUTABLE
                    booking_date_time: '2022-10-19T20:00:00Z'
                    insights:
                      description_cleansed: SUSHI CIRCLE
                      category: RESTAURANTS_DINING
                      category_confidence: 0.98
                    regional_data:
                      standard: ARE.LEAN.V1
                      data:
                        id: d9b67a03-8485-4215-be0a-231a50205152
                        description: SUSHI CIRCLE ACHRAFIEH LBN
                        account_id: c4c1a3a9-73ec-4b3e-ae79-f9d3dbb1438b
                        amount: 9576.72
                        currency_code: AED
                        index: 0
                        pending: false
                        timestamp: '2022-10-19T20:00:00Z'
                    status: BOOKED
                    index: 0
                  page:
                    number: 0
                    size: 2
                    total_elements: 2
                    total_pages: 1
                  type: transactions
                results_id: c1e71678-14bc-45a8-a3a7-2d8e77a01607
                message: Data successfully retrieved
                timestamp: '2023-10-20T07:46:15.497910449Z'
          headers: {}
      security:
      - bearer: []
  /data/v2/identity:
    get:
      summary: Retrieve Identity
      deprecated: false
      description: Get the identity details of the account holder stored at the bank.
      operationId: fetchCurrentIdentity
      tags:
      - Raw Data
      parameters:
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the request.
                    enum:
                    - OK
                    - FAILED
                    - PENDING
                    - CONSENT_EXPIRED
                  data:
                    type: object
                    properties:
                      identities:
                        type: array
                        items:
                          type: object
                          properties:
                            full_legal_name:
                              type: string
                            email_address:
                              type: string
                            mobile_number:
                              type: string
                            Address:
                              $ref: '#/components/schemas/Address'
                            regional_data:
                              type: object
                              properties:
                                standard:
                                  type: string
                                  description: A description of the standard the regional data is returned in formatted as "{ISO 3 Letter Country Code}.{Standard}.{Version}". In the UAE V2 API this will always return as `"ARE.LEAN.V1"`
                                data:
                                  properties:
                                    full_name:
                                      type: string
                                      description: The full legal name of the account holder.
                                    mobile_number:
                                      type: string
                                      description: The registered mobile number of the account holder.
                                    gender:
                                      type: string
                                      description: The registered gender of the account holder.
                                    national_identity_number:
                                      type: string
                                      description: The registered identity number of the account holder.
                                    birth_date:
                                      type: string
                                      description: The date of birth of the account holder.
                                    email_address:
                                      type: string
                                      description: The registered email address of the account holder.
                                    address:
                                      type: string
                                      description: The registered address of the account holder.
                                  required:
                                  - full_name
                                  - mobile_number
                                  - gender
                                  - national_identity_number
                                  - birth_date
                                  - email_address
                                  - address
                                  $ref: '#/components/schemas/Identity'
                              required:
                              - standard
                              - data
                      page:
                        $ref: '#/components/schemas/Pagination'
                      type:
                        type: string
                        description: The endpoint the original request was made to.
                    required:
                    - identities
                    - page
                    - type
                  results_id:
                    type: string
                    description: The ID for this result, this is used when retrieving results from the /results endpoint.
                  message:
                    type: string
                    description: Further explanation of the response
                  timestamp:
                    type: string
                    description: The timestamp of when the response was retrieved
                required:
                - status
                - data
                - results_id
                - message
                - timestamp
              example: "{\n    \"status\": \"OK\",\n    \"data\": {\n        \"identities\": [\n            {\n                \"full_legal_name\": \"MARY SMITH\",\n                \"email_address\": \"mary@gmail.com\",\n                \"mobile_number\": \"971585673015\",\n                \"address\": {\n                    \"address_type\": \"RESIDENTIAL\",\n                    \"building_type\": \"Apartment\",\n                    \"apartment_or_villa_number\": \"123\",\n                    \"building_name\": \"Example Tower\",\n                    \"street\": \"Example Street\",\n                    \"area\": \"Example Area\",\n                    \"town_name\": \"Example Town\",\n                    \"region\": \"Example Region\",\n                    \"country\": \"United Arab Emirates\",\n                    \"post_code\": \"0000\",\n                    \"po_box\": \"0000\",\n                    \"street_address\": \"123, Example Tower, Example Street\",\n                    \"address_line\": \"123, Example Tower, Example Street, Example Area, Example Town, Example Region, United Arab Emirates\"\n      }\n            \n                \"regional_data\": {\n                    \"standard\": \"ARE.LEAN.V1\",\n                    \"data\": {\n                        \"full_name\": \"MARY SMITH\",\n                        \"mobile_number\": \"971585673015\",\n                        \"gender\": \"FEMALE\",\n                        \"national_identity_number\": \"784-1990-8478484-9\",\n                        \"birth_date\": \"1990-05-09\",\n                        \"email_address\": \"mary@gmail.com\",\n                        \"address\": \"4411, BAHAR RESIDENCES, SHEIKH ZAYED ROAD, Dubai, United Arab Emirates\"\n                    }\n                }\n            }\n        ],\n        \"page\": {\n            \"number\": 0,\n            \"size\": 1,\n            \"total_elements\": 1,\n            \"total_pages\": 1\n        },\n        \"type\": \"identities\"\n    },\n    \"results_id\": \"6dfa266b-4d33-483e-a226-aae0ce9bcd2b\",\n    \"message\": \"Data successfully retrieved\",\n    \"timestamp\": \"2023-10-20T06:58:11.457017332Z\"\n}"
          headers: {}
      security:
      - bearer: []
  /data/v2/accounts/{account_id}/identities:
    servers: []
    get:
      operationId: fetchAllIdentities
      summary: Get identities
      description: "Get the identities of all the people associated to an account given an accountId. \nThe accountId can be found by making a call to the /accounts endpoint.\nRequires the following permissions: `identities`\n"
      parameters:
      - $ref: '#/components/parameters/AccountIdParameter'
      - $ref: '#/components/parameters/AsyncParameter'
      - $ref: '#/components/parameters/PageParameter'
      - $ref: '#/components/parameters/SizeParameter'
      - $ref: '#/components/parameters/EntityIdParameter'
      - $ref: '#/components/parameters/MetaParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentitiesResult'
              examples:
                Get_Identities_KSA_Example:
                  summary: Successful get identities - KSA
                  value:
                    status: OK
                    results_id: 37c84e2a-9f15-4d76-b218-56f8a31c2e5d
                    message: Data successfully retrieved
                    meta: null
                    timestamp: '2025-09-12T17:15:05.424086733Z'
                    status_detail: null
                    data:
                      account_id: 53fd3763-8089-4a85-ac26-b66c8d0a950a
                      identities:
                      - entity_id: a5b23e1f-67d8-42c9-a815-98f4c7e36d92
                        full_legal_name: ABDULLAH AHMED AL QAHTANI
                        name: ABDULLAH
                        phone: '+966541782365'
                        email_address: abdullah.qahtani@example.com
                        legal_structure: ''
                        mobile_number: '+966541782365'
                        address:
                          address_type: RESIDENTIAL
                          building_type: Apartment
                          apartment_or_villa_number: 12A
                          building_name: Al Yasmin Residence
                          street: King Abdulaziz Road
                          area: Al Yasmin
                          town_name: Riyadh
                          region: Riyadh
                          country: SA
                          post_code: '13325'
                          po_box: '123'
                          street_address: 12A Al Yasmin Residence, King Abdulaziz Road
                          address_line: 12A Al Yasmin Residence, King Abdulaziz Road, Riyadh, SA
                        account_role: ADMINISTRATOR
                        party_type: SOLE
                        party_id: PT_0000000029837526
                        party_number: 0000000029837526
                        birth_date: '1985-03-15'
                        gender: MALE
                      - entity_id: c2d5c0fd-3a4b-4bc8-9d19-e0f5c2e6b2cc
                        full_legal_name: FATIMAH SALEH AL HARBI
                        name: FATIMAH
                        phone: '+966501234567'
                        email_address: fatimah.harbi@example.com
                        legal_structure: ''
                        mobile_number: '+966501234567'
                        address:
                          address_type: RESIDENTIAL
                          building_type: Villa
                          apartment_or_villa_number: '8'
                          building_name: Al Nakheel Villas
                          street: Prince Turki Street
                          area: Al Nakheel
                          town_name: Riyadh
                          region: Riyadh
                          country: SA
                          post_code: '13521'
                          po_box: '456'
                          street_address: Villa 8, Al Nakheel Villas, Prince Turki Street
                          address_line: Villa 8, Al Nakheel Villas, Prince Turki Street, Riyadh, SA
                        account_role: DELEGATE
                        party_type: DELEGATE
                        party_id: PT_0000000045123987
                        party_number: 0000000045123987
                        national_id: '9876543210'
                        birth_date: '1990-07-22'
                        gender: FEMALE
                      page:
                        number: 0
                        size: 50
                        total_elements: 2
                        total_pages: 1
                      type: identities
                    type: identities
                    refreshed_at: '2025-08-10T10:45:27.963Z'
                BankIssueExample:
                  summary: bank issue response
                  value:
                    status: FAILED
                    results_id: 516adc40-af36-4284-bfba-46ec69dfe6d3
                    message: Your bank is currently experiencing technological problems. Please try again later.
                    meta: null
                    timestamp: '2025-09-12T05:13:49.739987382Z'
                    status_detail:
                      granular_status_code: BANK_ISSUE
                      status_additional_info: Your bank is currently experiencing technological problems. Please try again later.
                    refreshed_at: null
        '202':
          description: Accepted (Asynchronous request)
          content:
            application/json:
              examples:
                GetV2AsyncExample:
                  $ref: '#/components/examples/AsyncProcessingV2Example'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InvalidParametersExample'
        '404':
          description: Account or entity not found
          content:
            application/json:
              examples:
                UnknownAccountExample:
                  $ref: '#/components/examples/UnknownAccountExample'
                UnknownEntityExample:
                  $ref: '#/components/examples/UnknownEntityExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InternalServerErrorExample'
      tags:
      - Raw Data
  /data/v2/accounts/{account_id}/beneficiaries:
    get:
      summary: Get Beneficiaries
      deprecated: false
      description: Get the beneficiaries for a specific account given an accountId. The accountId can be found by making a call to the /accounts endpoint.
      operationId: fetchBeneficiaries
      tags:
      - Raw Data
      parameters:
      - name: account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BeneficiariesResponse'
          headers: {}
      security:
      - bearer: []
  /data/v2/accounts/{account_id}/direct-debits:
    get:
      summary: Get Direct Debits
      deprecated: false
      description: Get the direct debits for a specific account given an accountId. The accountId can be found by making a call to the /accounts endpoint.
      operationId: fetchDirectDebits
      tags:
      - Raw Data
      parameters:
      - name: account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DirectDebitsResponse'
          headers: {}
      security:
      - bearer: []
  /data/v2/accounts/{account_id}/scheduled-payments:
    get:
      summary: Get Scheduled Payments
      deprecated: false
      description: Get the scheduled payments for a specific account given an accountId. The accountId can be found by making a call to the /accounts endpoint.
      operationId: fetchScheduledPayments
      tags:
      - Raw Data
      parameters:
      - name: account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduledPaymentsResponse'
          headers: {}
      security:
      - bearer: []
  /data/v2/accounts/{account_id}/standing-orders:
    get:
      summary: Get Standing Orders
      deprecated: false
      description: Get the standing orders for a specific account given an accountId. The accountId can be found by making a call to the /accounts endpoint.
      operationId: getStandingOrders
      tags:
      - Raw Data
      parameters:
      - name: account_id
        in: path
        description: ''
        required: true
        example: ''
        schema:
          type: string
      - name: async
        in: query
        description: When `true` the API will only return a `results_id` which can be fetched from the `/results` endpoint when ready.
        required: false
        schema:
          default: false
          type: boolean
      - name: page
        in: query
        description: The page you're requesting - returns page 0 of a response if not specified.
        required: false
        schema:
          format: int32
          default: 0
          type: integer
      - name: size
        in: query
        description: The number of objects you want to return as a page size.
        required: false
        schema:
          format: int32
          default: 50
          maximum: 100
          type: integer
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          format: uuid
          type: string
      - name: meta
        in: query
        description: 'Additional data you would like to store against the request. Example: {"foo": "val"}'
        required: false
        schema:
          type: string
      - name: force_refresh
        in: query
        description: 'Ignore Lean''s caching and force a call to the bank. This may have unwanted performance issues. '
        required: false
        schema:
          default: false
          type: boolean
      - name: verbose
        in: query
        description: Shows `regional_data` values in responses when true. Defaults to `false`.
        required: false
        schema:
          default: false
          type: boolean
      - name: customer-ip
        in: header
        description: IP Address of the customer. Required to indicate that the user is currently on-session. When this value isn't supplied the request is treated as a background refresh. Banks may place limits on the number of background refreshes can be performed over 24 hours.
        required: false
        example: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StandingOrdersResponse'
          headers: {}
      security:
      - bearer: []
components:
  schemas:
    DirectDebitsData:
      allOf:
      - $ref: '#/components/schemas/PageAndType'
      - type: object
        properties:
          direct_debits:
            type: array
            items:
              $ref: '#/components/schemas/DirectDebit'
    DataResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/Result'
      - type: object
        properties:
          refreshed_at:
            description: The datetime of when the data was refreshed
            type:
            - string
            - 'null'
            format: date-time
          type:
            description: The endpoint the original request was made to.
            type:
            - string
            - 'null'
    StandingOrderSau:
      required:
      - account_id
      - frequency
      - final_payment_date_time
      - first_payment_date_time
      - number_of_payments
      - first_payment_amount
      - final_payment_amount
      - standing_order_id
      type: object
      properties:
        account_id:
          type: string
        account_holder_name:
          description: Name of the account holder
          type: string
        account_holder_short_name:
          description: Short form of the name of the account holder
          type: string
        standing_order_id:
          description: Unique identifier for a standing order
          type: string
        standing_order_type:
          type: string
        standing_order_status_code:
          type: string
        first_payment_date_time:
          format: date-time
          type: string
        last_payment_date_time:
          format: date-time
          type: string
        next_payment_date_time:
          format: date-time
          type: string
        final_payment_date_time:
          format: date-time
          type: string
        frequency:
          $ref: '#/components/schemas/FrequencySau'
        number_of_payments:
          format: int32
          type: integer
        creditor_reference:
          type: string
        first_payment_amount:
          $ref: '#/components/schemas/CurrencyAmountSau'
        last_payment_amount:
          $ref: '#/components/schemas/CurrencyAmountSau'
        next_payment_amount:
          $ref: '#/components/schemas/CurrencyAmountSau'
        final_payment_amount:
          $ref: '#/components/schemas/CurrencyAmountSau'
        creditor_agent:
          $ref: '#/components/schemas/AgentIdentifierSau'
        creditor_account:
          type: array
          items:
            $ref: '#/components/schemas/AccountIdentifierSau'
        purpose:
          description: ''
          type: string
        supplementary_data:
          description: ''
    ScheduledPaymentsData:
      allOf:
      - $ref: '#/components/schemas/PageAndType'
      - type: object
        properties:
          scheduled_payments:
            type: array
            items:
              $ref: '#/components/schemas/ScheduledPayment'
    AccountIdentifier:
      type: object
      properties:
        scheme_name:
          type: string
          description: Name of the identification scheme for the account.
          enum:
          - IBAN
          - BBAN
          - PAN
          - OTHER
          - UNSUPPORTED
        identification:
          type: string
          description: Identification value for the account assigned by the bank based on the Account Scheme Name
        name:
          type:
          - string
          - 'null'
          description: The name of the account owner(s) represented at an account level
    IdentitiesResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/DataResult'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/IdentitiesData'
    PageMetadata:
      description: Metadata about the current page of results
      type: object
      properties:
        number:
          description: The current page being returned by the API
          type: integer
          format: int32
        size:
          description: The page size requested
          type: integer
          format: int32
        total_elements:
          description: The total number of elements in all pages
          type: integer
          format: int64
        total_pages:
          description: The total number of pages retrievable
          type: integer
          format: int32
        sort:
          description: Sort parameters applied to the results
          type: array
          items:
            type: string
      required:
      - number
      - size
      - total_elements
      - total_pages
    BeneficiarySau:
      required:
      - account_id
      - beneficiary_id
      - beneficiary_type
      type: object
      properties:
        account_id:
          type: string
        account_holder_name:
          description: Name of the account holder
          type: string
        account_holder_short_name:
          description: Short form of the name of the account holder
          type: string
        beneficiary_id:
          type: string
        beneficiary_type:
          enum:
          - ACTIVATED
          - NOT_ACTIVATED
          - UNSUPPORTED
          type: string
        reference:
          type: string
        creditor_agent:
          $ref: '#/components/schemas/AgentIdentifierWithAddressRequiredSau'
        creditor_account:
          type: array
          items:
            $ref: '#/components/schemas/AccountIdentifierSau'
        supplementary_data:
          type: object
          additionalProperties:
            type: string
          properties: {}
    DirectDebitRegionalData:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/DirectDebitSau'
      - $ref: '#/components/schemas/StandardSau'
    ScheduledPaymentsResponse:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ScheduledPaymentsData'
      - $ref: '#/components/schemas/DataResponse'
    Identity:
      type: object
      properties:
        full_name:
          type: string
          description: The full legal name of the account holder.
        mobile_number:
          type: string
          description: The registered mobile number of the account holder.
        gender:
          type: string
          description: The registered gender of the account holder.
        national_identity_number:
          type: string
          description: The registered identity number of the account holder.
        birth_date:
          type: string
          description: The date of birth of the account holder.
        email_address:
          type: string
          description: The registered email address of the account holder.
        address:
          type: string
          description: The registered address of the account holder.
      required:
      - full_name
      - mobile_number
      - gender
      - national_identity_number
      - birth_date
      - email_address
      - address
    Frequency:
      type: object
      properties:
        frequency_type:
          enum:
          - NOT_KNOWN
          - EVERY_DAY
          - EVERY_WORKING_DAY
          - INTERVAL_DAY
          - INTERVAL_WEEK_DAY
          - WEEK_IN_MONTH_DAY
          - INTERVAL_MONTH_DAY
          - QUARTER_DAY
          - OTHER
          - UNSUPPORTED
          type: string
        interval:
          type: string
    ScheduledPaymentRegionalData:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ScheduledPaymentSau'
      - $ref: '#/components/schemas/StandardSau'
    AccountIdentifierSau:
      required:
      - identification
      - identification_type
      type: object
      properties:
        identification_type:
          enum:
          - IBAN
          - MASKED_PAN
          - ACCOUNT_NUMBER
          - COMMERCIAL_REGISTRATION_NUMBER
          - EMAIL
          - MOBILE_NUMBER
          - NATIONAL_ID
          - IQAMA_NUMBER
          - PASSPORT_NUMBER
          - UNSUPPORTED
          type: string
        identification:
          type: string
    Address_2:
      description: The full address details
      type: object
      properties:
        address_line:
          description: Full address line as retrieved from bank
          type: string
        address_type:
          description: The type of address (e.g., residential, business).
          type: string
        building_type:
          description: The type of building, apartments or villa for example.
          type: string
        apartment_or_villa_number:
          description: The apartment or villa/house number.
          type: string
        building_name:
          description: The name of the building.
          type: string
        street:
          description: The street name.
          type: string
        area:
          description: The area or neighborhood.
          type: string
        street_address:
          description: Street address which may include house number, street name and PO Box
          type: string
        post_code:
          description: The Zip or postal code associated with the address.
          type: string
        town_name:
          description: The town or city name where the address is located.
          type: string
        region:
          description: The region of the address. State, province, prefecture, or region
          type: string
        po_box:
          description: The post office box number.
          type: string
        country:
          description: The country where the address is located.
          type: string
      x-toBuilder: true
    AgentIdentifier:
      type: object
      properties:
        scheme_name:
          type: string
          description: The name of the identification scheme for the Bank
          enum:
          - BICFI
          - OTHER
          - UNSUPPORTED
          examples:
          - BICFI
        identification:
          type: string
          description: Unique and unambiguous identification of the Bank
    DataResponse:
      type: object
      properties:
        status:
          description: The status of the results. For async requests, initially returns PENDING.
          enum:
          - OK
          - FAILED
          - PENDING
          - CONSENT_EXPIRED
          type: string
        results_id:
          type: string
          description: The ID for this result, this is used when retrieving results from the `/results` endpoint.
          format: uuid
        message:
          description: A message describing the status of the request.
          type: string
        meta:
          type:
          - string
          - 'null'
          description: Optional metadata associated with the result.
        timestamp:
          format: date-time
          description: The timestamp with timezone offset indicating when the response was generated.
          type: string
        status_detail:
          description: Further detail on the error if status=FAILED
          $ref: '#/components/schemas/StatusDetailObject'
      required:
      - status
      - results_id
      - message
      - meta
      - timestamp
      - status_detail
    StandingOrder:
      required:
      - account_id
      - standing_order_id
      - final_payment_date_time
      - first_payment_date_time
      - number_of_payments
      - first_payment_amount
      - final_payment_amount
      type: object
      properties:
        account_id:
          type: string
        standing_order_id:
          description: Unique identifier for a standing order
          type: string
        standing_order_status_code:
          enum:
          - ACTIVE
          - INACTIVE
          type: string
        first_payment_date_time:
          format: date-time
          type: string
        last_payment_date_time:
          format: date-time
          type: string
        next_payment_date_time:
          format: date-time
          type: string
        final_payment_date_time:
          format: date-time
          type: string
        frequency:
          $ref: '#/components/schemas/Frequency'
        number_of_payments:
          format: int32
          type: integer
        reference:
          type: string
        first_payment_amount:
          $ref: '#/components/schemas/CurrencyAmount_2'
        last_payment_amount:
          $ref: '#/components/schemas/CurrencyAmount_2'
        next_payment_amount:
          $ref: '#/components/schemas/CurrencyAmount_2'
        final_payment_amount:
          $ref: '#/components/schemas/CurrencyAmount_2'
        creditor_agent:
          $ref: '#/components/schemas/AgentIdentifier'
        creditor_account:
          $ref: '#/components/schemas/AccountIdentifier'
        regional_data:
          $ref: '#/components/schemas/StandingOrderRegionalData'
          description: Region specific data response. Only provided when `verbose=true` in the originating request.
    DirectDebitSau:
      required:
      - frequency
      - direct_debit_status_code
      - direct_debit_id
      - account_id
      - mandate_identification
      - name
      type: object
      properties:
        account_id:
          type: string
        direct_debit_id:
          type: string
        direct_debit_status_code:
          type: string
        frequency:
          type: string
        mandate_identification:
          type: string
        name:
          type: string
        previous_payment_date_time:
          format: date-time
          type: string
        previous_payment_amount:
          $ref: '#/components/schemas/CurrencyAmountSau'
    PostalAddress:
      type: object
      properties:
        address_line:
          type: string
        address_type:
          enum:
          - BUSINESS
          - CORRESPONDENCE
          - DELIVERY_TO
          - MAIL_TO
          - PO_BOX
          - POSTAL
          - RESIDENTIAL
          - STATEMENT
          - UNSUPPORTED
          type: string
        building_number:
          type: string
        country:
          type: string
        department:
          type: string
        post_code:
          type: string
        street_name:
          type: string
        sub_department:
          type: string
        town_name:
          type: string
        country_sub_division:
          type: string
    CurrencyAmount:
      type: object
      properties:
        amount:
          type: number
          description: The value in the denominated currency.
        currency:
          type: string
          description: ISO 3 letter code for the currency the amount is returned in.
          minLength: 3
          maxLength: 3
      required:
      - amount
      - currency
    BeneficiariesData:
      allOf:
      - $ref: '#/components/schemas/PageAndType'
      - type: object
        properties:
          beneficiaries:
            type: array
            items:
              $ref: '#/components/schemas/Beneficiary'
    AgentIdentifierSau:
      type: object
      properties:
        identification_type:
          description: 'The type of identifier being provided.


            | Value | Description |

            |-|-|

            | BICFI | The BIC/SWIFT code for the Financial Institution |

            | OTHER | A combination of country code and 4 letter identifier for a financial institution |'
          enum:
          - BICFI
          - OTHER
          - UNSUPPORTED
          type: string
        identification:
          description: 'Provides either the BIC/SWIFT code for the Financial Institution or a value from a coded list.


            | Identifier | Institution |

            |-|-|

            | SAINMA | Alinma Bank |

            | SARJHI | Al Rajhi Bank |

            | SAARNB | Arab National Bank |

            | SAALBI | Bank Al Bilad |

            | SABJAZ | Bank Al-Jazira |

            | SABMUS | Bank Muscat |

            | SABSFR | Banque Saudi Fransi |

            | SABNPA | BNP Paribas Saudi Arabia |

            | SACRES | Credit Suisse Saudi Arabia |

            | SADEUT | Deutsche Bank AG, Riyadh Branch |

            | SAEBIL | Emirates NBD PJSC |

            | SAGULF | Gulf International Bank B.S.C., Riyadh |

            | SAICBK | Industrial and Commercial Bank of China, Riyadh Branch |

            | SAISLD | Islamic Development Bank |

            | SAJPMG | J.P. Morgan Saudi Arabia Ltd. |

            | SACHAS | J.P. Morgan Chase Bank, N.A Riyadh |

            | SAMLSA | Merill Lynch Kingdom of Saudi Arabia |

            | SANBOB | National Bank of Bahrain |

            | SANBOK | National Bank of Kuwait |

            | SANBPA | National Bank of Pakistan |

            | SANCBK | Saudi National Bank |

            | SARIBL | Riyad Bank |

            | SASAMA | Saudi Arabian Monetary Authority |

            | SASABB | Saudi British Bank |

            | SASIBC | Saudi Investment Bank |

            | SASCBL | Standard Chartered Capital (Saudi Arabia) |

            | SATCZB | T.C. Ziraat Bankasi A.S. |

            | SASTCP | STC Pay |

            | SANEOL | Neoleap |'
          type: string
    DirectDebitsResponse:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/DirectDebitsData'
      - $ref: '#/components/schemas/DataResponse'
    Result:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResultStatus'
        results_id:
          description: The unique identifier for the request
          type: string
          format: uuid
        message:
          description: A message describing the status of the request
          type: string
        meta:
          description: Meta information about the request
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        timestamp:
          description: The datetime of when the request was made
          type: string
          format: date-time
        status_detail:
          description: Additional information about the status
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/StatusDetail'
      required:
      - status
      - results_id
      - message
      - timestamp
    ScheduledPayment:
      required:
      - account_id
      - scheduled_payment_id
      - scheduled_type
      - scheduled_payment_date_time
      - instructed_amount
      type: object
      properties:
        account_id:
          type: string
        scheduled_payment_id:
          type: string
        scheduled_type:
          enum:
          - ARRIVAL
          - EXECUTION
          - UNSUPPORTED
          type: string
        scheduled_payment_date_time:
          format: date-time
          type: string
        debtor_reference:
          type: string
        reference:
          type: string
        instructed_amount:
          $ref: '#/components/schemas/CurrencyAmount_2'
        creditor_agent:
          $ref: '#/components/schemas/AgentIdentifier'
        creditor_account:
          $ref: '#/components/schemas/AccountIdentifier'
        regional_data:
          $ref: '#/components/schemas/ScheduledPaymentRegionalData'
          description: Region specific data response. Only provided when `verbose=true` in the originating request.
    Pagination:
      type: object
      properties:
        number:
          type: integer
          description: The current page being returned by the API
        size:
          type: integer
          description: The page size requested
        total_elements:
          type: integer
          description: The total number of elements in all pages
        total_pages:
          type: integer
          description: The total number of pages retrievable
      required:
      - number
      - size
      - total_elements
      - total_pages
    Beneficiary:
      required:
      - account_id
      - beneficiary_id
      - beneficiary_type
      type: object
      properties:
        account_id:
          type: string
        beneficiary_id:
          type: string
        beneficiary_type:
          enum:
          - TRUSTED
          - ORDINARY
          - OTHER
          - UNSUPPORTED
          type: string
        creditor_agent:
          $ref: '#/components/schemas/BeneficiaryCreditorAgent'
        creditor_account:
          $ref: '#/components/schemas/AccountIdentifier'
        supplementary_data:
          type: object
          additionalProperties:
            type: string
          properties: {}
        regional_data:
          $ref: '#/components/schemas/BeneficiaryRegionalData'
          description: Region specific data response. Only provided when `verbose=true` in the originating request.
    BeneficiariesResponse:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/BeneficiariesData'
      - $ref: '#/components/schemas/DataResponse'
    StatusDetailObject:
      description: Status Details
      type: object
      properties:
        granular_status_code:
          description: Detailed error code
          type: string
        status_additional_info:
          description: Further detail on the encountered error
          type: string
    ScheduledPaymentSau:
      required:
      - scheduled_payment_id
      - scheduled_type
      - instructed_amount
      - scheduled_payment_date_time
      - account_id
      type: object
      properties:
        account_id:
          type: string
        account_holder_name:
          type: string
        account_holder_shortname:
          type: string
        scheduled_payment_id:
          type: string
        scheduled_type:
          type: string
        scheduled_payment_date_time:
          format: date-time
          type: string
        creditor_reference:
          type: string
        debtor_reference:
          type: string
        instructed_amount:
          $ref: '#/components/schemas/CurrencyAmountSau'
        creditor_agent:
          $ref: '#/components/schemas/AgentIdentifierSau'
        creditor_account:
          $ref: '#/components/schemas/AccountIdentifierSau'
    IdentityV2data:
      type: object
      properties:
        entity_id:
          description: entity id
          type: string
          format: uuid
        full_legal_name:
          description: Full legal name as retrieved from bank
          type: string
        name:
          description: Name of the account holder
          type: string
        national_id:
          description: National ID number for the country
          type: string
        birth_date:
          description: The date of birth of the account holder.
          type: string
          format: date
        gender:
          description: The gender of the account holder.
          type: string
        email_address:
          description: The registered email address of the account holder.
          type: string
        legal_structure:
          description: Legal structure of the entity
          type: string
        phone:
          description: Phone number of the account holder
          type: string
        mobile_number:
          description: Mobile number of the account holder
          type: string
        address:
          $ref: '#/components/schemas/Address_2'
        account_role:
          description: Role of the account holder
          type: string
        party_type:
          description: Type of party relationship
          type: string
          enum:
          - DELEGATE
          - JOINT
          - SOLE
          - UNSUPPORTED
        party_id:
          description: Unique identifier for the party
          type: string
        party_number:
          description: Party number assigned by the institution
          type: string
      x-toBuilder: true
    AgentIdentifierWithAddressRequiredSau:
      required:
      - identification
      - identification_type
      type: object
      properties:
        identification_type:
          enum:
          - BICFI
          - OTHER
          - UNSUPPORTED
          type: string
        identification:
          type: string
        name:
          type: string
        postal_address:
          $ref: '#/components/schemas/AddressLongSau'
    ResultStatus:
      description: The status of the request
      type: string
      enum:
      - OK
      - PENDING
      - FAILED
      - CONSENT_EXPIRED
      - RECONNECT_REQUIRED
      - PROCESSING_STARTED
    CurrencyAmount_2:
      type: object
      properties:
        amount:
          format: float
          description: The value in the denominated currency.
          type: number
        currency:
          description: ISO 3 letter code for the currency the amount is returned in.
          type: string
    Accounts:
      type: object
      properties:
        account_id:
          type: string
          description: The unique identifier for the account. Provided as a UUID.
        account_number:
          type: string
          description: The account number for the account.
        name:
          type: string
          description: The product name of the account
        currency_code:
          type: string
          description: The ISO 3 letter currency code the account stores value in,
        type:
          type: string
          enum:
          - CURRENT
          - SAVINGS
          - CREDIT
          description: Indicates the type of account
        iban:
          type: string
          description: The IBAN for the account.
      required:
      - account_id
      - account_number
      - name
      - currency_code
      - type
      - iban
    StandingOrderRegionalData:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/StandingOrderSau'
      - $ref: '#/components/schemas/StandardSau'
    PageAndType:
      title: Data Object
      description: ''
      type: object
      properties:
        type:
          description: The endpoint the original request was made to
          type: string
        page:
          $ref: '#/components/schemas/Page'
    DirectDebit:
      required:
      - account_id
      - direct_debit_id
      - frequency
      - mandate_identification
      - name
      - status_code
      type: object
      properties:
        account_id:
          type: string
        direct_debit_id:
          type: string
        status_code:
          enum:
          - ACTIVE
          - INACTIVE
          - UNSUPPORTED
          type: string
        frequency:
          enum:
          - MONTHLY
          - QUARTERLY
          - BI_ANNUAL
          - ANNUAL
          - FORTNIGHT
          - DAILY
          - WEEKLY
          - NOT_KNOWN
          - UNSUPPORTED
          type: string
        mandate_identification:
          type: string
        name:
          type: string
        previous_payment_date_time:
          format: date-time
          type: string
        previous_payment_amount:
          $ref: '#/components/schemas/CurrencyAmount_2'
        regional_data:
          $ref: '#/components/schemas/DirectDebitRegionalData'
          description: Region specific data response. Only provided when `verbose=true` in the originating request.
    StandardSau:
      type: object
      properties:
        standard:
          description: A description of the standard the regional data is returned in formatted as `"{ISO 3 Letter Country Code}.{Standard}.{Version}"`. In the KSA V2 API this will always return as `"SAU.SAMA.V1"`
          type: string
          examples:
          - SAU.SAMA.V1
    Balances:
      type: object
      properties:
        account_id:
          type: string
          description: The `account_id` this balance is related to.
        balance:
          type: number
          description: The stored balance in the account a negative value may be returned for example for `CREDIT` accounts or current accounts in overdraft.
        currency_code:
          type: string
          maxLength: 3
          minLength: 3
          examples:
          - AED
          - SAR
          - USD
          description: The 3 letter ISO code for the denominated currency of the account balance.
        account_name:
          type: string
          description: The name of the account the balance has been fetched for
        account_type:
          type: string
          description: The type of the account
          enum:
          - CURRENT
          - SAVINGS
          - CREDIT
      required:
      - account_id
      - balance
      - currency_code
      - account_name
      - account_type
    Address:
      type: object
      description: The address details extracted from the proof of address document.
      properties:
        address_type:
          type: string
          description: The type of address (e.g., residential, business).
        building_type:
          type: string
          description: 'The type of building, apartments or villa for example. '
        apartment_or_villa_number:
          type: string
          description: The apartment or villa number.
        building_name:
          type: string
          description: The name of the building.
        street:
          type: string
          description: The street name.
        area:
          type: string
          description: The area or neighborhood.
        town_name:
          type: string
          description: The town or city name where the address is located.
        region:
          type: string
          description: The region of the address.
        country:
          type: string
          description: The country where the address is located.
        post_code:
          type: string
          description: The postal code associated with the address.
        po_box:
          type: string
          description: The post office box number.
        street_address:
          type: string
          description: The street address extracted from the document.
        address_line:
          type: string
          description: The full address line as extracted from the document.
      required:
      - building_type
    BeneficiaryCreditorAgent:
      required:
      - identification
      - scheme_name
      type: object
      properties:
        scheme_name:
          enum:
          - BICFI
          - OTHER
          - UNSUPPORTED
          type: string
        identification:
          type: string
        name:
          type: string
        postal_address:
          $ref: '#/components/schemas/PostalAddress'
    StatusDetail:
      type:
      - object
      - 'null'
      properties:
        granular_status_code:
          description: Granular status code
          type:
          - string
          - 'null'
        status_additional_info:
          description: Additional information about the status
          type:
          - string
          - 'null'
    AddressLongSau:
      type: object
      properties:
        address_type:
          enum:
          - BUSINESS
          - DELIVERY_TO
          - MAIL_TO
          - PO_BOX
          - RESIDENTIAL
          - CORRESPONDENCE
          - STATEMENT
          - UNSUPPORTED
          type: string
        short_address:
          type: string
        building_number:
          type: string
        unit_number:
          type: string
        street_name:
          type: string
        secondary_number:
          type: string
        district:
          type: string
        postal_code:
          type: string
        city:
          type: string
        country:
          type: string
    StandingOrdersData:
      allOf:
      - $ref: '#/components/schemas/PageAndType'
      - type: object
        properties:
          standing_orders:
            type: array
            items:
              $ref: '#/components/schemas/StandingOrder'
    FrequencySau:
      required:
      - frequency_type
      type: object
      properties:
        frequency_type:
          enum:
          - NOT_KNOWN
          - EVERY_DAY
          - EVERY_WORKING_DAY
          - INTERVAL_DAY
          - INTERVAL_WEEK_DAY
          - WEEK_IN_MONTH_DAY
          - INTERVAL_MONTH_DAY
          - QUARTER_DAY
          - BI_ANNUAL
          - ANNUAL
          - UNSUPPORTED
          type: string
        interval:
          type: string
    StandingOrdersResponse:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/StandingOrdersData'
      - $ref: '#/components/schemas/DataResponse'
    IdentitiesData:
      type: object
      properties:
        type:
          description: The endpoint the original request was made to.
          type: string
          default: identities
          const: identities
        account_id:
          description: The account_id these identities are related to.
          type: string
          format: uuid
        page:
          $ref: '#/components/schemas/PageMetadata'
        identities:
          description: An array of identities associated with the account.
          type: array
          items:
            $ref: '#/components/schemas/IdentityV2data'
      required:
      - type
      x-toBuilder: true
    BeneficiaryRegionalData:
      allOf:
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/BeneficiarySau'
      - $ref: '#/components/schemas/StandardSau'
    Page:
      type: object
      properties:
        number:
          format: int32
          description: The page number of the current response.
          type: integer
        size:
          format: int32
          description: The number of objects in the response.
[...]
