openapi: 3.1.0
info:
  title: Incoming Transactions API
  version: v1.0.0
  description: Retrieve deposit records belonging to an application.
servers:
- url: https://sandbox.leantech.me
  description: Sandbox
- url: https://api2.leantech.me
  description: Production
paths:
  /reconciliation/v1/deposits:
    servers: []
    get:
      operationId: getDeposits
      summary: Get deposits
      parameters:
      - name: filters
        in: query
        description: Deposits query filter
        required: true
        schema:
          $ref: '#/components/schemas/DepositsQuery'
      responses:
        '200':
          description: Successfully retrieved deposits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableResponse'
              examples:
                '1':
                  summary: Success
                  value:
                    data:
                    - id: 84738989-ce46-4e21-9d7c-a8a64e51573b
                      description: 'TRANSFERIPI TT REF: 99OTT08379977075 LEAN FINANCIAL SERVICES 45-62176280-1-151 - AE0361941'
                      amount: 1001.5
                      currency: AED
                      bank_deposit_reference: 1234567890AE
                      timestamp: '2025-02-13T13:20:57.674299Z'
                      local_timestamp: '2022-11-27T00:00:00+04:00'
                      beneficiary_account:
                        account_id: b8ec46af-2a79-49dc-b453-eab38c16adb7
                        iban: AE790260000315528734002
                      reconciliation:
                        status: RECONCILED
                        payment_id: 322ac1dd-8534-4448-89e9-db59505fd3ed
                      deposit_source_id: 18ac894e-0c76-4929-8701-51e33f6283c7
      tags:
      - Deposits
  /reconciliation/v1/payments:
    servers: []
    post:
      operationId: getReconciliationPayments
      summary: Returns a summary of payments based on the received payment query
      description: Returns a summary of payments based on the received payment query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentQuery'
      responses:
        '200':
          description: Successfully retrieved a summary of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsSummary'
              examples:
                payments_summary_example:
                  summary: Example payments summary response
                  value:
                    payments:
                    - id: c1e2d3f4-5678-1234-5678-abcdef123456
                      customer_id: a1b2c3d4-5678-1234-5678-abcdef123456
                      payment_initiation_timestamp: '2025-09-15T10:00:00Z'
                      reconciliation:
                        status: RECONCILED
                        status_update_timestamp: '2025-09-15T12:00:00Z'
                        reference: REF123456
                        amount: 1000
                        currency_code: AED
                        deposit:
                          id: d1e2f3a4-5678-1234-5678-abcdef123456
                          description: 'Deposit for invoice #123'
                          timestamp: '2025-09-15T11:00:00Z'
                          amount: 1000
                          currency_code: AED
                    pagination:
                      page_number: 1
                      results_per_page: 20
                      total_results: 100
      tags:
      - reconciliation
  /reconciliation/v1/payments/{paymentId}:
    servers: []
    get:
      operationId: getReconciliationPaymentById
      summary: Returns details of a payment
      description: Returns details of a payment.
      parameters:
      - name: paymentId
        in: path
        description: The unique identifier for this payment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully retrieved details of a payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                payment_example:
                  summary: Example payment response
                  value:
                    id: c1e2d3f4-5678-1234-5678-abcdef123456
                    customer_id: a1b2c3d4-5678-1234-5678-abcdef123456
                    payment_initiation_timestamp: '2025-09-15T10:00:00Z'
                    reconciliation:
                      status: RECONCILED
                      status_update_timestamp: '2025-09-15T12:00:00Z'
                      reference: REF123456
                      amount: 1000
                      currency_code: AED
                      deposit:
                        id: d1e2f3a4-5678-1234-5678-abcdef123456
                        description: 'Deposit for invoice #123'
                        timestamp: '2025-09-15T11:00:00Z'
                        amount: 1000
                        currency_code: AED
        '404':
          description: Payment not found
      tags:
      - reconciliation
components:
  schemas:
    DepositsQuery:
      type: object
      properties:
        start_date:
          description: Start date for filtering deposits
          type: string
          format: date
          examples:
          - '2025-09-14'
        end_date:
          description: End date for filtering deposits
          type: string
          format: date
          examples:
          - '2025-10-13'
        time_zone:
          description: Time zone for timestamps eg 'Asia/Dubai', 'UTC'
          type: string
          examples:
          - Asia/Dubai
          default: Asia/Dubai
          x-javaType: java.time.ZoneId
        reconciliation_status:
          description: Filter by reconciliation status
          type: string
          enum:
          - RECONCILED
          - NOT_RECONCILED
        deposit_source_id:
          description: Filter by deposit source ID
          type: string
          format: uuid
        page:
          description: The page number to retrieve
          type:
          - integer
          - 'null'
          default: 0
          minimum: 0
        size:
          description: The number of items per page
          type:
          - integer
          - 'null'
          default: 50
          maximum: 100
          minimum: 1
      required:
      - start_date
      - end_date
      x-explicit-constructor: true
      x-implements:
      - me.leantech.api.validation.LocalDateRange
    PageableResponse:
      type: object
      properties:
        data:
          description: The list of deposits.
          type: array
          items:
            $ref: '#/components/schemas/DepositResponse'
        page:
          $ref: '#/components/schemas/PageMetadata'
    DepositResponse:
      type: object
      properties:
        id:
          description: The unique identifier for the deposit.
          type: string
          format: uuid
        bank_deposit_reference:
          description: The reference number provided by the bank.
          type: string
        amount:
          description: The amount of the deposit.
          type: number
        currency:
          description: The currency of the deposit.
          type: string
        description:
          description: The description of the deposit as found in the bank statement.
          type:
          - string
          - 'null'
        timestamp:
          description: The transaction timestamp.
          type: string
          format: date-time
        local_timestamp:
          description: The transaction timestamp adjusted to the timezone specified in the 'timeZone' query parameter.
          type: string
          format: date-time
        beneficiary_account:
          $ref: '#/components/schemas/BeneficiaryAccount'
        reconciliation:
          $ref: '#/components/schemas/Reconciliation'
        deposit_source_id:
          description: The unique identifier for the deposit source - ie the corporate bank account where the deposit was
            made.
          type: string
          format: uuid
        sender_account:
          $ref: '#/components/schemas/SenderAccount'
      required:
      - id
      - bank_deposit_reference
      - amount
      - currency
      - timestamp
      - local_timestamp
      - beneficiary_account
      - reconciliation
      - deposit_source_id
    BeneficiaryAccount:
      description: The account that the deposit was made to.
      type: object
      properties:
        account_id:
          description: The account ID referencing the account number.
          type: string
          format: uuid
        iban:
          description: The International Bank Account Number (IBAN) of the account.
          type: string
      required:
      - account_id
      - iban
    SenderAccount:
      description: The account that the deposit was made from.
      type: object
      properties:
        account_number:
          description: The account ID referencing the account number.
          type: string
        iban:
          description: The International Bank Account Number (IBAN) of the account.
          type: string
      required:
      - account_number
      - iban
      x-field-extra-annotation: '@com.fasterxml.jackson.annotation.JsonInclude(com.fasterxml.jackson.annotation.JsonInclude.Include.NON_NULL)'
    Reconciliation:
      description: The reconciliation status of the deposit.
      type: object
      properties:
        payment_id:
          description: The unique identifier for the payment.
          type: string
          format: uuid
        status:
          description: The reconciliation status of the payment with this deposit.
          type: string
          enum:
          - RECONCILED
          - NOT_RECONCILED
      required:
      - status
      - payment_id
    PageMetadata:
      description: Metadata about the current page of results
      type: object
      properties:
        number:
          description: The current page being returned by the API
          type: integer
          format: int32
        size:
          description: The page size requested
          type: integer
          format: int32
        total_elements:
          description: The total number of elements in all pages
          type: integer
          format: int64
        total_pages:
          description: The total number of pages retrievable
          type: integer
          format: int32
        sort:
          description: Sort parameters applied to the results
          type: array
          items:
            type: string
      required:
      - number
      - size
      - total_elements
      - total_pages
    PaymentQuery:
      type: object
      properties:
        payment_initiation_date:
          $ref: '#/components/schemas/DateRequest'
        status:
          description: Filter by reconciliation status
          type:
          - string
          - 'null'
          enum:
          - RECONCILED
          - UNRECEIVED
          - OUTSTANDING
        banks:
          description: Filter by bank identifiers
          type:
          - array
          - 'null'
          items:
            type: string
        pagination:
          description: Pagination parameters
          type: object
          properties:
            page_number:
              description: Page number
              type: integer
              default: 0
            results_per_page:
              description: Page size
              type: integer
              default: 50
              maximum: 100
              minimum: 1
        amount:
          $ref: '#/components/schemas/AmountRequest'
        deposit_match_type:
          description: Filter by deposit match type
          type:
          - string
          - 'null'
          enum:
          - UNIQUE_MATCH
          - PARTIAL_MATCH
          - NO_MATCH
        customer_id:
          description: Unique identifier for the customer.
          type:
          - string
          - 'null'
          format: uuid
        payment_status:
          description: Filter by payment status
          type:
          - array
          - 'null'
          items:
            type: string
        source_id:
          description: Deposit Source ID to filter payments
          type:
          - string
          - 'null'
          format: uuid
        search_query:
          description: Search query string
          type:
          - string
          - 'null'
      required:
      - payment_initiation_date
    DateRequest:
      type: object
      properties:
        from:
          description: Min datetime in ISO format yyyy-MM-dd
          type: string
          format: date
          examples:
          - '2025-09-15'
        to:
          description: Max datetime in ISO format yyyy-MM-dd
          type: string
          format: date
          examples:
          - '2025-10-01'
      required:
      - from
      - to
    AmountRequest:
      type: object
      properties:
        minimum:
          description: Minimum amount (inclusive)
          type:
          - number
          - 'null'
        maximum:
          description: Maximum amount (inclusive)
          type:
          - number
          - 'null'
    Pagination:
      type: object
      properties:
        page_number:
          description: Page number
          type: integer
        results_per_page:
          description: Page size
          type: integer
        total_results:
          description: Total number of results
          type: integer
      required:
      - page_number
      - results_per_page
      - total_results
    PaymentsSummary:
      type: object
      properties:
        payments:
          description: List of payments
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - payments
    Payment:
      type: object
      properties:
        id:
          description: Payment Id
          type: string
          format: uuid
        customer_id:
          description: Customer Id
          type: string
          format: uuid
        payment_initiation_timestamp:
          description: Timestamp the payment was initiated.
          type: string
          format: date-time
        reconciliation:
          $ref: '#/components/schemas/PaymentReconciliation'
      required:
      - id
      - customer_id
      - payment_initiation_timestamp
      - reconciliation
    PaymentReconciliation:
      type: object
      properties:
        status:
          description: Status of the reconciliation object
          type: string
          enum:
          - RECONCILED
          - UNRECEIVED
          - OUTSTANDING
        status_update_timestamp:
          description: Timestamp of the last change of status
          type: string
          format: date-time
        amount:
          description: Amount of the payment/deposit reconciliation
          type: number
        reference:
          description: Reference of this reconciliation object
          type:
          - string
          - 'null'
        currency_code:
          description: Currency of the payment/deposit reconciliation
          type:
          - string
          - 'null'
        deposit:
          $ref: '#/components/schemas/Deposit'
      required:
      - status
      - status_update_timestamp
      - amount
    Deposit:
      type: object
      properties:
        id:
          description: Deposit Id
          type: string
          format: uuid
        description:
          description: Description of the deposit
          type: string
        timestamp:
          description: Deposit timestamp
          type: string
          format: date-time
        amount:
          description: Deposit amount
          type: number
        currency_code:
          description: Deposit currency
          type: string
      required:
      - id
      - description
      - timestamp
      - amount
      - currency_code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
- name: Deposits
  x-displayName: Deposits
- name: reconciliation
  x-displayName: reconciliation
security:
- bearerAuth: []
