openapi: 3.1.0
info:
  title: Lean API - Beneficiary Name Verification
  description: API for retrieving beneficiary name from an IBAN
  version: v2.0.0
servers:
- url: https://sandbox.sa.leantech.me
  description: Sandbox
- url: https://api2.sa.leantech.me
  description: Production
paths:
  /verifications/v2/beneficiary-name:
    servers: []
    post:
      operationId: beneficiaryNameVerification
      summary: Get Beneficiary Name
      description: Retrieves the beneficiary name and account status for a given IBAN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryNameRequest'
            example:
              iban: SA2810000011100000461309
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponseBeneficiaryNamePayload'
              examples:
                '1':
                  summary: Success - Active account
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Data successfully retrieved
                    timestamp: '2025-07-25T11:01:04.709087696Z'
                    meta: null
                    status_detail: null
                    verifications:
                      beneficiary_name: JON DOE
                      account_status: ACTIVE
                '2':
                  summary: Success - Blocked account
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      beneficiary_name: JON DOE
                      account_status: BLOCKED
                '3':
                  summary: Failed - Unsupported by bank
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Beneficiary Name Verification Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: UNSUPPORTED_BY_BANK
                      status_additional_info: This endpoint is currently not supported for this bank.
                '4':
                  summary: Failed - Bank issue
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Beneficiary Name Verification Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: BANK_ISSUE
                      status_additional_info: Your bank is currently experiencing technological problems. Please try again
                        later.
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              examples:
                InvalidIbanExample:
                  summary: Invalid IBAN format
                  value:
                    timestamp: '2025-07-25T11:01:04.709087696Z'
                    status: INVALID_PARAMETERS
                    message: The request provided invalid parameters.
                    metadata: null
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                ForbiddenExample:
                  summary: Operation not allowed
                  value:
                    timestamp: '2025-07-25T11:01:04.709087696Z'
                    status: OPERATION_NOT_ALLOWED
                    message: You are not allowed to do this operation
                    metadata: null
      tags:
      - Beneficiary Name Verification
  /verifications/v1/corporates:
    servers: []
    post:
      operationId: corporateVerification
      summary: Business Verification
      description: Verify corporate entity information using unified number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateVerificationRequest'
            examples:
              fullInfo:
                summary: Full information request
                value:
                  type: FULL
                  language: en
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              basicInfo:
                summary: Basic information request
                value:
                  type: BASIC
                  language: en
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              contractInfo:
                summary: Contract information request
                value:
                  type: CONTRACT
                  language: en
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              addressInfo:
                summary: Address information request
                value:
                  type: ADDRESS
                  language: en
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              fullInfoArabic:
                summary: Full information request in Arabic
                value:
                  type: FULL
                  language: ar
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              basicInfoArabic:
                summary: Basic information request in Arabic
                value:
                  type: BASIC
                  language: ar
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              contractInfoArabic:
                summary: Contract information request in Arabic
                value:
                  type: CONTRACT
                  language: ar
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
              addressInfoArabic:
                summary: Address information request in Arabic
                value:
                  type: ADDRESS
                  language: ar
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateVerificationResponse'
              examples:
                fullInfoResponseArabic:
                  summary: Full information response (Arabic)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: null
                      contract_date: null
                      commercial_registry:
                        national_number: '1010711252'
                        registration_number: '7001272184'
                        version_number: 1
                      company_name:
                        ar: شركة اختبار للتجارة
                        en: null
                      name_language:
                        id: 1
                        description:
                          ar: العربية
                          en: null
                      commercial_registration_capital: 150000
                      days_since_company_established: 99
                      main_commercial_registry:
                        is_main: false
                        national_number: null
                        registration_number: null
                      issue_date:
                        gregorian: '2002-10-05'
                        hijri: '1423-07-28'
                      in_liquidation_process: false
                      has_e_commerce: true
                      headquarters:
                        city_id: 1
                        city_name:
                          ar: الرياض
                          en: null
                      license:
                        is_license_based: false
                        issuer_national_number: '123456789'
                        issuer_name:
                          ar: xx
                          en: null
                      partners:
                        nationality_id: 1
                        nationality:
                          ar: السعودية
                          en: null
                      entity_type:
                        id: 1
                        name:
                          ar: شركة ذات مسؤولية محدودة
                          en: null
                        form_id: 1
                        form_name:
                          ar: ذات مسؤولية محدودة
                          en: null
                        characters:
                        - id: 3
                          ar: غير ربحية خاصة
                          en: null
                      status:
                        id: 1
                        ar: فعال
                        en: null
                      confirmation_date:
                        gregorian: '2003-10-05'
                        hijri: '1424-07-28'
                      reactivation_date:
                        gregorian: '2023-03-10'
                        hijri: '1444-08-18'
                      suspension_date:
                        gregorian: '2022-12-05'
                        hijri: '1444-04-11'
                      deletion_date:
                        gregorian: '2024-07-20'
                        hijri: '1445-01-13'
                      contact_info:
                        phone_number: 011256398
                        mobile_number: '050111101'
                        email: TestEmail@mail.com
                        website_url: www.google.com
                      e_commerce:
                        e_store:
                        - authentication_platform_url: www.google.com
                          store_url: www.google.com
                          store_activities:
                          - id: '476201'
                            ar: صناعة زبدة المكسرات
                            en: null
                      capital_information:
                        currency_id: 1
                        currency:
                          ar: ريال سعودي
                          en: null
                        contribution_capital:
                          type_id: 1
                          type:
                            ar: نقدي و عيني
                            en: null
                          cash_capital: 75000
                          in_kind_capital: 75000
                          contribution_value: 100
                          total_cash_contribution: 750
                          total_in_kind_contribution: 750
                        stock_capital:
                          type_id: 2
                          type:
                            ar: xx
                            en: null
                          capital: 12000
                          announced_capital: 1244
                          paid_capital: 12333
                          cash_capital: 1111
                          in_kind_capital: 111
                          stocks:
                          - count: 11
                            value: 12
                            type_id: 2
                            type:
                              ar: xx
                              en: null
                            class_reference_id: 1
                            class_name:
                              ar: xx
                              en: null
                      fiscal_year:
                        is_first: true
                        calendar_type_id: 1
                        calendar_type:
                          ar: ميلادي
                          en: null
                        end_month: 12
                        end_day: 30
                        end_year: null
                      parties:
                      - name:
                          ar: السيد عبدالعزيز احمد خالد الثنيان
                          en: null
                        type_id: 11
                        type:
                          ar: جمعية خيرية/ مؤسسة أهلية
                          en: null
                        identity:
                          id: '1234567890'
                          type_id: 1
                          type:
                            ar: هوية وطنية
                            en: null
                        partnership:
                        - id: 8
                          ar: عضو
                          en: null
                        partner_share:
                          cash_contribution_count: 250
                          in_kind_contribution_count: 250
                          total_contribution_count: 500
                        nationality: null
                        license_number: null
                        commercial_registration_number: null
                        partner_profit_loss_distribution: null
                        guardian: null
                      management:
                        structure_id: 3
                        structure_name:
                          ar: مجلس مديرين
                          en: null
                        dismissal_method: null
                        managers:
                        - name:
                            ar: السيد عبدالعزيز احمد خالد الثنيان
                            en: null
                          type_id: 1
                          type:
                            ar: سعودي
                            en: null
                          is_licensed: true
                          identity:
                            id: '1234567890'
                            type_id: 1
                            type:
                              ar: هوية وطنية
                              en: null
                          nationality:
                            id: 113
                            type:
                              ar: سعودي
                              en: null
                          positions:
                          - id: 8
                            ar: عضو
                            en: null
                        management_board: null
                        directors_board: null
                      liquidators:
                      - name:
                          ar: عبدالله سالم هليل الشمري
                          en: null
                        type_id: 1
                        type:
                          ar: فرد سعودي
                          en: null
                        identity:
                          id: '2345678901'
                          type_id: 1
                          type:
                            ar: هوية وطنية
                            en: null
                        nationality:
                          id: 113
                          type:
                            ar: سعودي
                            en: null
                        positions:
                        - id: 8
                          ar: عضو
                          en: null
                      activities:
                      - id: '162910'
                        ar: أنشطة أخرى خاصة بصناعة نشر الأخشاب
                        en: null
                      - id: '477340'
                        ar: صناعة السلالم والدرابزينات
                        en: null
                      notification_channel: null
                      partner_decision: null
                      additional_decision_text: null
                      set_aside_details: null
                      articles: null
                      additional_articles: null
                      addresses: null
                fullInfoResponseEnglish:
                  summary: Full information response (English)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: null
                      contract_date: null
                      commercial_registry:
                        national_number: '1010711252'
                        registration_number: '7001272184'
                        version_number: 1
                      company_name:
                        ar: null
                        en: Test Trading Company
                      name_language:
                        id: 1
                        description:
                          ar: null
                          en: Arabic
                      commercial_registration_capital: 150000
                      days_since_company_established: 99
                      main_commercial_registry:
                        is_main: false
                        national_number: null
                        registration_number: null
                      issue_date:
                        gregorian: '2002-10-05'
                        hijri: '1423-07-28'
                      in_liquidation_process: false
                      has_e_commerce: true
                      headquarters:
                        city_id: 1
                        city_name:
                          ar: null
                          en: Riyadh
                      license:
                        is_license_based: false
                        issuer_national_number: '123456789'
                        issuer_name:
                          ar: null
                          en: License Issuer
                      partners:
                        nationality_id: 1
                        nationality:
                          ar: null
                          en: Saudi
                      entity_type:
                        id: 1
                        name:
                          ar: null
                          en: Limited Liability Company
                        form_id: 1
                        form_name:
                          ar: null
                          en: Limited Liability
                        characters:
                        - id: 3
                          ar: null
                          en: Private Non-Profit
                      status:
                        id: 1
                        ar: null
                        en: Active
                      confirmation_date:
                        gregorian: '2003-10-05'
                        hijri: '1424-07-28'
                      reactivation_date:
                        gregorian: '2023-03-10'
                        hijri: '1444-08-18'
                      suspension_date:
                        gregorian: '2022-12-05'
                        hijri: '1444-04-11'
                      deletion_date:
                        gregorian: '2024-07-20'
                        hijri: '1445-01-13'
                      contact_info:
                        phone_number: 011256398
                        mobile_number: '050111101'
                        email: TestEmail@mail.com
                        website_url: www.google.com
                      e_commerce:
                        e_store:
                        - authentication_platform_url: www.google.com
                          store_url: www.google.com
                          store_activities:
                          - id: '476201'
                            ar: null
                            en: Nut butter manufacturing
                      capital_information:
                        currency_id: 1
                        currency:
                          ar: null
                          en: Saudi Riyal
                        contribution_capital:
                          type_id: 1
                          type:
                            ar: null
                            en: Cash and In-kind
                          cash_capital: 75000
                          in_kind_capital: 75000
                          contribution_value: 100
                          total_cash_contribution: 750
                          total_in_kind_contribution: 750
                        stock_capital:
                          type_id: 2
                          type:
                            ar: null
                            en: Stock Type
                          capital: 12000
                          announced_capital: 1244
                          paid_capital: 12333
                          cash_capital: 1111
                          in_kind_capital: 111
                          stocks:
                          - count: 11
                            value: 12
                            type_id: 2
                            type:
                              ar: null
                              en: Stock Type
                            class_reference_id: 1
                            class_name:
                              ar: null
                              en: Stock Class
                      fiscal_year:
                        is_first: true
                        calendar_type_id: 1
                        calendar_type:
                          ar: null
                          en: Gregorian
                        end_month: 12
                        end_day: 30
                        end_year: null
                      parties:
                      - name:
                          ar: null
                          en: Mr. Abdulaziz Ahmed Khaled Al-Thunaian
                        type_id: 11
                        type:
                          ar: null
                          en: Charitable Association/Private Foundation
                        identity:
                          id: '1234567890'
                          type_id: 1
                          type:
                            ar: null
                            en: National ID
                        partnership:
                        - id: 8
                          ar: null
                          en: Member
                        partner_share:
                          cash_contribution_count: 250
                          in_kind_contribution_count: 250
                          total_contribution_count: 500
                        nationality: null
                        license_number: null
                        commercial_registration_number: null
                        partner_profit_loss_distribution: null
                        guardian: null
                      management:
                        structure_id: 3
                        structure_name:
                          ar: null
                          en: Board of Directors
                        dismissal_method: null
                        managers:
                        - name:
                            ar: null
                            en: Mr. Abdulaziz Ahmed Khaled Al-Thunaian
                          type_id: 1
                          type:
                            ar: null
                            en: Saudi
                          is_licensed: true
                          identity:
                            id: '1234567890'
                            type_id: 1
                            type:
                              ar: null
                              en: National ID
                          nationality:
                            id: 113
                            type:
                              ar: null
                              en: Saudi
                          positions:
                          - id: 8
                            ar: null
                            en: Member
                        management_board: null
                        directors_board: null
                      liquidators:
                      - name:
                          ar: null
                          en: Abdullah Salem Helel Al-Shammari
                        type_id: 1
                        type:
                          ar: null
                          en: Saudi Individual
                        identity:
                          id: '2345678901'
                          type_id: 1
                          type:
                            ar: null
                            en: National ID
                        nationality:
                          id: 113
                          type:
                            ar: null
                            en: Saudi
                        positions:
                        - id: 8
                          ar: null
                          en: Member
                      activities:
                      - id: '162910'
                        ar: null
                        en: Other activities of manufacture of wood sawing
                      - id: '477340'
                        ar: null
                        en: Manufacture of stairs and handrails
                      notification_channel: null
                      partner_decision: null
                      additional_decision_text: null
                      set_aside_details: null
                      articles: null
                      additional_articles: null
                      addresses: null
                contractResponseArabic:
                  summary: Contract information response (Arabic)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: 1
                      contract_date: '2025-02-23'
                      commercial_registry:
                        national_number: '1010711252'
                        registration_number: '7001272184'
                        version_number: 1
                      company_name:
                        ar: شركة اختبار للتجارة
                        en: null
                      name_language:
                        id: 1
                        description:
                          ar: العربية
                          en: null
                      commercial_registration_capital: 150000
                      days_since_company_established: 99
                      main_commercial_registry:
                        is_main: false
                        national_number: null
                        registration_number: null
                      issue_date:
                        gregorian: '2002-10-05'
                        hijri: '1423-07-28'
                      in_liquidation_process: false
                      has_e_commerce: true
                      headquarters:
                        city_id: 1
                        city_name:
                          ar: الرياض
                          en: null
                      license:
                        is_license_based: true
                        issuer_national_number: '76537'
                        issuer_name:
                          ar: وزارة التجارة
                          en: null
                      partners:
                        nationality_id: 1
                        nationality:
                          ar: السعودية
                          en: null
                      entity_type:
                        id: 1
                        name:
                          ar: شركة
                          en: null
                        form_id: 1
                        form_name:
                          ar: ذات مسؤولية محدودة
                          en: null
                        characters:
                        - id: 3
                          ar: ذات مسؤولية محدودة
                          en: null
                      status:
                        id: 1
                        ar: فعال
                        en: null
                      confirmation_date:
                        gregorian: '2003-10-05'
                        hijri: '1424-07-28'
                      reactivation_date: null
                      suspension_date: null
                      deletion_date: null
                      contact_info:
                        phone_number: 011256398
                        mobile_number: '050111101'
                        email: TestEmail@mail.com
                        website_url: www.example.com
                      e_commerce:
                        e_store:
                        - authentication_platform_url: www.example.com
                          store_url: www.example.com
                          store_activities:
                          - id: '476201'
                            ar: صناعة زبدة المكسرات
                            en: null
                      capital_information:
                        currency_id: 1
                        currency:
                          ar: ريال سعودي
                          en: null
                        contribution_capital:
                          type_id: 1
                          type:
                            ar: نقدي
                            en: null
                          cash_capital: 75000
                          in_kind_capital: 0
                          contribution_value: 100
                          total_cash_contribution: 750
                          total_in_kind_contribution: 0
                        stock_capital:
                          type: null
                          capital: null
                          announced_capital: null
                          paid_capital: null
                          cash_capital: null
                          in_kind_capital: null
                          stocks: null
                      fiscal_year:
                        is_first: true
                        calendar_type_id: 2
                        calendar_type:
                          ar: هجري
                          en: null
                        end_month: 12
                        end_day: 30
                        end_year: null
                      parties:
                      - name:
                          ar: وقف
                          en: null
                        type_id: 11
                        type:
                          ar: وقف
                          en: null
                        identity:
                          id: '7111111111'
                          type_id: 1
                          type:
                            ar: رقم صك الوقف
                            en: null
                        partnership:
                        - id: 2
                          ar: مؤسس
                          en: null
                        partner_share:
                          cash_contribution_count: 0
                          in_kind_contribution_count: 0
                          total_contribution_count: 0
                        nationality: null
                        license_number: null
                        commercial_registration_number: null
                        partner_profit_loss_distribution:
                          profit_distribution: 0
                          loss_distribution: 0
                        guardian: null
                      management:
                        structure_id: 1
                        structure_name:
                          ar: مديران أو أكثر
                          en: null
                        dismissal_method:
                          ar: بقرار من مجلس الإدارة
                          en: null
                        managers:
                        - name:
                            ar: محمد أحمد علي
                            en: null
                          type_id: 1
                          type:
                            ar: مقيم
                            en: null
                          is_licensed: true
                          identity:
                            id: '2123456789'
                            type_id: 1
                            type:
                              ar: هوية مقيم
                              en: null
                          nationality:
                            id: 113
                            type:
                              ar: سعودي
                              en: null
                          positions:
                          - id: 2
                            ar: مدير تنفيذي
                            en: null
                        management_board:
                          meeting_quorum_id: 1
                          meeting_quorum_name:
                            ar: جميع المديرين
                            en: null
                          can_delegate_attendance: true
                          term_years: 3
                          way_of_work:
                            ar: اجتماعات شهرية
                            en: null
                          meeting_place:
                            ar: مقر الشركة
                            en: null
                          additional_text: null
                          positions:
                          - id: 1
                            name:
                              ar: رئيس
                              en: null
                        directors_board:
                          member_count: 5
                          term_years: 3
                          value: 10000
                          value_max: 50000
                          way_of_work:
                            ar: اجتماعات ربع سنوية
                            en: null
                          meeting_place:
                            ar: مقر الشركة
                            en: null
                          meeting_quorum: 3
                          meeting_legal_quorum: 4
                          can_delegate_attendance: true
                          board_call_mechanism:
                            ar: إشعار كتابي
                            en: null
                          membership_expiry_terms:
                            ar: نهاية الفترة أو الاستقالة
                            en: null
                          additional_text: null
                          rewards:
                          - id: '1'
                            name:
                              ar: مكافأة سنوية
                              en: null
                          positions:
                          - id: 1
                            name:
                              ar: رئيس مجلس الإدارة
                              en: null
                      liquidators: null
                      activities:
                      - id: '9820'
                        ar: صناعة عبايات الرجال
                        en: null
                      - id: '162910'
                        ar: أنشطة أخرى خاصة بصناعة نشر الأخشاب
                        en: null
                      - id: '477340'
                        ar: صناعة السلالم والدرابزينات
                        en: null
                      notification_channel:
                      - id: 1
                        name:
                          ar: رسائل نصية
                          en: null
                      partner_decision:
                      - id: 4
                        name:
                          ar: تعديل عقد التأسيس
                          en: null
                        approve_percentage: '75'
                        approve_additional_text:
                          ar: يتطلب موافقة مجلس الإدارة
                          en: null
                      additional_decision_text: All major decisions require unanimous consent
                      set_aside_details:
                        is_set_aside_enabled: true
                        profit_allocation:
                          percentage: 10
                          purpose:
                            ar: صندوق احتياطي للتوسع
                            en: null
                      articles:
                      - id: 1
                        text:
                          ar: تعمل الشركة وفقاً لنظام التجارة السعودي
                          en: null
                        part_id: 1
                        part_name:
                          ar: الباب الأول
                          en: null
                      additional_articles:
                      - title:
                          ar: شرط عدم المنافسة
                          en: null
                        text:
                          ar: لا يجوز للشركاء ممارسة أعمال منافسة
                          en: null
                        part_id: 2
                        part_name:
                          ar: الباب الثاني
                          en: null
                      addresses: null
                contractResponseEnglish:
                  summary: Contract information response (English)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: 1
                      contract_date: '2025-02-23'
                      commercial_registry:
                        national_number: '1010711252'
                        registration_number: '7001272184'
                        version_number: 1
                      company_name:
                        ar: null
                        en: company akhtbar for trade
                      name_language:
                        id: 1
                        description:
                          ar: null
                          en: Arabic
                      commercial_registration_capital: 150000
                      days_since_company_established: 99
                      main_commercial_registry:
                        is_main: false
                        national_number: null
                        registration_number: null
                      issue_date:
                        gregorian: '2002-10-05'
                        hijri: '1423-07-28'
                      in_liquidation_process: false
                      has_e_commerce: true
                      headquarters:
                        city_id: 1
                        city_name:
                          ar: null
                          en: Riyadh
                      license:
                        is_license_based: true
                        issuer_national_number: '76537'
                        issuer_name:
                          ar: null
                          en: Ministry of Commerce
                      partners:
                        nationality_id: 1
                        nationality:
                          ar: null
                          en: Saudi
                      entity_type:
                        id: 1
                        name:
                          ar: null
                          en: Company
                        form_id: 1
                        form_name:
                          ar: null
                          en: Limited liability company
                        characters:
                        - id: 3
                          ar: null
                          en: Limited liability company
                      status:
                        id: 1
                        ar: null
                        en: Active
                      confirmation_date:
                        gregorian: '2003-10-05'
                        hijri: '1424-07-28'
                      reactivation_date: null
                      suspension_date: null
                      deletion_date: null
                      contact_info:
                        phone_number: 011256398
                        mobile_number: '050111101'
                        email: TestEmail@mail.com
                        website_url: www.example.com
                      e_commerce:
                        e_store:
                        - authentication_platform_url: www.example.com
                          store_url: www.example.com
                          store_activities:
                          - id: '476201'
                            ar: null
                            en: Nut butter manufacturing
                      capital_information:
                        currency_id: 1
                        currency:
                          ar: null
                          en: Saudi Riyal
                        contribution_capital:
                          type_id: 1
                          type:
                            ar: null
                            en: Cash
                          cash_capital: 75000
                          in_kind_capital: 0
                          contribution_value: 100
                          total_cash_contribution: 750
                          total_in_kind_contribution: 0
                        stock_capital:
                          type: null
                          capital: null
                          announced_capital: null
                          paid_capital: null
                          cash_capital: null
                          in_kind_capital: null
                          stocks: null
                      fiscal_year:
                        is_first: true
                        calendar_type_id: 2
                        calendar_type:
                          ar: null
                          en: Hijri
                        end_month: 12
                        end_day: 30
                        end_year: null
                      parties:
                      - name:
                          ar: null
                          en: Endowment
                        type_id: 11
                        type:
                          ar: null
                          en: Endowment
                        identity:
                          id: '7111111111'
                          type_id: 1
                          type:
                            ar: null
                            en: Endowment Deed No
                        partnership:
                        - id: 2
                          ar: null
                          en: Founder
                        partner_share:
                          cash_contribution_count: 0
                          in_kind_contribution_count: 0
                          total_contribution_count: 0
                        nationality: null
                        license_number: null
                        commercial_registration_number: null
                        partner_profit_loss_distribution:
                          profit_distribution: 0
                          loss_distribution: 0
                        guardian: null
                      management:
                        structure_id: 1
                        structure_name:
                          ar: null
                          en: Two or More Managers
                        dismissal_method:
                          ar: null
                          en: By board resolution
                        managers:
                        - name:
                            ar: null
                            en: Mohammed Ahmed Ali
                          type_id: 1
                          type:
                            ar: null
                            en: Resident
                          is_licensed: true
                          identity:
                            id: '2123456789'
                            type_id: 1
                            type:
                              ar: null
                              en: Resident ID
                          nationality:
                            id: 113
                            type:
                              ar: null
                              en: Saudi
                          positions:
                          - id: 2
                            ar: null
                            en: Executive Director
                        management_board:
                          meeting_quorum_id: 1
                          meeting_quorum_name:
                            ar: null
                            en: All Managers
                          can_delegate_attendance: true
                          term_years: 3
                          way_of_work:
                            ar: null
                            en: Monthly meetings
                          meeting_place:
                            ar: null
                            en: Company headquarters
                          additional_text: null
                          positions:
                          - id: 1
                            name:
                              ar: null
                              en: Chairman
                        directors_board:
                          member_count: 5
                          term_years: 3
                          value: 10000
                          value_max: 50000
                          way_of_work:
                            ar: null
                            en: Quarterly meetings
                          meeting_place:
                            ar: null
                            en: Company headquarters
                          meeting_quorum: 3
                          meeting_legal_quorum: 4
                          can_delegate_attendance: true
                          board_call_mechanism:
                            ar: null
                            en: Written notice
                          membership_expiry_terms:
                            ar: null
                            en: End of term or resignation
                          additional_text: null
                          rewards:
                          - id: '1'
                            name:
                              ar: null
                              en: Annual bonus
                          positions:
                          - id: 1
                            name:
                              ar: null
                              en: Chairman of the Board
                      liquidators: null
                      activities:
                      - id: '9820'
                        ar: null
                        en: Manufacture of men's cloaks
                      - id: '162910'
                        ar: null
                        en: Other activities of manufacture of wood sawing
                      - id: '477340'
                        ar: null
                        en: Manufacture of stairs and handrails
                      notification_channel:
                      - id: 1
                        name:
                          ar: null
                          en: SMS
                      partner_decision:
                      - id: 4
                        name:
                          ar: null
                          en: Amendment to the articles of incorporation
                        approve_percentage: '75'
                        approve_additional_text:
                          ar: null
                          en: Requires board approval
                      additional_decision_text: All major decisions require unanimous consent
                      set_aside_details:
                        is_set_aside_enabled: true
                        profit_allocation:
                          percentage: 10
                          purpose:
                            ar: null
                            en: Reserve fund for expansion
                      articles:
                      - id: 1
                        text:
                          ar: null
                          en: The company shall operate in accordance with Saudi commercial law
                        part_id: 1
                        part_name:
                          ar: null
                          en: Part One
                      additional_articles:
                      - title:
                          ar: null
                          en: Non-compete clause
                        text:
                          ar: null
                          en: Partners shall not engage in competing businesses
                        part_id: 2
                        part_name:
                          ar: null
                          en: Part Two
                      addresses: null
                basicInfoResponseArabic:
                  summary: Basic information response (Arabic)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: null
                      contract_date: null
                      commercial_registry:
                        national_number: '1010711252'
                        registration_number: '7001272184'
                        version_number: 1
                      company_name:
                        ar: شركة اختبار للتجارة
                        en: null
                      name_language:
                        id: 1
                        description:
                          ar: العربية
                          en: null
                      commercial_registration_capital: null
                      days_since_company_established: null
                      main_commercial_registry:
                        is_main: false
                        national_number: null
                        registration_number: null
                      issue_date:
                        gregorian: '2002-10-05'
                        hijri: '1423-07-28'
                      in_liquidation_process: false
                      has_e_commerce: true
                      headquarters:
                        city_id: 1
                        city_name:
                          ar: الرياض
                          en: null
                      license:
                        is_license_based: false
                        issuer_national_number: null
                        issuer_name:
                          ar: null
                          en: null
                      partners: null
                      entity_type:
                        id: 1
                        name:
                          ar: شركة ذات مسؤولية محدودة
                          en: null
                        form_id: 1
                        form_name:
                          ar: ذات مسؤولية محدودة
                          en: null
                        characters:
                        - id: 3
                          ar: غير ربحية خاصة
                          en: null
                      status:
                        id: 1
                        ar: فعال
                        en: null
                      confirmation_date: null
                      reactivation_date: null
                      suspension_date: null
                      deletion_date: null
                      contact_info: null
                      e_commerce: null
                      capital_information: null
                      fiscal_year: null
                      parties: null
                      management: null
                      liquidators: null
                      activities:
                      - id: '162910'
                        ar: أنشطة أخرى خاصة بصناعة نشر الأخشاب
                        en: null
                      - id: '477340'
                        ar: صناعة السلالم والدرابزينات
                        en: null
                      notification_channel: null
                      partner_decision: null
                      additional_decision_text: null
                      set_aside_details: null
                      articles: null
                      additional_articles: null
                      addresses: null
                basicInfoResponseEnglish:
                  summary: Basic information response (English)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: null
                      contract_date: null
                      commercial_registry:
                        national_number: '1010711252'
                        registration_number: '7001272184'
                        version_number: 1
                      company_name:
                        ar: null
                        en: Test Trading Company
                      name_language:
                        id: 1
                        description:
                          ar: null
                          en: Arabic
                      commercial_registration_capital: null
                      days_since_company_established: null
                      main_commercial_registry:
                        is_main: false
                        national_number: null
                        registration_number: null
                      issue_date:
                        gregorian: '2002-10-05'
                        hijri: '1423-07-28'
                      in_liquidation_process: false
                      has_e_commerce: true
                      headquarters:
                        city_id: 1
                        city_name:
                          ar: null
                          en: Riyadh
                      license:
                        is_license_based: false
                        issuer_national_number: null
                        issuer_name:
                          ar: null
                          en: null
                      partners: null
                      entity_type:
                        id: 1
                        name:
                          ar: null
                          en: Limited Liability Company
                        form_id: 1
                        form_name:
                          ar: null
                          en: Limited Liability
                        characters:
                        - id: 3
                          ar: null
                          en: Private Non-Profit
                      status:
                        id: 1
                        ar: null
                        en: Active
                      confirmation_date: null
                      reactivation_date: null
                      suspension_date: null
                      deletion_date: null
                      contact_info: null
                      e_commerce: null
                      capital_information: null
                      fiscal_year: null
                      parties: null
                      management: null
                      liquidators: null
                      activities:
                      - id: '162910'
                        ar: null
                        en: Other activities of manufacture of wood sawing
                      - id: '477340'
                        ar: null
                        en: Manufacture of stairs and handrails
                      notification_channel: null
                      partner_decision: null
                      additional_decision_text: null
                      set_aside_details: null
                      articles: null
                      additional_articles: null
                      addresses: null
                addressInfoResponseArabic:
                  summary: Address information response (Arabic)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: null
                      contract_date: null
                      commercial_registry: null
                      company_name: null
                      name_language: null
                      commercial_registration_capital: null
                      days_since_company_established: null
                      main_commercial_registry: null
                      issue_date: null
                      in_liquidation_process: null
                      has_e_commerce: null
                      headquarters: null
                      license: null
                      partners: null
                      entity_type: null
                      status: null
                      confirmation_date: null
                      reactivation_date: null
                      suspension_date: null
                      deletion_date: null
                      contact_info: null
                      e_commerce: null
                      capital_information: null
                      fiscal_year: null
                      parties: null
                      management: null
                      liquidators: null
                      activities: null
                      notification_channel: null
                      partner_decision: null
                      additional_decision_text: null
                      set_aside_details: null
                      articles: null
                      additional_articles: null
                      addresses:
                      - title: مطعم ومعجنات السندباد
                        address: 8411 طريق الملك فهد - حي المروج
                        address2: الرياض 12263 - 2743
                        latitude: '24.75014397'
                        longitude: '46.72224397'
                        building_number: '2455'
                        street: طريق الملك فهد
                        district: حي المروج
                        district_id: '2422'
                        city: الرياض
                        city_id: '3'
                        post_code: '12263'
                        additional_number: '14433'
                        region_name: الرياض
                        region_id: '1'
                        is_primary_address: 'true'
                        unit_number: '1'
                        restriction: null
                        pk_address_id: '1226384672743'
                        status: نشط
                addressInfoResponseEnglish:
                  summary: Address information response (English)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                      contract_copy_number: null
                      contract_date: null
                      commercial_registry: null
                      company_name: null
                      name_language: null
                      commercial_registration_capital: null
                      days_since_company_established: null
                      main_commercial_registry: null
                      issue_date: null
                      in_liquidation_process: null
                      has_e_commerce: null
                      headquarters: null
                      license: null
                      partners: null
                      entity_type: null
                      status: null
                      confirmation_date: null
                      reactivation_date: null
                      suspension_date: null
                      deletion_date: null
                      contact_info: null
                      e_commerce: null
                      capital_information: null
                      fiscal_year: null
                      parties: null
                      management: null
                      liquidators: null
                      activities: null
                      notification_channel: null
                      partner_decision: null
                      additional_decision_text: null
                      set_aside_details: null
                      articles: null
                      additional_articles: null
                      addresses:
                      - title: Sindbad Restaurant and Pastries
                        address: 8411 King Fahd Rd - Al Muruj Dist.
                        address2: RIYADH 12263 - 2743
                        latitude: '24.75014397'
                        longitude: '46.72224397'
                        building_number: '2455'
                        street: King Fahd Rd
                        district: Al Muruj Dist
                        district_id: '2422'
                        city: RIYADH
                        city_id: '3'
                        post_code: '12263'
                        additional_number: '14433'
                        region_name: Al Riyadh
                        region_id: '1'
                        is_primary_address: 'true'
                        unit_number: '1'
                        restriction: null
                        pk_address_id: '1226384672743'
                        status: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateVerificationErrorResponse'
              examples:
                missingInputData:
                  summary: Input data is required
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: The request provided invalid parameters.
                    metadata: null
                invalidUnifiedNumberFormat:
                  summary: Unified number must be digits only
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Unified number must be digits only
                    metadata: null
                invalidUnifiedNumberLength:
                  summary: Unified number must be 10 digits
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Unified number must be 10 digits
                    metadata: null
                invalidLanguage:
                  summary: Language should be 'ar', 'AR', 'en', or 'EN'
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Language should be 'ar', 'AR', 'en', or 'EN'
                    metadata: null
                missingLanguage:
                  summary: Language field is required
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Language field is required
                    metadata: null
      tags:
      - Corporate Verification
  /verifications/v1/corporates/managers:
    servers: []
    post:
      operationId: corporateManagerVerification
      summary: Managers Verification
      description: Verify corporate manager information including permissions using corporate unified number and manager identity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorporateManagerVerificationRequest'
            examples:
              managerByNationalId:
                summary: Manager verification by National ID (English)
                value:
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
                  - type: NATIONAL_ID
                    value: '1234567890'
                  language: en
              managerByNationalIdArabic:
                summary: Manager verification by National ID (Arabic)
                value:
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
                  - type: NATIONAL_ID
                    value: '1234567890'
                  language: ar
              managerWithPermissionFilter:
                summary: Manager verification with permission filter (English)
                value:
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
                  - type: RESIDENT_ID
                    value: '2123456789'
                  permission_id: '5'
                  language: en
              managerWithPermissionFilterArabic:
                summary: Manager verification with permission filter (Arabic)
                value:
                  identifications:
                  - type: UNIFIED_NUMBER
                    value: '7001272184'
                  - type: RESIDENT_ID
                    value: '2123456789'
                  permission_id: '5'
                  language: ar
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateManagerVerificationResponse'
              examples:
                managerResponseEnglish:
                  summary: Manager verification response (English)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                    - name:
                        ar: null
                        en: Mr. Abdulaziz Ahmed Khaled Al-Thunaian
                      type_id: 1
                      type:
                        ar: null
                        en: Saudi
                      is_licensed: true
                      identity:
                        id: '1234567890'
                        type_id: 1
                        type:
                          ar: null
                          en: National ID
                      nationality:
                        id: 113
                        type:
                          ar: null
                          en: Saudi
                      positions:
                      - id: 2
                        ar: null
                        en: Executive Director
                      permissions:
                      - id: 5
                        name:
                          ar: null
                          en: Issue Power of Attorney
                        can_issue_poa: true
                        can_delegate: false
                        special_condition_text:
                          ar: null
                          en: Requires board approval
                        exercise_method_id: 1
                        exercise_method_description:
                          ar: null
                          en: Individually
                      - id: 8
                        name:
                          ar: null
                          en: Sign Contracts
                        can_issue_poa: false
                        can_delegate: true
                        special_condition_text:
                          ar: null
                          en: null
                        exercise_method_id: 2
                        exercise_method_description:
                          ar: null
                          en: Jointly
                managerResponseArabic:
                  summary: Manager verification response (Arabic)
                  value:
                    status: OK
                    results_id: 0f79abdf-fa89-93a3-8b9c-40a3b6dc2b3a
                    message: Data successfully retrieved
                    timestamp: '2024-10-24T15:37:35.254Z'
                    meta: null
                    status_detail: null
                    verifications:
                    - name:
                        ar: السيد عبدالعزيز احمد خالد الثنيان
                        en: null
                      type_id: 1
                      type:
                        ar: سعودي
                        en: null
                      is_licensed: true
                      identity:
                        id: '1234567890'
                        type_id: 1
                        type:
                          ar: هوية وطنية
                          en: null
                      nationality:
                        id: 113
                        type:
                          ar: سعودي
                          en: null
                      positions:
                      - id: 2
                        ar: مدير تنفيذي
                        en: null
                      permissions:
                      - id: 5
                        name:
                          ar: إصدار توكيل
                          en: null
                        can_issue_poa: true
                        can_delegate: false
                        special_condition_text:
                          ar: يتطلب موافقة مجلس الإدارة
                          en: null
                        exercise_method_id: 1
                        exercise_method_description:
                          ar: منفرداً
                          en: null
                      - id: 8
                        name:
                          ar: توقيع العقود
                          en: null
                        can_issue_poa: false
                        can_delegate: true
                        special_condition_text:
                          ar: null
                          en: null
                        exercise_method_id: 2
                        exercise_method_description:
                          ar: مجتمعين
                          en: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporateVerificationErrorResponse'
              examples:
                missingManagerId:
                  summary: Manager identification is required
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Manager identification is required in addition to corporate unified number
                    metadata: null
                missingUnifiedNumber:
                  summary: Corporate unified number is required
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Corporate unified number identification is required
                    metadata: null
                invalidIdType:
                  summary: Invalid manager identification type
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Invalid manager identification type
                    metadata: null
                invalidLanguage:
                  summary: Language should be 'ar', 'AR', 'en', or 'EN'
                  value:
                    timestamp: '2025-10-03T06:16:13.421014232Z'
                    status: INVALID_PARAMETERS
                    message: Language should be 'ar', 'AR', 'en', or 'EN'
                    metadata: null
      tags:
      - Corporate Verification
  /verifications/v1/freelancers:
    servers: []
    post:
      operationId: verifyFreelancer
      summary: Verify freelancer certificate information
      description: Verifies freelancer certificate information using National ID and/or Freelancer Number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreelancerVerificationRequest'
            examples:
              withNationalId:
                summary: FULL - Request with both National ID and Freelancer Number
                value:
                  type: FULL
                  identifications:
                  - type: NATIONAL_ID
                    value: '1106972886'
                  - type: FREELANCER_NUMBER
                    value: FL-013988291
              fullListWithNationalId:
                summary: FULL_LIST - Retrieve all certificates by National ID
                value:
                  type: FULL_LIST
                  identifications:
                  - type: NATIONAL_ID
                    value: '1107454009'
              basicType:
                summary: BASIC - Basic verification with National ID and Freelancer Number
                value:
                  type: BASIC
                  identifications:
                  - type: NATIONAL_ID
                    value: '1106972886'
                  - type: FREELANCER_NUMBER
                    value: FL-013988291
      responses:
        '200':
          description: Freelancer verification completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreelancerVerificationResponse'
              examples:
                certVerifiedActive:
                  summary: 200 - Freelancer Certificate Verified - ACTIVE
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: VERIFIED
                      national_id: '1107454009'
                      name:
                        ar: عادل عيد نفل الحارثي
                        en: adel
                      national_id_expiry_date: '1450-07-01'
                      certificate:
                      - expiry_date: '2025-08-21'
                        number: FL-013988291
                        status: ACTIVE
                        revoked_at: null
                        issue_date: '2024-08-21'
                        speciality:
                          code: AS090
                          name:
                            en: Sales Promotion and Management
                            ar: ادارة وتنشيط المبيعات
                          category:
                            name:
                              en: Sales & Marketing
                              ar: المبيعات والتسويق
                            code: C106
                        canceled_at: null
                      gender: MALE
                certStatusChecked:
                  summary: 200 - Freelancer Certificate Status Checked
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: NOT_CHECKED
                      national_id: null
                      name: null
                      national_id_expiry_date: null
                      certificate:
                      - expiry_date: '2025-08-21'
                        number: FL-013988291
                        status: CANCELED
                        revoked_at: null
                        issue_date: '2024-08-21'
                        speciality: null
                        canceled_at: '2025-05-26T00:00:00Z'
                      gender: null
                certNotVerified:
                  summary: 200 - Freelancer Certificate Not Verified
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: National ID and certificate number doesn't match
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: NOT_VERIFIED
                      national_id: null
                      name: null
                      national_id_expiry_date: null
                      certificate: []
                      gender: null
                certVerifiedCanceled:
                  summary: 200 - Freelancer Certificate Verified - CANCELLED
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: VERIFIED
                      national_id: '1107454009'
                      name:
                        ar: عادل عيد نفل الحارثي
                        en: adel
                      national_id_expiry_date: '1450-07-01'
                      certificate:
                      - expiry_date: '2025-08-21'
                        number: FL-013988291
                        status: CANCELED
                        revoked_at: null
                        issue_date: '2024-08-21'
                        speciality:
                          code: AS090
                          name:
                            en: Sales Promotion and Management
                            ar: ادارة وتنشيط المبيعات
                          category:
                            name:
                              en: Sales & Marketing
                              ar: المبيعات والتسويق
                            code: C106
                        canceled_at: '2025-05-26T00:00:00Z'
                      gender: MALE
                multipleCertificatesAllStatuses:
                  summary: 200 - Retrieve all certificates by National ID
                  value:
                    status: OK
                    results_id: e286fa03-219c-470e-abdd-0d8796afdb28
                    message: Freelancer verification successful
                    timestamp: '2025-08-19T05:57:17.733635157Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: VERIFIED
                      national_id: '1107454009'
                      national_id_expiry_date: '2030-12-31'
                      name:
                        ar: مستقل نشط
                        en: Active Freelancer
                      gender: MALE
                      certificate:
                      - expiry_date: '2026-08-01'
                        number: FL-013988291
                        status: ACTIVE
                        revoked_at: null
                        issue_date: '2024-08-01'
                        speciality:
                          code: SD001
                          name:
                            ar: تطوير البرمجيات
                            en: Software Development
                          category:
                            name:
                              ar: تقنية المعلومات
                              en: Information Technology
                            code: IT001
                        canceled_at: null
                      - expiry_date: '2027-01-01'
                        number: FL-595215341
                        status: PENDING
                        revoked_at: null
                        issue_date: '2025-01-01'
                        speciality:
                          code: DM002
                          name:
                            ar: التسويق الرقمي
                            en: Digital Marketing
                          category:
                            name:
                              ar: التسويق
                              en: Marketing
                            code: MKT001
                        canceled_at: null
                      - expiry_date: '2025-02-01'
                        number: FL-090302137
                        status: CANCELED
                        revoked_at: null
                        issue_date: '2023-02-01'
                        speciality:
                          code: GD003
                          name:
                            ar: التصميم الجرافيكي
                            en: Graphic Design
                          category:
                            name:
                              ar: الفنون الإبداعية
                              en: Creative Arts
                            code: CA001
                        canceled_at: '2024-06-20T00:00:00Z'
                      - expiry_date: '2025-04-15'
                        number: FL-490775363
                        status: REVOKED
                        revoked_at: '2024-05-15T00:00:00Z'
                        issue_date: '2023-04-15'
                        speciality:
                          code: DS004
                          name:
                            ar: علم البيانات
                            en: Data Science
                          category:
                            name:
                              ar: تقنية المعلومات
                              en: Information Technology
                            code: IT001
                        canceled_at: null
                      - expiry_date: '2024-03-01'
                        number: FL-541440269
                        status: EXPIRED
                        revoked_at: null
                        issue_date: '2022-03-01'
                        speciality:
                          code: PM005
                          name:
                            ar: إدارة المشاريع
                            en: Project Management
                          category:
                            name:
                              ar: أعمال
                              en: Business
                            code: BIZ002
                        canceled_at: null
                      - expiry_date: null
                        number: FL-560899391
                        status: REJECTED
                        revoked_at: null
                        issue_date: null
                        speciality:
                          code: HR006
                          name:
                            ar: الموارد البشرية
                            en: Human Resources
                          category:
                            name:
                              ar: أعمال
                              en: Business
                            code: BIZ002
                        canceled_at: null
                ownershipNotVerified:
                  summary: 200 - Freelancer Certificate Ownership Not Verified
                  value:
                    status: OK
                    results_id: 8e77e870-5cb2-4dd3-abd6-7c5e2b10767c
                    message: Freelancer verification successful
                    timestamp: '2026-01-12T07:09:32.959236671Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: NOT_VERIFIED
                      national_id: null
                      national_id_expiry_date: null
                      name: null
                      gender: null
                      certificate: []
                verifiedBasicReponse:
                  summary: 200 - Freelancer Certificate Ownership Verified with basic response
                  value:
                    status: OK
                    results_id: 54a2e938-527a-4692-83eb-f8575666d604
                    message: Freelancer verification successful
                    timestamp: '2026-01-08T07:20:58.627963179Z'
                    meta: null
                    status_detail: null
                    verifications:
                      certificate_ownership_verified: VERIFIED
                      national_id: '1119364972'
                      national_id_expiry_date: null
                      name: null
                      gender: null
                      certificate:
                      - expiry_date: '2026-03-05'
                        number: null
                        status: ACTIVE
                        revoked_at: null
                        issue_date: null
                        speciality: null
                        canceled_at: null
        '400':
          description: Bad request due to invalid input parameters
        '401':
          description: Unauthorized due to invalid or missing authentication
        '403':
          description: Not allowed to perform the operation
      tags:
      - Freelancer Verification
  /verifications/v2/iban:
    servers: []
    post:
      operationId: ibanVerification
      summary: Verify IBAN Ownership
      description: 'Verifies whether an ID or FULL NAME is the account owner of a provided IBAN.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IbanVerificationRequest'
            example:
              type: PERSONAL
              iban: SA2810000011100000461309
              identifications:
              - type: NATIONAL_ID
                value: '1106972886'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponseIbanVerificationResponsePayload'
              examples:
                '1':
                  summary: UAE - Success - Verified (ID or name matching)
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Data successfully retrieved
                    timestamp: '2025-07-25T11:01:04.709087696Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: true
                      swift_code: WIOBAEADXXX
                      bank_name:
                        en: WIO Bank PJSC
                        ar: ويو بنك ش.م.ع
                      bank_code: 086
                      account_status: ACTIVE
                      account_holder_name: 'Ker*** Ace*** Ander*** '
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '2':
                  summary: UAE - Success - Not verified (name matching)
                  value:
                    status: OK
                    results_id: 6157e56c-7508-4287-ad3b-1840f0d48ae7
                    message: Data successfully retrieved
                    timestamp: '2024-09-11T16:58:54.750933Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: NO_MATCH
                        score: 0
                      swift_code: ABDIAEAD
                      bank_name:
                        en: ENBDx Bank
                        ar: مصرف الامارات
                      bank_code: '006'
                      account_status: ACTIVE
                      account_holder_name: Adam Ahme*
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '3':
                  summary: UAE - Success - Partial match (name matching)
                  value:
                    status: OK
                    results_id: 6157e56c-7508-4287-ad3b-1840f0d48ae7
                    message: Data successfully retrieved
                    timestamp: '2024-09-11T16:58:54.750933Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: PARTIAL
                        score: 0.7
                      swift_code: ABDIAEAD
                      bank_name:
                        en: ENBDx Bank
                        ar: مصرف الامارات
                      bank_code: '006'
                      account_holder_name: Adam Ahme*
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '4':
                  summary: KSA - 200 - Success - matchExample
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: true
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: ١٥
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE
                '5':
                  summary: KSA - 200 - Success - no match
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: ١٥
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE
                '6':
                  summary: KSA - 200 - Success - Account inactive
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2024-02-09T15:57:29.144075150Z'
                    verifications:
                      iban_ownership_verified: false
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '15'
                      verification_method: SARIE
                      account_status: BLOCKED
                '7':
                  summary: KSA - 200 - Failed - unsupported by bank
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: UNSUPPORTED_BY_BANK
                      status_additional_info: This endpoint is currently not supported for this bank.
                '8':
                  summary: KSA - 200 - Failed - disabled by Lean
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: DISABLED_BY_LEAN
                      status_additional_info: This functionality has been temporarily disabled for this bank. Please try again
                        later.
                '9':
                  summary: KSA - 200 - Failed - disabled by client
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: DISABLED_BY_CLIENT
                      status_additional_info: This application has temporarily disabled functionality for this bank. Please
                        try again later.
                '10':
                  summary: KSA - 200 - Failed - bank issue
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: BANK_ISSUE
                      status_additional_info: Your bank is currently experiencing technological problems. Please try again
                        later.
                '11':
                  summary: KSA - 200 - Name matching - partial
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: PARTIAL
                        score: 0.7
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '24'
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE_AND_CONFIRMATION_OF_PAYEE_SERVICE
                '12':
                  summary: KSA - 200 - Name matching - no match
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: NO_MATCH
                        score: 0.3
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '24'
                      account_status: ACTIVE
                      account_holder_name: Jonathan Dogherty
                      verification_method: SARIE_AND_CONFIRMATION_OF_PAYEE_SERVICE
                '13':
                  summary: KSA - 200 - Name matching - match
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: true
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '24'
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE_AND_CONFIRMATION_OF_PAYEE_SERVICE
      tags:
      - Iban Verification
  /verifications/v2/iban/banks:
    servers: []
    get:
      operationId: getIbanVerificationBankConfigurations
      summary: Get IBAN Verification Bank Configurations
      description: Retrieves the list of banks with their availability and enablement status for IBAN verification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IbanVerificationBankConfiguration'
              example:
              - country_code: SAU
                bank_code: '15'
                bank_name:
                  en: AlBilad Bank
                  ar: بنك البلاد
                availability:
                  global: ENABLED
                  account_type:
                    personal:
                      match: ENABLED
                      no_match: ENABLED
                    freelancer:
                      match: ENABLED
                      no_match: DISABLED
                    business:
                      match: ENABLED
                      no_match: ENABLED
                application_enablement: ENABLED
              - country_code: ARE
                bank_code: '006'
                bank_name:
                  en: Emirates NBD
                  ar: الإمارات دبي الوطني
[...]
