openapi: 3.1.0
info:
  title: Insights API - Account Controls
  version: v2.0.0
  description: Offers overview signals and configurable thresholds on a connected account, returning a simple eligible/not-eligible
    verdict before any downstream process begins.
servers:
- url: https://sandbox.leantech.me
  description: Sandbox
- url: https://api2.leantech.me
  description: Production
paths:
  /insights/v3/account-controls:
    servers: []
    get:
      operationId: getAccountControls
      summary: Get Account Controls
      description: Offers overview signals and configurable thresholds on a connected account,  returning a simple eligible/not-eligible
        verdict before any downstream process begins
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/AccountControlsPayload'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                Get_AccountControls:
                  summary: Successful get account controls
                  value:
                    status: OK
                    results_id: d982e1fd-aaf0-41fe-9f11-a4f67f4dc918
                    message: Data successfully retrieved
                    timestamp: '2026-06-29T12:07:48Z'
                    type: account-controls
                    insights:
                      account_controls:
                        signals:
                          account_age_months: 14
                          is_current_account: true
                          has_salary_income: true
                          has_non_salary_income: true
                          has_inflows: true
                          has_loan_repayments: true
                          has_loan_disbursements: false
                          is_expense_account: true
                        thresholds:
                          meets_minimum_average_salary: true
                          meets_minimum_average_non_salary: true
                          meets_minimum_account_age: true
                          meets_minimum_current_balance: false
                        verdict:
                          eligible: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InsightsInvalidParametersExample'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UserPermissionsNotGrantedExample:
                  $ref: '#/components/examples/InsightsUserPermissionsNotGrantedExample'
                ConsentExpiredExample:
                  $ref: '#/components/examples/InsightsConsentExpiredExample'
                TransactionRangeNotGrantedExample:
                  $ref: '#/components/examples/InsightsTransactionRangeNotGrantedExample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UnknownEntityExample:
                  $ref: '#/components/examples/InsightsUnknownEntityExample'
                DataNotFoundExample:
                  $ref: '#/components/examples/InsightsDataNotFoundExample'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                TimeoutExample:
                  $ref: '#/components/examples/InsightsTimeoutExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InsightsInternalServerErrorExample'
      tags:
      - Account Controls (New)
  /insights/v2/assets/cashflows:
    servers: []
    get:
      operationId: getCashflows
      summary: Get Cashflow
      description: 'The Cashflow API provides access to **Personal** and **Business** cash flow data. For personal accounts,
        it offers insights into monthly cash inflows, outflows, and net cash flow. For business accounts, it offers detailed
        insights on revenue, expenses, and net cash flow.

        You can use this API to evaluate financial stability, manage cash flow effectively, and assess the account holder''s
        ability to meet financial obligations.'
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: async
        in: query
        description: 'When true the API will return a results_id which can be fetched from the /data/v2/results endpoint when
          ready. Note: it''''s recommended to use the sync flow (async=false) for all requests by adapting the data workflow
          for connected entities.'
        required: false
        schema:
          type: boolean
          default: true
        deprecated: true
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) you want to query transactions for.
        required: true
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowResult'
              examples:
                successfulCashflow:
                  summary: Successful cashflow retrieval with insights
                  value:
                    status: OK
                    results_id: c4b9d9e1-6e1a-4f4b-8a71-1c7e3d9b2210
                    message: Data successfully retrieved
                    meta: null
                    timestamp: '2026-01-08T12:03:41.912384901Z'
                    status_detail: null
                    type: cashflow
                    insights:
                      total:
                        inwards:
                        - category: inflow
                          amount:
                            currency: AED
                            amount: 204000
                          count: 120
                        outwards:
                        - category: outflow
                          amount:
                            currency: AED
                            amount: 156000
                          count: 845
                        net:
                          overall_amount:
                            currency: AED
                            amount: 48000
                          net_cashflow:
                            currency: AED
                            amount: 48000
                      monthly_totals:
                      - month: 12
                        year: 2024
                        is_month_complete: true
                        inwards:
                        - category: inflow
                          amount:
                            currency: AED
                            amount: 17200
                          count: 10
                        outwards:
                        - category: outflow
                          amount:
                            currency: AED
                            amount: 13500
                          count: 72
                        net:
                          overall_amount:
                            currency: AED
                            amount: 3700
                          net_cashflow:
                            currency: AED
                            amount: 3700
                      - month: 11
                        year: 2024
                        is_month_complete: true
                        inwards:
                        - category: inflow
                          amount:
                            currency: AED
                            amount: 18500
                          count: 11
                        outwards:
                        - category: outflow
                          amount:
                            currency: AED
                            amount: 12800
                          count: 68
                        net:
                          overall_amount:
                            currency: AED
                            amount: 5700
                          net_cashflow:
                            currency: AED
                            amount: 3700
                      credit_debit_behaviour:
                        periods:
                        - period: P12M
                          grand_average_credit_amount:
                            currency: AED
                            amount: 1700
                          grand_average_credit_count: 10
                          grand_average_debit_amount:
                            currency: AED
                            amount: 184.62
                          grand_average_debit_count: 70
                          grand_average_credit_debit_amount_ratio: 9.21
                          grand_average_credit_debit_count_ratio: 0.14
                          total_volume_of_credit:
                            currency: AED
                            amount: 204000
                          total_volume_of_debit:
                            currency: AED
                            amount: 156000
                          total_volume_of_credit_debit_ratio: 1.31
                      big_payments:
                        periods:
                        - period: P12M
                          average_max_monthly_credit_amount:
                            currency: AED
                            amount: 15000
                          average_max_monthly_debit_amount:
                            currency: AED
                            amount: 3000
                          average_max_monthly_credit_debit_amount_ratio: 5
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowResult'
              examples:
                pendingCashflow:
                  summary: Request accepted and processing
                  value:
                    status: PENDING
                    results_id: 97a23607-29b0-4ad6-9f26-3c1a5efa65da
                    message: Please wait for a webhook or try again later.
                    meta: null
                    timestamp: '2026-01-08T11:57:14.909323921Z'
                    status_detail: null
                    insights: {}
        '501':
          $ref: '#/components/responses/UnsupportedByBankResponse'
      tags:
      - Assets
  /insights/v2/assets/balances:
    servers: []
    get:
      operationId: getBalances
      summary: Get Cash Balances
      description: 'The Cash Balances API provides a comprehensive view of both **Personal** or **Business** cash balances,
        offering insights into current, historical, and average balances.

        The data in this API allows financial companies to monitor liquidity trends and assess the financial health of bank
        accounts over time. Additionally, it provides information on the frequency and amount of contributions. You can use
        these insights to evaluate repayment capacity.

        > **"Supported for both retail and corporate accounts"**'
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: async
        in: query
        description: 'When true the API will return a results_id which can be fetched from the /data/v2/results endpoint when
          ready. Note: it''''s recommended to use the sync flow (async=false) for all requests by adapting the data workflow
          for connected entities.'
        required: false
        schema:
          type: boolean
          default: true
        deprecated: true
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) you want to query transactions for.
        required: true
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashBalanceResult'
              examples:
                successfulBalance:
                  summary: Successful balance retrieval with insights
                  value:
                    status: OK
                    results_id: b7f2c8d4-3e1a-4c5b-9d8f-2a6e4b7c9d1e
                    message: Data successfully retrieved
                    meta: null
                    timestamp: '2026-01-08T12:05:32.823456789Z'
                    status_detail: null
                    insights:
                      total:
                        average_balance:
                          currency: AED
                          amount: 74000
                        initial_balance:
                          currency: AED
                          amount: 50000
                        current_balance:
                          currency: AED
                          amount: 98000
                        available_balance:
                          currency: AED
                          amount: 98000
                        frequency_of_contributions: MONTHLY
                      monthly_totals:
                      - month: 12
                        year: 2024
                        is_month_complete: true
                        monthly_growth_rate: 0.04
                        contribution_amount:
                          currency: AED
                          amount: 3700
                        average_balance:
                          currency: AED
                          amount: 96150
                        initial_balance:
                          currency: AED
                          amount: 92450
                      - month: 11
                        year: 2024
                        is_month_complete: true
                        monthly_growth_rate: 0.07
                        contribution_amount:
                          currency: AED
                          amount: 5700
                        average_balance:
                          currency: AED
                          amount: 89600
                        initial_balance:
                          currency: AED
                          amount: 83900
                      balance_factors:
                        balance_trend_average_month_on_month: 1.5
                        current_balance: 98000
                        periods:
                        - period: P12M
                          average_balance_variance: 0.12
                          average_monthly_growth_rate: 0.08
                          trend: INCREASING
                        balance_trend: 10
                        inflow_factors:
                          median_transaction_amount: 653.52
                          max_transaction_amount: 30000
                          min_transaction_amount: 0.65
                          weekday_transaction_count: 233
                          weekend_transaction_count: 93
                          average_time: 1.88
                          percent_greater_than_x: 99
                          recurring_average: 20000
                          median_days: 1
                          pct_salary: 85
                        outflow_factors:
                          median_transaction_amount: 307.18
                          max_transaction_amount: 1750.35
                          min_transaction_amount: 0.77
                          weekday_transaction_count: 233
                          weekend_transaction_count: 92
                          average_time: 1.17
                          percent_greater_than_x: 83
                          recurring_average: 0
                          median_days: 1
                          spike_transactions:
                          - month: 11
                            year: 2024
                            amount: 11247.68
                          - month: 12
                            year: 2024
                            amount: 21235.74
                          - month: 9
                            year: 2025
                            amount: 235114.03
                        daily_net_cashflow_estimate: 1431
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashBalanceResult'
              examples:
                pendingBalance:
                  summary: Request accepted and processing
                  value:
                    status: PENDING
                    results_id: 97a23607-29b0-4ad6-9f26-3c1a5efa65da
                    message: Please wait for a webhook or try again later.
                    meta: null
                    timestamp: '2026-01-08T11:57:14.909323921Z'
                    status_detail: null
                    insights: {}
        '501':
          $ref: '#/components/responses/UnsupportedByBankResponse'
      tags:
      - Assets
  /insights/v3/behaviors:
    servers: []
    get:
      operationId: getBehavioralInsights
      summary: Get Behavioral Insights
      description: Enriches debit transactions with category, merchant, and location data, returning aggregated spend analytics  by
        category, merchant, and geography.
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) of the analysis window. When omitted, defaults to the
          earliest debit transaction available for the entity.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      - name: end_date
        in: query
        description: The end date in UTC (in the format YYYY-MM-DD) of the analysis window (inclusive — transactions on this
          date are included). When omitted, defaults to the current time.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/BehaviorsPayload'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                Get_BehavioralInsights_UAE_2:
                  summary: Successful get behavioral insights - UAE
                  value:
                    status: OK
                    results_id: d982e1fd-aaf0-41fe-9f11-a4f67f4dc918
                    message: Data successfully retrieved
                    timestamp: '2026-01-08T12:07:48Z'
                    type: behaviors
                    insights:
                      behaviors:
                        by_category:
                          detected_primary_category_count: 3
                          detected_secondary_category_count: 3
                          transaction_count: 6
                          breakdown:
                          - primary_category: Retail
                            secondary_category: Clothing
                            merchant_names:
                            - Zara
                            merchant_count: 1
                            total_amount:
                              currency: AED
                              amount: 200
                            average_transaction_amount:
                              currency: AED
                              amount: 200
                            transaction_count: 1
                            average_monthly_transactions: 0.06
                            average_monthly_transactions_active: 1
                            average_monthly_amount:
                              currency: AED
                              amount: 11.76
                            average_monthly_amount_active:
                              currency: AED
                              amount: 200
                            first_transaction_date: '2025-03-10T00:00:00Z'
                            last_transaction_date: '2025-03-10T00:00:00Z'
                            active_months: 1
                          - primary_category: Transportation
                            secondary_category: Fuel
                            merchant_names:
                            - Shell
                            merchant_count: 1
                            total_amount:
                              currency: AED
                              amount: 220
                            average_transaction_amount:
                              currency: AED
                              amount: 110
                            transaction_count: 2
                            average_monthly_transactions: 0.12
                            average_monthly_transactions_active: 1
                            average_monthly_amount:
                              currency: AED
                              amount: 12.94
                            average_monthly_amount_active:
                              currency: AED
                              amount: 110
                            first_transaction_date: '2025-01-20T00:00:00Z'
                            last_transaction_date: '2025-02-20T00:00:00Z'
                            active_months: 2
                          - primary_category: Food & Dining
                            secondary_category: Restaurants
                            merchant_names:
                            - Albaik
                            merchant_count: 1
                            total_amount:
                              currency: AED
                              amount: 110
                            average_transaction_amount:
                              currency: AED
                              amount: 55
                            transaction_count: 2
                            average_monthly_transactions: 0.12
                            average_monthly_transactions_active: 1
                            average_monthly_amount:
                              currency: AED
                              amount: 6.47
                            average_monthly_amount_active:
                              currency: AED
                              amount: 55
                            first_transaction_date: '2025-01-10T00:00:00Z'
                            last_transaction_date: '2025-02-10T00:00:00Z'
                            active_months: 2
                        by_merchant:
                          detected_merchant_count: 3
                          transaction_count: 6
                          breakdown:
                          - merchant_name: Albaik
                            transaction_count: 2
                            total_amount:
                              currency: AED
                              amount: 110
                            average_transaction_amount:
                              currency: AED
                              amount: 55
                            average_monthly_transactions: 0.12
                            average_monthly_transactions_active: 1
                            average_monthly_amount:
                              currency: AED
                              amount: 6.47
                            average_monthly_amount_active:
                              currency: AED
                              amount: 55
                            first_transaction_date: '2025-01-10T00:00:00Z'
                            last_transaction_date: '2025-02-10T00:00:00Z'
                            active_months: 2
                          - merchant_name: Zara
                            transaction_count: 1
                            total_amount:
                              currency: AED
                              amount: 200
                            average_transaction_amount:
                              currency: AED
                              amount: 200
                            average_monthly_transactions: 0.06
                            average_monthly_transactions_active: 1
                            average_monthly_amount:
                              currency: AED
                              amount: 11.76
                            average_monthly_amount_active:
                              currency: AED
                              amount: 200
                            first_transaction_date: '2025-03-10T00:00:00Z'
                            last_transaction_date: '2025-03-10T00:00:00Z'
                            active_months: 1
                          - merchant_name: Shell
                            transaction_count: 2
                            total_amount:
                              currency: AED
                              amount: 220
                            average_transaction_amount:
                              currency: AED
                              amount: 110
                            average_monthly_transactions: 0.12
                            average_monthly_transactions_active: 1
                            average_monthly_amount:
                              currency: AED
                              amount: 12.94
                            average_monthly_amount_active:
                              currency: AED
                              amount: 110
                            first_transaction_date: '2025-01-20T00:00:00Z'
                            last_transaction_date: '2025-02-20T00:00:00Z'
                            active_months: 2
                        by_location:
                          detected_location_count: 2
                          transaction_count: 6
                          breakdown:
                          - location: Riyadh
                            transaction_count: 3
                            total_amount:
                              currency: AED
                              amount: 350
                            average_transaction_amount:
                              currency: AED
                              amount: 116.67
                            average_monthly_transactions: 0.18
                            average_monthly_transactions_active: 1.5
                            average_monthly_amount:
                              currency: AED
                              amount: 20.59
                            average_monthly_amount_active:
                              currency: AED
                              amount: 175
                            first_transaction_date: '2025-01-10T00:00:00Z'
                            last_transaction_date: '2025-03-10T00:00:00Z'
                            active_months: 2
                          - location: Jeddah
                            transaction_count: 2
                            total_amount:
                              currency: AED
                              amount: 180
                            average_transaction_amount:
                              currency: AED
                              amount: 90
                            average_monthly_transactions: 0.12
                            average_monthly_transactions_active: 2
                            average_monthly_amount:
                              currency: AED
                              amount: 10.59
                            average_monthly_amount_active:
                              currency: AED
                              amount: 180
                            first_transaction_date: '2025-02-10T00:00:00Z'
                            last_transaction_date: '2025-02-20T00:00:00Z'
                            active_months: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InsightsInvalidParametersExample'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UserPermissionsNotGrantedExample:
                  $ref: '#/components/examples/InsightsUserPermissionsNotGrantedExample'
                ConsentExpiredExample:
                  $ref: '#/components/examples/InsightsConsentExpiredExample'
                TransactionRangeNotGrantedExample:
                  $ref: '#/components/examples/InsightsTransactionRangeNotGrantedExample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UnknownEntityExample:
                  $ref: '#/components/examples/InsightsUnknownEntityExample'
                DataNotFoundExample:
                  $ref: '#/components/examples/InsightsDataNotFoundExample'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                TimeoutExample:
                  $ref: '#/components/examples/InsightsTimeoutExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InsightsInternalServerErrorExample'
      tags:
      - Behavioral Insights (New)
  /insights/v3/cashflow-patterns:
    servers: []
    get:
      operationId: getCashFlow
      summary: Get Cash Flow Patterns
      description: "Detects recurring inflow and outflow transactions and groups them into structured patterns, surfacing\
        \ frequency, \nexpected timing, and whether each pattern is ongoing, new, or stopped."
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) of the analysis window. When omitted, defaults to the
          earliest transaction available for the entity.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      - name: end_date
        in: query
        description: The end date in UTC (in the format YYYY-MM-DD) of the analysis window (inclusive — transactions on this
          date are included). When omitted, defaults to the current time.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/CashflowPatterns'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                GetCashFlow:
                  summary: Successful cashflow patterns response
                  value:
                    status: OK
                    results_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: Data successfully retrieved
                    timestamp: '2026-03-01T12:00:00Z'
                    type: cashflow-patterns
                    insights:
                      cashflow_patterns:
                      - credit_debit_indicator: DEBIT
                        primary_category: Health & Wellbeing
                        secondary_category: Gym
                        counter_party: Warehouse Gym
                        total_amount:
                          currency: AED
                          amount: 3000
                        transaction_count: 3
                        monthly_totals:
                        - month: 2026-01
                          amount:
                            currency: AED
                            amount: 1000
                          transaction_count: 1
                        - month: 2026-02
                          amount:
                            currency: AED
                            amount: 1000
                          transaction_count: 1
                        - month: 2026-03
                          amount:
                            currency: AED
                            amount: 1000
                          transaction_count: 1
                        regularity:
                          days_of_month_numbers:
                          - 2
                          days_of_month_names:
                          - Sunday
                          interval:
                            minimum_days: 27
                            maximum_days: 33
                          average_interval_days: 30
                          frequency: MONTHLY
                          activity_status: ONGOING
                      - credit_debit_indicator: DEBIT
                        primary_category: Health & Wellbeing
                        secondary_category: Gym
                        counter_party: Gym XX
                        total_amount:
                          currency: AED
                          amount: 3000
                        transaction_count: 3
                        monthly_totals:
                        - month: 2026-01
                          amount:
                            currency: AED
                            amount: 1000
                          transaction_count: 1
                        - month: 2026-02
                          amount:
                            currency: AED
                            amount: 1000
                          transaction_count: 1
                        - month: 2026-03
                          amount:
                            currency: AED
                            amount: 1000
                          transaction_count: 1
                        regularity:
                          days_of_month_numbers:
                          - 2
                          days_of_month_names:
                          - Monday
                          interval:
                            minimum_days: 27
                            maximum_days: 33
                          average_interval_days: 30
                          frequency: WEEKLY
                          activity_status: ONGOING
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InsightsInvalidParametersExample'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UserPermissionsNotGrantedExample:
                  $ref: '#/components/examples/InsightsUserPermissionsNotGrantedExample'
                ConsentExpiredExample:
                  $ref: '#/components/examples/InsightsConsentExpiredExample'
                TransactionRangeNotGrantedExample:
                  $ref: '#/components/examples/InsightsTransactionRangeNotGrantedExample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UnknownEntityExample:
                  $ref: '#/components/examples/InsightsUnknownEntityExample'
                DataNotFoundExample:
                  $ref: '#/components/examples/InsightsDataNotFoundExample'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                TimeoutExample:
                  $ref: '#/components/examples/InsightsTimeoutExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InsightsInternalServerErrorExample'
      tags:
      - Cashflow Patterns (New)
  /insights/v3/credit-assessments:
    servers: []
    get:
      operationId: getCreditAssessments
      summary: Get Credit Assessments
      description: "Aggregates income, expenses, and balance into pre-computed credit indicators for DBR, affordability ratio,\
        \ \nnet cashflow, and max installment capacity. This endpoint offers configuration capabilities in order to fit and\
        \ calibrate to your credit policy."
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) of the analysis window. When omitted, defaults to the
          earliest transaction available for the entity.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      - name: end_date
        in: query
        description: The end date in UTC (in the format YYYY-MM-DD) of the analysis window (inclusive — transactions on this
          date are included). When omitted, defaults to the current time.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/CreditAssessmentPayload'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                GetCreditAssessments:
                  summary: Successful credit assessment response
                  value:
                    status: OK
                    results_id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                    message: Data successfully retrieved
                    timestamp: '2026-03-01T12:00:00Z'
                    type: credit-assessments
                    insights:
                      credit_assessments:
                        income:
                          employment_income:
                            total_amount:
                              currency: AED
                              amount: 31200
                            average_monthly_amount:
                              currency: AED
                              amount: 5200
                            contribution_factor: 1
                            contributed_average_monthly_income:
                              currency: AED
                              amount: 5200
                          other_income:
                            breakdown:
                            - source: GIG_ECONOMY
                              total_amount:
                                currency: AED
                                amount: 3000
                              average_monthly_amount:
                                currency: AED
                                amount: 500
                              contribution_factor: 0.5
                              contributed_average_monthly_income:
                                currency: AED
                                amount: 250
                          total_contributed_average_monthly_income:
                            currency: AED
                            amount: 5450
                        expenses:
                          average_monthly_credit_repayments:
                            currency: AED
                            amount: 900
                          average_monthly_essential_expenses:
                            currency: AED
                            amount: 2200
                          average_monthly_discretionary_expenses:
                            currency: AED
                            amount: 1300
                          average_monthly_total_expenses:
                            currency: AED
                            amount: 4400
                          defined_essential_categories:
                          - RENT
                          - TRANSPORTATION
                        balance:
                          average_balance:
                            currency: AED
                            amount: 4200
                          minimum_balance:
                            currency: AED
                            amount: 800
                          maximum_balance:
                            currency: AED
                            amount: 7200
                        computed_indicators:
                          average_monthly_net_cashflow:
                            currency: AED
                            amount: 1050
                          dbr:
                            rate: 0.165
                            ceiling: 0.5
                            maximum_monthly_installment:
                              currency: AED
                              amount: 1825
                          affordability:
                            rate: 0.569
                            ceiling: 0.7
                            maximum_monthly_installment:
                              currency: AED
                              amount: 2349
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InsightsInvalidParametersExample'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UserPermissionsNotGrantedExample:
                  $ref: '#/components/examples/InsightsUserPermissionsNotGrantedExample'
                ConsentExpiredExample:
                  $ref: '#/components/examples/InsightsConsentExpiredExample'
                TransactionRangeNotGrantedExample:
                  $ref: '#/components/examples/InsightsTransactionRangeNotGrantedExample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UnknownEntityExample:
                  $ref: '#/components/examples/InsightsUnknownEntityExample'
                DataNotFoundExample:
                  $ref: '#/components/examples/InsightsDataNotFoundExample'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                TimeoutExample:
                  $ref: '#/components/examples/InsightsTimeoutExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InsightsInternalServerErrorExample'
      tags:
      - Credit Assessments (New)
      x-spring-response-entity: true
  /insights/v3/credit-obligations:
    servers: []
    get:
      operationId: getCreditObligationsV3
      summary: Get Credit Obligations
      description: Delivers a structured view of a user's borrowing activity as per the connected account.  Shows repayments
        and disbursements broken down by lender name and credit type.
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) of the analysis window. When omitted, defaults to the
          earliest transaction available for the entity.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      - name: end_date
        in: query
        description: The end date in UTC (in the format YYYY-MM-DD) of the analysis window (inclusive — transactions on this
          date are included). When omitted, defaults to the current time.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/CreditObligationsV2Payload'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                Get_CreditObligations:
                  summary: Successful get credit obligations
                  value:
                    status: OK
                    results_id: 6cdf799f-6beb-4fb5-a9de-bf07771c8da3
                    message: Data successfully retrieved
                    meta: null
                    timestamp: '2026-06-04T07:19:41.702056182Z'
                    status_detail: null
                    type: credit-obligations
                    insights:
                      credit_obligations:
                        repayments:
                          overall:
                            transaction_count: 6
                            total_amount:
                              currency: AED
                              amount: 2410.61
                            average_monthly_amount:
                              currency: AED
                              amount: 66.96
                            average_monthly_amount_active:
                              currency: AED
                              amount: 602.65
                            average_monthly_transactions: 0.17
                            active_months: 4
                            lender_count: 2
                            lender_organizations:
                            - TABBY
                            - Tamara
                          breakdown:
                          - lender_name: TABBY
                            credit_type: BNPL
                            transaction_count: 3
                            total_amount:
                              currency: AED
                              amount: 1497.92
                            average_monthly_amount:
                              currency: AED
                              amount: 41.61
                            average_monthly_amount_active:
                              currency: AED
                              amount: 748.96
                            first_transaction_date: '2025-07-27'
                            last_transaction_date: '2025-08-26'
                            active_months: 2
                          - lender_name: Tamara
                            credit_type: BNPL
                            transaction_count: 3
                            total_amount:
                              currency: AED
                              amount: 912.69
                            average_monthly_amount:
                              currency: AED
                              amount: 25.35
                            average_monthly_amount_active:
                              currency: AED
                              amount: 304.23
                            first_transaction_date: '2025-06-27'
                            last_transaction_date: '2025-09-26'
                            active_months: 3
                        disbursements:
                          overall:
                            transaction_count: 1
                            total_amount:
                              currency: AED
                              amount: 44482.5
                            average_monthly_amount:
                              currency: AED
                              amount: 1235.63
                            average_monthly_amount_active:
                              currency: AED
                              amount: 44482.5
                            average_monthly_transactions: 0.03
                            active_months: 1
                            lender_count: 1
                            lender_organizations:
                            - tamweelaloula
                          breakdown:
                          - lender_name: tamweelaloula
                            transaction_count: 1
                            total_amount:
                              currency: AED
                              amount: 44482.5
                            average_monthly_amount:
                              currency: AED
                              amount: 1235.63
                            average_monthly_amount_active:
                              currency: AED
                              amount: 44482.5
                            first_transaction_date: '2025-07-17'
                            last_transaction_date: '2025-07-17'
                            active_months: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InsightsInvalidParametersExample'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UserPermissionsNotGrantedExample:
                  $ref: '#/components/examples/InsightsUserPermissionsNotGrantedExample'
                ConsentExpiredExample:
                  $ref: '#/components/examples/InsightsConsentExpiredExample'
                TransactionRangeNotGrantedExample:
                  $ref: '#/components/examples/InsightsTransactionRangeNotGrantedExample'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                UnknownEntityExample:
                  $ref: '#/components/examples/InsightsUnknownEntityExample'
                DataNotFoundExample:
                  $ref: '#/components/examples/InsightsDataNotFoundExample'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                TimeoutExample:
                  $ref: '#/components/examples/InsightsTimeoutExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResult'
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InsightsInternalServerErrorExample'
      tags:
      - Credit Obligations (New)
  /insights/v2/expenses:
    servers: []
    get:
      operationId: getExpenses
      summary: Get Expenses
      description: Provides insights on the expenses (outflows) from a bank account.
      parameters:
      - name: entity_id
        in: query
        description: The `entity_id` you're querying for.
        required: true
        schema:
          type: string
          format: uuid
      - name: async
        in: query
        description: 'When true the API will return a results_id which can be fetched from the /data/v2/results endpoint when
          ready. Note: it''''s recommended to use the sync flow (async=false) for all requests by adapting the data workflow
          for connected entities.'
        required: false
        schema:
          type: boolean
          default: true
        deprecated: true
      - name: start_date
        in: query
        description: The start date in UTC (in the format YYYY-MM-DD) you want to query expenses for.
        required: false
        schema:
          type: string
          format: date
        x-field-extra-annotation: '@jakarta.validation.constraints.PastOrPresent'
      - name: expense_type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/ExpenseType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/Expenses'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                Get_Expenses_UAE_2:
                  summary: Successful get expenses insights - UAE
                  value:
                    status: OK
                    results_id: d982e1fd-aaf0-41fe-9f11-a4f67f4dc918
                    message: Data successfully retrieved
                    timestamp: '2026-01-08T12:07:48Z'
                    type: expenses
                    insights:
                      currency: AED
                      total:
                        count: 142
                        amount: 45650.75
                        first_date_time: '2025-07-01T08:15:00Z'
                        last_date_time: '2025-12-28T19:45:00Z'
                        average_monthly_count: 23.67
                        average_monthly_amount: 7608.46
                        minimum_monthly_amount:
                          month: 8
                          year: 2025
                          amount: 6850.25
                        maximum_monthly_amount:
                          month: 11
                          year: 2025
                          amount: 8950.5
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 38
                            amount: 12450
                            fraction_of_total_expenses: 0.2727
                          - category: RENT_AND_SERVICES
                            count: 6
                            amount: 12000
                            fraction_of_total_expenses: 0.2629
                          - category: TRANSPORT
                            count: 24
                            amount: 4850.75
                            fraction_of_total_expenses: 0.1063
                          - category: RESTAURANTS_DINING
                            count: 18
                            amount: 4250
                            fraction_of_total_expenses: 0.0931
                          - category: RETAIL
                            count: 22
                            amount: 3800
                            fraction_of_total_expenses: 0.0833
                          - category: HEALTH_AND_WELLBEING
                            count: 8
                            amount: 2500
                            fraction_of_total_expenses: 0.0548
                          - category: EDUCATION
                            count: 4
                            amount: 2000
                            fraction_of_total_expenses: 0.0438
                          - category: ENTERTAINMENT
                            count: 12
                            amount: 1800
                            fraction_of_total_expenses: 0.0394
                          - category: BANK_FEES_AND_CHARGES
                            count: 6
                            amount: 450
                            fraction_of_total_expenses: 0.0099
                          - category: CHARITY
                            count: 2
                            amount: 500
                            fraction_of_total_expenses: 0.011
                          - category: OTHER
                            count: 2
                            amount: 250
                            fraction_of_total_expenses: 0.0055
                      monthly_totals:
                      - month: 7
                        year: 2025
                        amount: 7200
                        count: 20
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 6
                            amount: 2100
                            fraction_of_total_expenses: 0.2917
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 2000
                            fraction_of_total_expenses: 0.2778
                          - category: TRANSPORT
                            count: 4
                            amount: 850
                            fraction_of_total_expenses: 0.1181
                          - category: RESTAURANTS_DINING
                            count: 3
                            amount: 750
                            fraction_of_total_expenses: 0.1042
                          - category: RETAIL
                            count: 4
                            amount: 650
                            fraction_of_total_expenses: 0.0903
                          - category: HEALTH_AND_WELLBEING
                            count: 1
                            amount: 400
                            fraction_of_total_expenses: 0.0556
                          - category: ENTERTAINMENT
                            count: 1
                            amount: 650
                            fraction_of_total_expenses: 0.0903
                      - month: 8
                        year: 2025
                        amount: 6850.25
                        count: 18
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 5
                            amount: 1950
                            fraction_of_total_expenses: 0.2845
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 2000
                            fraction_of_total_expenses: 0.2918
                          - category: TRANSPORT
                            count: 3
                            amount: 750.25
                            fraction_of_total_expenses: 0.1095
                          - category: RESTAURANTS_DINING
                            count: 3
                            amount: 650
                            fraction_of_total_expenses: 0.0949
                          - category: RETAIL
                            count: 3
                            amount: 600
                            fraction_of_total_expenses: 0.0876
                          - category: HEALTH_AND_WELLBEING
                            count: 1
                            amount: 400
                            fraction_of_total_expenses: 0.0584
                          - category: ENTERTAINMENT
                            count: 2
                            amount: 500
                            fraction_of_total_expenses: 0.073
                      - month: 9
                        year: 2025
                        amount: 7850.5
                        count: 25
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 7
                            amount: 2200
                            fraction_of_total_expenses: 0.2803
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 2000
                            fraction_of_total_expenses: 0.2548
                          - category: TRANSPORT
                            count: 5
                            amount: 950.5
                            fraction_of_total_expenses: 0.1211
                          - category: RESTAURANTS_DINING
                            count: 4
                            amount: 900
                            fraction_of_total_expenses: 0.1146
                          - category: RETAIL
                            count: 4
                            amount: 700
                            fraction_of_total_expenses: 0.0892
                          - category: HEALTH_AND_WELLBEING
                            count: 2
                            amount: 500
                            fraction_of_total_expenses: 0.0637
                          - category: EDUCATION
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0637
                          - category: ENTERTAINMENT
                            count: 1
                            amount: 100
                            fraction_of_total_expenses: 0.0127
                      - month: 10
                        year: 2025
                        amount: 8200
                        count: 26
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 7
                            amount: 2300
                            fraction_of_total_expenses: 0.2805
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 2000
                            fraction_of_total_expenses: 0.2439
                          - category: TRANSPORT
                            count: 5
                            amount: 1000
                            fraction_of_total_expenses: 0.122
                          - category: RESTAURANTS_DINING
                            count: 4
                            amount: 950
                            fraction_of_total_expenses: 0.1159
                          - category: RETAIL
                            count: 5
                            amount: 850
                            fraction_of_total_expenses: 0.1037
                          - category: HEALTH_AND_WELLBEING
                            count: 2
                            amount: 500
                            fraction_of_total_expenses: 0.061
                          - category: EDUCATION
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.061
                          - category: ENTERTAINMENT
                            count: 1
                            amount: 150
                            fraction_of_total_expenses: 0.0183
                      - month: 11
                        year: 2025
                        amount: 8950.5
                        count: 28
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 7
                            amount: 2400
                            fraction_of_total_expenses: 0.2682
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 2000
                            fraction_of_total_expenses: 0.2235
                          - category: TRANSPORT
                            count: 4
                            amount: 850.5
                            fraction_of_total_expenses: 0.095
                          - category: RESTAURANTS_DINING
                            count: 2
                            amount: 600
                            fraction_of_total_expenses: 0.067
                          - category: RETAIL
                            count: 4
                            amount: 800
                            fraction_of_total_expenses: 0.0894
                          - category: HEALTH_AND_WELLBEING
                            count: 1
                            amount: 400
                            fraction_of_total_expenses: 0.0447
                          - category: EDUCATION
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0559
                          - category: ENTERTAINMENT
                            count: 4
                            amount: 800
                            fraction_of_total_expenses: 0.0894
                          - category: CHARITY
                            count: 1
                            amount: 300
                            fraction_of_total_expenses: 0.0335
                          - category: BANK_FEES_AND_CHARGES
                            count: 3
                            amount: 200
                            fraction_of_total_expenses: 0.0223
                      - month: 12
                        year: 2025
                        amount: 8500
                        count: 25
                        is_month_complete: false
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: GROCERIES
                            count: 6
                            amount: 1800
                            fraction_of_total_expenses: 0.2118
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 2000
                            fraction_of_total_expenses: 0.2353
                          - category: TRANSPORT
                            count: 3
                            amount: 450
                            fraction_of_total_expenses: 0.0529
                          - category: RESTAURANTS_DINING
                            count: 2
                            amount: 400
                            fraction_of_total_expenses: 0.0471
                          - category: RETAIL
                            count: 2
                            amount: 200
                            fraction_of_total_expenses: 0.0235
                          - category: HEALTH_AND_WELLBEING
                            count: 1
                            amount: 300
                            fraction_of_total_expenses: 0.0353
                          - category: EDUCATION
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0588
                          - category: ENTERTAINMENT
                            count: 3
                            amount: 500
                            fraction_of_total_expenses: 0.0588
                          - category: CHARITY
                            count: 1
                            amount: 200
                            fraction_of_total_expenses: 0.0235
                          - category: BANK_FEES_AND_CHARGES
                            count: 3
                            amount: 150
                            fraction_of_total_expenses: 0.0176
                          - category: OTHER
                            count: 2
                            amount: 250
                            fraction_of_total_expenses: 0.0294
                Get_Expenses_UAE:
                  summary: Successful get expenses insights - UAE
                  value:
                    status: OK
                    results_id: d982e1fd-aaf0-41fe-9f11-a4f67f4dc918
                    message: Data successfully retrieved
                    timestamp: '2026-01-08T12:07:48Z'
                    type: expenses
                    insights:
                      currency: AED
                      total:
                        count: 168
                        amount: 67850.25
                        first_date_time: '2025-07-01T09:00:00Z'
                        last_date_time: '2025-12-29T20:30:00Z'
                        average_monthly_count: 28
                        average_monthly_amount: 11308.38
                        minimum_monthly_amount:
                          month: 8
                          year: 2025
                          amount: 9850
                        maximum_monthly_amount:
                          month: 11
                          year: 2025
                          amount: 12850.75
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 6
                            amount: 18000
                            fraction_of_total_expenses: 0.2653
                          - category: GROCERIES
                            count: 42
                            amount: 15200
                            fraction_of_total_expenses: 0.2241
                          - category: TRANSPORT
                            count: 28
                            amount: 7200.25
                            fraction_of_total_expenses: 0.1061
                          - category: RESTAURANTS_DINING
                            count: 24
                            amount: 6800
                            fraction_of_total_expenses: 0.1002
                          - category: RETAIL
                            count: 26
                            amount: 6200
                            fraction_of_total_expenses: 0.0914
                          - category: HEALTH_AND_WELLBEING
                            count: 10
                            amount: 3800
                            fraction_of_total_expenses: 0.056
                          - category: ENTERTAINMENT
                            count: 16
                            amount: 3200
                            fraction_of_total_expenses: 0.0472
                          - category: EDUCATION
                            count: 6
                            amount: 3000
                            fraction_of_total_expenses: 0.0442
                          - category: TRAVEL
                            count: 4
                            amount: 2500
                            fraction_of_total_expenses: 0.0369
                          - category: BANK_FEES_AND_CHARGES
                            count: 4
                            amount: 750
                            fraction_of_total_expenses: 0.0111
                          - category: OTHER
                            count: 2
                            amount: 200
                            fraction_of_total_expenses: 0.0029
                      monthly_totals:
                      - month: 7
                        year: 2025
                        amount: 10500
                        count: 24
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 3000
                            fraction_of_total_expenses: 0.2857
                          - category: GROCERIES
                            count: 7
                            amount: 2500
                            fraction_of_total_expenses: 0.2381
                          - category: TRANSPORT
                            count: 4
                            amount: 1200
                            fraction_of_total_expenses: 0.1143
                          - category: RESTAURANTS_DINING
                            count: 4
                            amount: 1100
                            fraction_of_total_expenses: 0.1048
                          - category: RETAIL
                            count: 4
                            amount: 900
                            fraction_of_total_expenses: 0.0857
                          - category: HEALTH_AND_WELLBEING
                            count: 2
                            amount: 600
                            fraction_of_total_expenses: 0.0571
                          - category: ENTERTAINMENT
                            count: 2
                            amount: 200
                            fraction_of_total_expenses: 0.019
                      - month: 8
                        year: 2025
                        amount: 9850
                        count: 22
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 3000
                            fraction_of_total_expenses: 0.3046
                          - category: GROCERIES
                            count: 6
                            amount: 2200
                            fraction_of_total_expenses: 0.2234
                          - category: TRANSPORT
                            count: 3
                            amount: 950
                            fraction_of_total_expenses: 0.0964
                          - category: RESTAURANTS_DINING
                            count: 3
                            amount: 900
                            fraction_of_total_expenses: 0.0914
                          - category: RETAIL
                            count: 4
                            amount: 800
                            fraction_of_total_expenses: 0.0812
                          - category: HEALTH_AND_WELLBEING
                            count: 2
                            amount: 500
                            fraction_of_total_expenses: 0.0508
                          - category: ENTERTAINMENT
                            count: 2
                            amount: 300
                            fraction_of_total_expenses: 0.0305
                          - category: BANK_FEES_AND_CHARGES
                            count: 1
                            amount: 200
                            fraction_of_total_expenses: 0.0203
                      - month: 9
                        year: 2025
                        amount: 11200
                        count: 28
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 3000
                            fraction_of_total_expenses: 0.2679
                          - category: GROCERIES
                            count: 7
                            amount: 2600
                            fraction_of_total_expenses: 0.2321
                          - category: TRANSPORT
                            count: 5
                            amount: 1250
                            fraction_of_total_expenses: 0.1116
                          - category: RESTAURANTS_DINING
                            count: 4
                            amount: 1200
                            fraction_of_total_expenses: 0.1071
                          - category: RETAIL
                            count: 5
                            amount: 1100
                            fraction_of_total_expenses: 0.0982
                          - category: HEALTH_AND_WELLBEING
                            count: 2
                            amount: 650
                            fraction_of_total_expenses: 0.058
                          - category: ENTERTAINMENT
                            count: 2
                            amount: 400
                            fraction_of_total_expenses: 0.0357
                          - category: EDUCATION
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0446
                          - category: TRAVEL
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0446
                      - month: 10
                        year: 2025
                        amount: 11500.5
                        count: 30
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 3000
                            fraction_of_total_expenses: 0.2609
                          - category: GROCERIES
                            count: 8
                            amount: 2700
                            fraction_of_total_expenses: 0.2348
                          - category: TRANSPORT
                            count: 5
                            amount: 1300.5
                            fraction_of_total_expenses: 0.1131
                          - category: RESTAURANTS_DINING
                            count: 5
                            amount: 1300
                            fraction_of_total_expenses: 0.113
                          - category: RETAIL
                            count: 5
                            amount: 1200
                            fraction_of_total_expenses: 0.1043
                          - category: HEALTH_AND_WELLBEING
                            count: 2
                            amount: 700
                            fraction_of_total_expenses: 0.0609
                          - category: ENTERTAINMENT
                            count: 3
                            amount: 600
                            fraction_of_total_expenses: 0.0522
                          - category: EDUCATION
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0435
                          - category: TRAVEL
                            count: 1
                            amount: 200
                            fraction_of_total_expenses: 0.0174
                      - month: 11
                        year: 2025
                        amount: 12850.75
                        count: 32
                        is_month_complete: true
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 3000
                            fraction_of_total_expenses: 0.2335
                          - category: GROCERIES
                            count: 7
                            amount: 2800
                            fraction_of_total_expenses: 0.2179
                          - category: TRANSPORT
                            count: 5
                            amount: 1400.75
                            fraction_of_total_expenses: 0.109
                          - category: RESTAURANTS_DINING
                            count: 4
                            amount: 1200
                            fraction_of_total_expenses: 0.0934
                          - category: RETAIL
                            count: 4
                            amount: 1100
                            fraction_of_total_expenses: 0.0856
                          - category: HEALTH_AND_WELLBEING
                            count: 1
                            amount: 500
                            fraction_of_total_expenses: 0.0389
                          - category: ENTERTAINMENT
                            count: 4
                            amount: 1000
                            fraction_of_total_expenses: 0.0778
                          - category: EDUCATION
                            count: 2
                            amount: 1000
                            fraction_of_total_expenses: 0.0778
                          - category: TRAVEL
                            count: 2
                            amount: 1500
                            fraction_of_total_expenses: 0.1167
                          - category: BANK_FEES_AND_CHARGES
                            count: 1
                            amount: 150
                            fraction_of_total_expenses: 0.0117
                      - month: 12
                        year: 2025
                        amount: 11950
                        count: 32
                        is_month_complete: false
                        breakdown:
                        - by: category
                          breakdowns:
                          - category: RENT_AND_SERVICES
                            count: 1
                            amount: 3000
                            fraction_of_total_expenses: 0.251
                          - category: GROCERIES
                            count: 7
                            amount: 2400
                            fraction_of_total_expenses: 0.2008
                          - category: TRANSPORT
                            count: 6
                            amount: 1100
                            fraction_of_total_expenses: 0.0921
                          - category: RESTAURANTS_DINING
                            count: 4
                            amount: 1100
                            fraction_of_total_expenses: 0.0921
                          - category: RETAIL
                            count: 4
                            amount: 1100
                            fraction_of_total_expenses: 0.0921
                          - category: HEALTH_AND_WELLBEING
                            count: 1
                            amount: 650
                            fraction_of_total_expenses: 0.0544
                          - category: ENTERTAINMENT
                            count: 3
                            amount: 900
                            fraction_of_total_expenses: 0.0753
                          - category: EDUCATION
                            count: 2
                            amount: 1000
                            fraction_of_total_expenses: 0.0837
                          - category: TRAVEL
                            count: 1
                            amount: 300
                            fraction_of_total_expenses: 0.0251
                          - category: BANK_FEES_AND_CHARGES
                            count: 2
                            amount: 400
                            fraction_of_total_expenses: 0.0335
                          - category: OTHER
                            count: 1
                            amount: 200
                            fraction_of_total_expenses: 0.0167
        '202':
          description: Accepted (Asynchronous request)
          content:
            application/json:
              examples:
                GetIncomeAsyncExample:
                  $ref: '#/components/examples/AsyncProcessingV2Example'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                InvalidParametersExample:
                  $ref: '#/components/examples/InvalidParametersExample'
        '404':
          description: Entity not found
          content:
            application/json:
              examples:
                UnknownEntityExample:
                  $ref: '#/components/examples/UnknownEntityExample'
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples:
                InternalServerErrorExample:
                  $ref: '#/components/examples/InternalServerErrorExample'
      tags:
      - Expenses
      x-spring-response-entity: true
  /insights/v2/income:
    servers: []
    post:
      operationId: verifyIncome
      summary: Get Income
      description: '`Get Income` endpoint provides essential income verification data for credit decisioning and underwriting
        processes. This API analyzes transaction history to produce reliable income insights for a specific borrower identified
        by their `entity_id`.


        The API returns comprehensive income information including categorization by source (salary vs. non-salary), monthly
        income patterns, and statistical analysis that helps lenders accurately assess an applicant''s ability to pay. These
        insights can be used for:


        - Verifying user stated income on loan applications

        - Calculating debt-to-income ratios with precision

        - Identifying income stability and irregularities

        - Supporting automated credit decisioning systems

        - Reducing manual verification workloads in underwriting


        Use this endpoint to streamline credit underwriting workflows, reduce time-to-decision, and make more informed lending
        decisions based on verified financial data.'
      parameters:
      - name: async
        in: query
        description: 'When true the API will return a results_id which can be fetched from the /data/v2/results endpoint when
          ready. Note: it''s recommended to use the sync flow (async=false) for all requests by adapting the data workflow
          for connected entities.'
        required: false
        schema:
          type: boolean
          default: false
        deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomeVerificationRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    insights:
                      $ref: '#/components/schemas/IncomeVerificationResponsePayload'
                    type:
                      $ref: '#/components/schemas/InsightsResultType'
                  type: object
              examples:
                Get_Income_UAE_2:
                  summary: Successful income verification with salary and non-salary insights - UAE
                  value:
                    status: OK
                    results_id: d982e1fd-aaf0-41fe-9f11-a4f67f4dc918
                    message: Data successfully retrieved
                    timestamp: '2026-01-08T12:07:48Z'
                    type: income
                    insights:
                      salary:
                        currency: AED
                        total:
                          amount: 72000
                          count: 6
                          first_date_time: '2025-07-01T00:00:00Z'
                          last_date_time: '2025-12-25T00:00:00Z'
                          average_monthly_amount: 12000
                          average_monthly_count: 1
                          average_monthly_received_value: 12000
                          maximum_monthly_amount:
                            month: 11
                            year: 2025
                            amount: 12500
                          minimum_monthly_amount:
                            month: 7
                            year: 2025
                            amount: 11500
                        monthly_totals:
                        - month: 7
                          year: 2025
                          amount: 11500
                          count: 1
                          is_month_complete: true
                        - month: 8
                          year: 2025
                          amount: 12000
                          count: 1
                          is_month_complete: true
                        - month: 9
                          year: 2025
                          amount: 12000
                          count: 1
                          is_month_complete: true
                        - month: 10
                          year: 2025
                          amount: 12000
                          count: 1
                          is_month_complete: true
                        - month: 11
                          year: 2025
                          amount: 12500
                          count: 1
                          is_month_complete: true
                        - month: 12
                          year: 2025
                          amount: 12000
                          count: 1
                          is_month_complete: false
                        transactions:
                        - account_id: 36f0cf74-b4b0-492f-b50f-0a4680aba59f
                          transaction_id: TXN-2025-12-25-001
                          transaction_information: SALARY FROM شركة أرامكو السعودية
                          booking_date_time: '2025-12-25T08:30:00Z'
                          amount: 12000
                          income_source:
                            type: EMPLOYMENT
                            name: شركة أرامكو السعودية
                        - account_id: 36f0cf74-b4b0-492f-b50f-0a4680aba59f
                          transaction_id: TXN-2025-11-25-001
                          transaction_information: SALARY FROM شركة أرامكو السعودية
                          booking_date_time: '2025-11-25T08:30:00Z'
                          amount: 12500
                          income_source:
                            type: EMPLOYMENT
                            name: شركة أرامكو السعودية
                        income_factors:
                          periods:
                          - period: P3M
                            income_variation: 2.5
                            average_income:
                              currency: AED
                              amount: 12166.67
                          - period: P6M
                            income_variation: 4.2
                            average_income:
                              currency: AED
                              amount: 12000
                          delta_min_max: 1.087
                          average_monthly_income_change: 1.2
                      non_salary:
                        currency: AED
                        total:
                          amount: 8500
                          count: 8
                          first_date_time: '2025-07-15T00:00:00Z'
                          last_date_time: '2025-12-20T00:00:00Z'
                          average_monthly_amount: 1416.67
                          average_monthly_count: 1.33
                          average_monthly_received_value: 1416.67
                          maximum_monthly_amount:
                            month: 9
                            year: 2025
                            amount: 2500
                          minimum_monthly_amount:
                            month: 8
                            year: 2025
                            amount: 500
                        monthly_totals:
                        - month: 7
                          year: 2025
                          amount: 1000
                          count: 1
                          is_month_complete: true
                        - month: 8
                          year: 2025
                          amount: 500
                          count: 1
                          is_month_complete: true
                        - month: 9
                          year: 2025
                          amount: 2500
                          count: 2
                          is_month_complete: true
                        - month: 10
                          year: 2025
                          amount: 1500
                          count: 1
                          is_month_complete: true
                        - month: 11
                          year: 2025
                          amount: 1500
                          count: 2
                          is_month_complete: true
                        - month: 12
                          year: 2025
                          amount: 1500
                          count: 1
                          is_month_complete: false
                        transactions:
                        - account_id: 36f0cf74-b4b0-492f-b50f-0a4680aba59f
                          transaction_id: TXN-2025-12-20-002
                          transaction_information: RENTAL INCOME FROM PROPERTY
                          booking_date_time: '2025-12-20T10:15:00Z'
                          amount: 1500
                          income_source:
                            type: RENTAL
                        - account_id: 36f0cf74-b4b0-492f-b50f-0a4680aba59f
                          transaction_id: TXN-2025-09-15-003
                          transaction_information: INVESTMENT DIVIDEND
                          booking_date_time: '2025-09-15T14:20:00Z'
                          amount: 1200
                          income_source:
                            type: INVESTMENTS
                        income_factors:
                          periods:
                          - period: P3M
                            income_variation: 15.8
                            average_income:
                              currency: AED
                              amount: 1500
                          - period: P6M
                            income_variation: 28.5
                            average_income:
                              currency: AED
                              amount: 1416.67
                          delta_min_max: 5
                          average_monthly_income_change: 12.5
                Get_Income_UAE:
                  summary: Successful income verification with salary and non-salary insights - UAE
                  value:
                    status: OK
                    results_id: d982e1fd-aaf0-41fe-9f11-a4f67f4dc918
                    message: Data successfully retrieved
                    timestamp: '2026-01-08T12:07:48Z'
                    type: income
                    insights:
                      salary:
                        currency: AED
                        total:
                          amount: 90000
                          count: 6
                          first_date_time: '2025-07-01T00:00:00Z'
                          last_date_time: '2025-12-25T00:00:00Z'
                          average_monthly_amount: 15000
                          average_monthly_count: 1
                          average_monthly_received_value: 15000
                          maximum_monthly_amount:
                            month: 11
                            year: 2025
                            amount: 16000
                          minimum_monthly_amount:
                            month: 7
                            year: 2025
                            amount: 14000
                        monthly_totals:
                        - month: 7
                          year: 2025
                          amount: 14000
                          count: 1
                          is_month_complete: true
                        - month: 8
                          year: 2025
                          amount: 15000
                          count: 1
                          is_month_complete: true
                        - month: 9
                          year: 2025
                          amount: 15000
                          count: 1
                          is_month_complete: true
                        - month: 10
                          year: 2025
                          amount: 15000
                          count: 1
                          is_month_complete: true
                        - month: 11
[...]
