openapi: 3.1.0
info:
  title: Lean API - Beneficiary Name Verification
  description: API for retrieving beneficiary name from an IBAN
  version: v2.0.0
servers:
- url: https://sandbox.leantech.me
  description: Sandbox
- url: https://api2.leantech.me
  description: Production
paths:
  /verifications/v2/iban:
    servers: []
    post:
      operationId: ibanVerification
      summary: Verify IBAN Ownership
      description: 'The Account Verification Service API allows you to check account ownership, confirming whether your customer
        is the owner of the IBAN they have provided you with.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IbanVerificationRequest'
            example:
              type: PERSONAL
              iban: SA2810000011100000461309
              identifications:
              - type: NATIONAL_ID
                value: '1106972886'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponseIbanVerificationResponsePayload'
              examples:
                '1':
                  summary: UAE - Success - Verified (ID or name matching)
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Data successfully retrieved
                    timestamp: '2025-07-25T11:01:04.709087696Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: true
                      swift_code: WIOBAEADXXX
                      bank_name:
                        en: WIO Bank PJSC
                        ar: ويو بنك ش.م.ع
                      bank_code: 086
                      account_status: ACTIVE
                      account_holder_name: 'Ker*** Ace*** Ander*** '
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '2':
                  summary: UAE - Success - Not verified (name matching)
                  value:
                    status: OK
                    results_id: 6157e56c-7508-4287-ad3b-1840f0d48ae7
                    message: Data successfully retrieved
                    timestamp: '2024-09-11T16:58:54.750933Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: NO_MATCH
                        score: 0
                      swift_code: ABDIAEAD
                      bank_name:
                        en: ENBDx Bank
                        ar: مصرف الامارات
                      bank_code: '006'
                      account_status: ACTIVE
                      account_holder_name: Adam Ahme*
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '3':
                  summary: UAE - Success - Partial match (name matching)
                  value:
                    status: OK
                    results_id: 6157e56c-7508-4287-ad3b-1840f0d48ae7
                    message: Data successfully retrieved
                    timestamp: '2024-09-11T16:58:54.750933Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: PARTIAL
                        score: 0.7
                      swift_code: ABDIAEAD
                      bank_name:
                        en: ENBDx Bank
                        ar: مصرف الامارات
                      bank_code: '006'
                      account_holder_name: Adam Ahme*
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '4':
                  summary: KSA - 200 - Success - matchExample
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: true
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: ١٥
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE
                '5':
                  summary: KSA - 200 - Success - no match
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: ١٥
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE
                '6':
                  summary: KSA - 200 - Success - Account inactive
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2024-02-09T15:57:29.144075150Z'
                    verifications:
                      iban_ownership_verified: false
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '15'
                      verification_method: SARIE
                      account_status: BLOCKED
                '7':
                  summary: KSA - 200 - Failed - unsupported by bank
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: UNSUPPORTED_BY_BANK
                      status_additional_info: This endpoint is currently not supported for this bank.
                '8':
                  summary: KSA - 200 - Failed - disabled by Lean
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: DISABLED_BY_LEAN
                      status_additional_info: This functionality has been temporarily disabled for this bank. Please try again
                        later.
                '9':
                  summary: KSA - 200 - Failed - disabled by client
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: DISABLED_BY_CLIENT
                      status_additional_info: This application has temporarily disabled functionality for this bank. Please
                        try again later.
                '10':
                  summary: KSA - 200 - Failed - bank issue
                  value:
                    status: FAILED
                    results_id: f894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Iban Verification by Saudi Payments Failed
                    timestamp: '2024-04-30T07:54:25.224020260Z'
                    status_detail:
                      granular_status_code: BANK_ISSUE
                      status_additional_info: Your bank is currently experiencing technological problems. Please try again
                        later.
                '11':
                  summary: KSA - 200 - Name matching - partial
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: PARTIAL
                        score: 0.7
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '24'
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE_AND_CONFIRMATION_OF_PAYEE_SERVICE
                '12':
                  summary: KSA - 200 - Name matching - no match
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: false
                      matching:
                        type: NO_MATCH
                        score: 0.3
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '24'
                      account_status: ACTIVE
                      account_holder_name: Jonathan Dogherty
                      verification_method: SARIE_AND_CONFIRMATION_OF_PAYEE_SERVICE
                '13':
                  summary: KSA - 200 - Name matching - match
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Data successfully retrieved
                    timestamp: '2025-05-19T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      iban_ownership_verified: true
                      swift_code: ALBISARI
                      bank_name:
                        en: AlBilad Bank
                        ar: بنك البلاد
                      bank_code: '24'
                      account_status: ACTIVE
                      account_holder_name: NA****AL**** IN****RM****IO**** SY****E****
                      verification_method: SARIE_AND_CONFIRMATION_OF_PAYEE_SERVICE
      tags:
      - Iban Verification
  /verifications/v2/iban/banks:
    servers: []
    get:
      operationId: getIbanVerificationBankConfigurations
      summary: Get IBAN Verification Bank Configurations
      description: Retrieves the list of banks with their availability and enablement status for IBAN verification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IbanVerificationBankConfiguration'
              example:
              - country_code: SAU
                bank_code: '15'
                bank_name:
                  en: AlBilad Bank
                  ar: بنك البلاد
                availability:
                  global: ENABLED
                  account_type:
                    personal:
                      match: ENABLED
                      no_match: ENABLED
                    freelancer:
                      match: ENABLED
                      no_match: DISABLED
                    business:
                      match: ENABLED
                      no_match: ENABLED
                application_enablement: ENABLED
              - country_code: ARE
                bank_code: '006'
                bank_name:
                  en: Emirates NBD
                  ar: الإمارات دبي الوطني
                availability:
                  global: ENABLED
                  account_type:
                    personal:
                      match: ENABLED
                      no_match: ENABLED
                    freelancer:
                      match: DISABLED
                      no_match: DISABLED
                    business:
                      match: ENABLED
                      no_match: ENABLED
                application_enablement: DISABLED
      tags:
      - Iban Verification
    put:
      operationId: updateIbanVerificationBankConfigurations
      summary: Update IBAN Verification Bank Configurations
      description: Updates the application-level bank enablement configurations for IBAN verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIbanVerificationBankConfigurationRequest'
            example:
              availabilities:
              - country_code: SAU
                bank_code: '15'
                enablement: ENABLED
              - country_code: ARE
                bank_code: '006'
                enablement: DISABLED
      responses:
        '200':
          description: OK
      tags:
      - Iban Verification
  /verifications/v2/entity:
    servers: []
    post:
      operationId: entityVerification
      summary: Verify Entity Ownership
      description: Verifies entity ownership by matching identification against bank records for multiple IBANs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityVerificationApiRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponseEntityVerificationResponsePayload'
              example:
                status: OK
                results_id: a894ede4-dd81-41fb-b52d-fb4fec16c16c
                message: Data successfully retrieved
                timestamp: '2023-10-18T13:15:32.251834909Z'
                verifications:
                  entity_ownership_verified: true
                  ibans:
                  - iban: SA2810000011100000461309
                    iban_ownership_verified: true
                  verification_method: OPEN_BANKING
      tags:
      - Entity Verification
  /verifications/v1/accounts:
    servers: []
    post:
      operationId: internationalAvsVerification
      summary: International Account Verification API
      description: 'Verifies account ownership and details for international accounts.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternationalAvsRequest'
            examples:
              '1':
                summary: India Account
                description: Example for India personal account verification
                value:
                  country_code: IN
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '987654321001'
                  identifications:
                  - type: FULL_NAME
                    value: VIRAT KOHLI
                  bank_identifier:
                    type: CLEARING_ID
                    value: YESB0000002
              '2':
                summary: Indonesia Account
                description: Example for Indonesia personal account verification
                value:
                  country_code: ID
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '1122334455'
                  identifications:
                  - type: FULL_NAME
                    value: FIRA DIYANKA
                  bank_identifier:
                    type: BIC
                    value: CENAIDJA
              '3':
                summary: United States Account
                description: Example for US personal account verification
                value:
                  country_code: US
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '781245633'
                  identifications:
                  - type: GIVEN_NAME
                    value: MELANIE
                  - type: SURNAME
                    value: DANIELS
                  bank_identifier:
                    type: CLEARING_ID
                    value: '101000019'
              '4':
                summary: Vietnam Account
                description: Example for Vietnam personal account verification
                value:
                  country_code: VN
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '12345678900000'
                  identifications:
                  - type: FULL_NAME
                    value: PHAM QUYNH
                  bank_identifier:
                    type: BIC
                    value: VTCBVNVX
              '5':
                summary: South Korea Account
                description: Example for South Korea personal account verification
                value:
                  country_code: KR
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '11112222321'
                  identifications:
                  - type: FULL_NAME
                    value: SONG HYE KYO
                  bank_identifier:
                    type: BIC
                    value: CZNBKRSE
              '6':
                summary: Pakistan Account
                description: Example for Pakistan personal account verification
                value:
                  country_code: PK
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: PK35HABB0001111222212345
                  identifications:
                  - type: FULL_NAME
                    value: KAMALA KHAN
                  bank_identifier:
                    type: BIC
                    value: HABBPKKA
              '7':
                summary: China Account
                description: Example for China business account verification
                value:
                  country_code: CN
                  type: BUSINESS
                  account_details:
                    type: ACCOUNT_ID
                    value: '321872160000'
                  identifications:
                  - type: FULL_NAME
                    value: Beijing Apple and Orange Company
                  - type: REGISTRATION_ID
                    value: 91111111ABCXYZ1234
                  bank_identifier:
                    type: BIC
                    value: ABOCCNBJ
              '8':
                summary: Argentina Account
                description: Example for Argentina personal account verification
                value:
                  country_code: AR
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '0170032450000643500000'
                  identifications:
                  - type: FULL_NAME
                    value: LIONEL MESSI
              '9':
                summary: Bangladesh Account
                description: Example for Bangladesh personal account verification
                value:
                  country_code: BD
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '111112222201'
                  identifications:
                  - type: FULL_NAME
                    value: SHAKIB AL HASAN
                  bank_identifier:
                    type: BIC
                    value: MTBLBDDH
              '10':
                summary: Belgium Account
                description: Example for Belgium personal account verification
                value:
                  country_code: BE
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: BE15537752378598
                  identifications:
                  - type: FULL_NAME
                    value: Apple Payments
                  - type: REGISTRATION_ID
                    value: BE2283365642
              '11':
                summary: Brazil Account
                description: Example for Brazil personal account verification
                value:
                  country_code: BR
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: BR5599950505000010000000505C1
                  identifications:
                  - type: FULL_NAME
                    value: MONKEY D. LUFFY
                  - type: REGISTRATION_ID
                    value: 55.555.555/0056-56
              '12':
                summary: France Account
                description: Example for France personal account verification
                value:
                  country_code: FR
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: FR7616958000019430150570683
                  identifications:
                  - type: FULL_NAME
                    value: Atelier Co
                  - type: REGISTRATION_ID
                    value: FR12949982110
              '13':
                summary: United Kingdom Account
                description: Example for United Kingdom personal account verification
                value:
                  country_code: GB
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '12345678'
                  identifications:
                  - type: FULL_NAME
                    value: HARRY POTTER
                  bank_identifier:
                    type: CLEARING_ID
                    value: '123456'
              '14':
                summary: Italy Account
                description: Example for Italy personal account verification
                value:
                  country_code: IT
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: IT60X0542811101000000123456
                  identifications:
                  - type: FULL_NAME
                    value: Pizza Hut
                  - type: REGISTRATION_ID
                    value: IT12949982110
              '15':
                summary: Mexico Account
                description: Example for Mexico personal account verification
                value:
                  country_code: MX
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '999000000000000505'
                  identifications:
                  - type: FULL_NAME
                    value: INAKI GODOY
              '16':
                summary: Nigeria Account
                description: Example for Nigeria personal account verification
                value:
                  country_code: NG
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '1234567890'
                  identifications:
                  - type: FULL_NAME
                    value: DAVID OYELOWO
                  bank_identifier:
                    type: BIC
                    value: GTBINGLA
              '17':
                summary: Netherlands Account
                description: Example for Netherlands personal account verification
                value:
                  country_code: NL
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: NL91ABNA0417164389
                  identifications:
                  - type: FULL_NAME
                    value: Finance Co
                  - type: REGISTRATION_ID
                    value: NL234556778B15
              '18':
                summary: Nepal Account
                description: Example for Nepal personal account verification
                value:
                  country_code: NP
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '1234567891234001'
                  identifications:
                  - type: FULL_NAME
                    value: ANIL GURUNG
                  bank_identifier:
                    type: BIC
                    value: NICENPKA
              '19':
                summary: Poland Account
                description: Example for Poland personal account verification
                value:
                  country_code: PL
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: PL63109010160300071219812876
                  identifications:
                  - type: FULL_NAME
                    value: Star Coffee
                  - type: REGISTRATION_ID
                    value: PL2246689915
              '20':
                summary: Uganda Account
                description: Example for Uganda personal account verification
                value:
                  country_code: UG
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '9030012345678'
                  identifications:
                  - type: FULL_NAME
                    value: WINNIE NWAGI
                  bank_identifier:
                    type: BIC
                    value: EQBLUGKA
              '21':
                summary: Malaysia Account
                description: Example for Malaysia personal account verification
                value:
                  country_code: MY
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '123456789098'
                  identifications:
                  - type: FULL_NAME
                    value: MICHELLE YEOH
                  bank_identifier:
                    type: BIC
                    value: MBBEMYKL
              '22':
                summary: Uruguay Account
                description: Example for Uruguay personal account verification
                value:
                  country_code: UY
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '23456789'
                  identifications:
                  - type: FULL_NAME
                    value: GEORGE HILTON
                  bank_identifier:
                    type: CLEARING_ID
                    value: '001'
              '23':
                summary: Peru Account
                description: Example for Peru personal account verification
                value:
                  country_code: PE
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '12345678909876543212'
                  identifications:
                  - type: FULL_NAME
                    value: SILVANA ARIAS
              '24':
                summary: Turkey Account
                description: Example for Turkey personal account verification
                value:
                  country_code: TR
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: TR480001002110000028685254
                  identifications:
                  - type: FULL_NAME
                    value: HALET CAMBEL
              '25':
                summary: South Africa Account
                description: Example for South Africa personal account verification
                value:
                  country_code: ZA
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '9999978653'
                  identifications:
                  - type: FULL_NAME
                    value: CHAD LE CLOS
                  bank_identifier:
                    type: CLEARING_ID
                    value: '198765'
              '26':
                summary: UAE Account
                description: Example for UAE personal account verification
                value:
                  country_code: AE
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: AE070331234567890123456
                  identifications:
                  - type: FULL_NAME
                    value: MOHAMMED AHMED
              '27':
                summary: Saudi Arabia Account
                description: Example for Saudi Arabia personal account verification
                value:
                  country_code: SA
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: SA2810000011100000461309
                  identifications:
                  - type: NATIONAL_ID
                    value: '1106972886'
              '28':
                summary: Australia Account
                description: Example for Australia personal account verification
                value:
                  country_code: AU
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '123411110'
                  identifications:
                  - type: FULL_NAME
                    value: MIKE OWENS
                  bank_identifier:
                    type: CLEARING_ID
                    value: '100000'
              '29':
                summary: Austria Account
                description: Example for Austria personal account verification
                value:
                  country_code: AT
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: AT610904300234573201
                  identifications:
                  - type: FULL_NAME
                    value: LEON STEINER
              '30':
                summary: Chile Account
                description: Example for Chile personal account verification
                value:
                  country_code: CL
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '000000000000012'
                  identifications:
                  - type: FULL_NAME
                    value: ALONSO SILVA
                  - type: REGISTRATION_ID
                    value: '975675345'
                  bank_identifier:
                    type: BIC
                    value: BCHICLRM
              '31':
                summary: Cyprus Account
                description: Example for Cyprus personal account verification
                value:
                  country_code: CY
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: CY14002001230012345678900001
                  identifications:
                  - type: FULL_NAME
                    value: CHRISTINA GEORGIEU
              '32':
                summary: Germany Account
                description: Example for Germany personal account verification
                value:
                  country_code: DE
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: DE89370400440532010001
                  identifications:
                  - type: FULL_NAME
                    value: FRIEDA BAUER
              '33':
                summary: Ecuador Account
                description: Example for Ecuador personal account verification
                value:
                  country_code: EC
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: 0022480002
                  identifications:
                  - type: FULL_NAME
                    value: CIRILO ZAMBRANO
                  - type: REGISTRATION_ID
                    value: '4726991086498'
                  bank_identifier:
                    type: BIC
                    value: GUAYECEG
              '34':
                summary: Estonia Account
                description: Example for Estonia personal account verification
                value:
                  country_code: EE
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: EE20202000000000000001
                  identifications:
                  - type: FULL_NAME
                    value: AARNE TAMM
              '35':
                summary: Spain Account
                description: Example for Spain personal account verification
                value:
                  country_code: ES
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: ES9121000418450200051001
                  identifications:
                  - type: FULL_NAME
                    value: ISABEL RODRIGUEZ
              '36':
                summary: Finland Account
                description: Example for Finland personal account verification
                value:
                  country_code: FI
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: EE20202000000000000001
                  identifications:
                  - type: FULL_NAME
                    value: AARNE TAMM
              '37':
                summary: Greece Account
                description: Example for Greece personal account verification
                value:
                  country_code: GR
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: GR1601101250000000012300001
                  identifications:
                  - type: FULL_NAME
                    value: NICO GALANIS
              '38':
                summary: Croatia Account
                description: Example for Croatia personal account verification
                value:
                  country_code: HR
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: HR1210010051865000101
                  identifications:
                  - type: FULL_NAME
                    value: JAKOV NOVAK
              '39':
                summary: Ireland Account
                description: Example for Ireland personal account verification
                value:
                  country_code: IE
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: IE29AIBK93115200000001
                  identifications:
                  - type: FULL_NAME
                    value: CLODAGH KELLY
              '40':
                summary: Lithuania Account
                description: Example for Lithuania personal account verification
                value:
                  country_code: LT
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: LT121000011101001001
                  identifications:
                  - type: FULL_NAME
                    value: ADOMAS BACKUS
              '41':
                summary: Luxembourg Account
                description: Example for Luxembourg personal account verification
                value:
                  country_code: LU
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: LU280019400644750001
                  identifications:
                  - type: FULL_NAME
                    value: LEO GEODERT
              '42':
                summary: Latvia Account
                description: Example for Latvia personal account verification
                value:
                  country_code: LV
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: LV80BANK0000435195001
                  identifications:
                  - type: FULL_NAME
                    value: MARTA IVANOVS
              '43':
                summary: Malta Account
                description: Example for Malta personal account verification
                value:
                  country_code: MT
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: MT84BANK011000012345MTLCAST001S
                  identifications:
                  - type: FULL_NAME
                    value: VALENTINA VELLA
              '44':
                summary: Portugal Account
                description: Example for Portugal personal account verification
                value:
                  country_code: PT
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: PT50000100001234567890001
                  identifications:
                  - type: FULL_NAME
                    value: MARIA LOPES
              '45':
                summary: Slovenia Account
                description: Example for Slovenia personal account verification
                value:
                  country_code: SI
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: SI56191000001230001
                  identifications:
                  - type: FULL_NAME
                    value: JULIJA NOVAK
              '46':
                summary: Slovakia Account
                description: Example for Slovakia personal account verification
                value:
                  country_code: SK
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: SK2207200000000012345001
                  identifications:
                  - type: FULL_NAME
                    value: ADAM JURKOVIC
              '47':
                summary: Colombia Personal Account
                description: Example for Colombia personal account verification with CC
                value:
                  country_code: CO
                  type: PERSONAL
                  account_details:
                    type: ACCOUNT_ID
                    value: '000000001'
                    account_type: SAVINGS
                  identifications:
                  - type: FULL_NAME
                    value: JUAN ERNESTO PEREZ MESA
                  - type: CC
                    value: '12345678'
                  bank_identifier:
                    type: BIC
                    value: BBOGCOBB
              '48':
                summary: Colombia Business Account
                description: Example for Colombia business account verification with NIT
                value:
                  country_code: CO
                  type: BUSINESS
                  account_details:
                    type: ACCOUNT_ID
                    value: 000000038
                    account_type: SAVINGS
                  identifications:
                  - type: FULL_NAME
                    value: TYESO STEEL AND METAL CO.
                  - type: NIT
                    value: '2345678233'
                  bank_identifier:
                    type: BIC
                    value: FALACOBT
              '49':
                summary: Bulgaria Account
                description: Example for Bulgaria personal account verification
                value:
                  country_code: BG
                  type: PERSONAL
                  account_details:
                    type: IBAN
                    value: BG18RZBB91550123456789
                  identifications:
                  - type: FULL_NAME
                    value: Georgi Dimitrov
      responses:
        '200':
          description: Account verification completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternationalAvsResponse'
              examples:
                '2':
                  summary: Indonesia Account (Success)
                  description: Success response for Indonesia personal account verification
                  value:
                    status: OK
                    results_id: 6157e56c-7508-4287-ad3b-1840f0d48ae7
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T16:58:54.750933Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Central Asia
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: CENAIDJA
                      account_status: ACTIVE
                      account_holder_name: FIRA DIYANKA
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '3':
                  summary: United States Account (Success)
                  description: Success response for US personal account verification
                  value:
                    status: OK
                    results_id: e894ede4-dd81-41fb-b52d-fb4fec16c16c
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T12:09:54.672818827Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Federal Reserve Bank
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: '101000019'
                      account_status: ACTIVE
                      account_holder_name: null
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '4':
                  summary: Vietnam Account (Success)
                  description: Success response for Vietnam personal account verification
                  value:
                    status: OK
                    results_id: f1234567-89ab-cdef-0123-456789abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T14:30:00.000000000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Vietcombank
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: VTCBVNVX
                      account_status: ACTIVE
                      account_holder_name: PHAM QUYNH
                      account_currency: VND
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '5':
                  summary: South Korea Account (Success)
                  description: Success response for South Korea personal account verification
                  value:
                    status: OK
                    results_id: 12345678-9abc-def0-1234-567890abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T15:45:00.000000000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Citibank Korea
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: CZNBKRSE
                      account_status: ACTIVE
                      account_holder_name: SONG HYE KYO
                      account_currency: KRW
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '6':
                  summary: Pakistan Account (Success)
                  description: Success response for Pakistan personal account verification
                  value:
                    status: OK
                    results_id: 12345678-9abc-def0-1234-567890abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T16:20:00.000000000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Habib Bank Limited
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: HABBPKKA
                      account_status: ACTIVE
                      account_holder_name: KAMALA KHAN
                      account_currency: PKR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '7':
                  summary: China Account (Success)
                  description: Success response for China business account verification
                  value:
                    status: OK
                    results_id: 12345678-9abc-def0-1234-567890abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T17:10:00.000000000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Agricultural Bank of China
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: ABOCCNBJ
                      account_status: ACTIVE
                      account_holder_name: Beijing Apple and Orange Company
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '8':
                  summary: Argentina Account (Success)
                  description: Success response for Argentina personal account verification
                  value:
                    status: OK
                    results_id: 95e92422-7cde-4629-b1e4-81cf2d879530
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.942558Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: LIONEL MESSI
                      account_currency: ARS
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '9':
                  summary: Bangladesh Account (Success)
                  description: Success response for Bangladesh personal account verification
                  value:
                    status: OK
                    results_id: 6736bb0d-3f57-4065-81b5-7aed57e00cea
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.944038Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: MTBLBDDH
                      account_status: ACTIVE
                      account_holder_name: SHAKIB AL HASAN
                      account_currency: BDT
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '10':
                  summary: Belgium Account (Success)
                  description: Success response for Belgium personal account verification
                  value:
                    status: OK
                    results_id: f5a3f374-87f4-4994-ac32-2b043b23eda4
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.945248Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: Apple Payments
                      account_currency: EUR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '11':
                  summary: Brazil Account (Success)
                  description: Success response for Brazil personal account verification
                  value:
                    status: OK
                    results_id: 8cd97daf-f26f-45bb-be55-815271347ab6
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.946399Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: MONKEY D. LUFFY
                      account_currency: BRL
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '12':
                  summary: France Account (Success)
                  description: Success response for France personal account verification
                  value:
                    status: OK
                    results_id: 5cf7727d-6628-4c07-a913-2d9200d74cfc
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.947558Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: Atelier Co
                      account_currency: EUR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '13':
                  summary: United Kingdom Account (Success)
                  description: Success response for United Kingdom personal account verification
                  value:
                    status: OK
                    results_id: d74a378e-6f61-4768-8efa-ef578ae6266d
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.948708Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: '123456'
                      account_status: ACTIVE
                      account_holder_name: HARRY POTTER
                      account_currency: GBP
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '14':
                  summary: Italy Account (Success)
                  description: Success response for Italy personal account verification
                  value:
                    status: OK
                    results_id: 51fe2d43-b155-4196-b448-0a801a9e94c4
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.949884Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: Pizza Hut
                      account_currency: EUR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '15':
                  summary: Mexico Account (Success)
                  description: Success response for Mexico personal account verification
                  value:
                    status: OK
                    results_id: da43f252-3909-4487-894a-cf1d541e1603
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.951186Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: INAKI GODOY
                      account_currency: MXN
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '16':
                  summary: Nigeria Account (Success)
                  description: Success response for Nigeria personal account verification
                  value:
                    status: OK
                    results_id: 65d35715-1aa9-45d1-ba38-9dff1d9ef581
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.952413Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: GTBINGLA
                      account_status: ACTIVE
                      account_holder_name: DAVID OYELOWO
                      account_currency: NGN
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '17':
                  summary: Netherlands Account (Success)
                  description: Success response for Netherlands personal account verification
                  value:
                    status: OK
                    results_id: 9fbf51cf-b10f-44d6-bf7c-6e44879e4db9
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.953665Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: Finance Co
                      account_currency: EUR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '18':
                  summary: Nepal Account (Success)
                  description: Success response for Nepal personal account verification
                  value:
                    status: OK
                    results_id: 6e09fd20-2f4c-4b43-ac85-0dcc597a0d1b
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.954880Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: NICENPKA
                      account_status: ACTIVE
                      account_holder_name: ANIL GURUNG
                      account_currency: NPR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '19':
                  summary: Poland Account (Success)
                  description: Success response for Poland personal account verification
                  value:
                    status: OK
                    results_id: 13ace716-8a0a-46cd-8aa0-c5d8a99223ec
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.956147Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: Star Coffee
                      account_currency: PLN
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '20':
                  summary: Uganda Account (Success)
                  description: Success response for Uganda personal account verification
                  value:
                    status: OK
                    results_id: 8466452e-c254-4be1-b551-f4575292a848
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.957226Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: EQBLUGKA
                      account_status: ACTIVE
                      account_holder_name: WINNIE NWAGI
                      account_currency: UGX
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '21':
                  summary: Malaysia Account (Success)
                  description: Success response for Malaysia personal account verification
                  value:
                    status: OK
                    results_id: ae698049-2772-4ab7-a6db-88fd6d551dee
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.958399Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: MBBEMYKL
                      account_status: ACTIVE
                      account_holder_name: MICHELLE YEOH
                      account_currency: MYR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '22':
                  summary: Uruguay Account (Success)
                  description: Success response for Uruguay personal account verification
                  value:
                    status: OK
                    results_id: b9513c3b-6bcc-4ef3-a305-0b7b679387b0
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.959713Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: '001'
                      account_status: ACTIVE
                      account_holder_name: GEORGE HILTON
                      account_currency: UYU
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '23':
                  summary: Peru Account (Success)
                  description: Success response for Peru personal account verification
                  value:
                    status: OK
                    results_id: 82201f59-da87-4055-98b2-49c7a90b2563
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.961030Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: SILVANA ARIAS
                      account_currency: PEN
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '24':
                  summary: Turkey Account (Success)
                  description: Success response for Turkey personal account verification
                  value:
                    status: OK
                    results_id: 45095d9a-0e9e-4e6c-ab09-be0d046c82d5
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.962299Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers: []
                      account_status: ACTIVE
                      account_holder_name: HALET CAMBEL
                      account_currency: TRY
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '25':
                  summary: South Africa Account (Success)
                  description: Success response for South Africa personal account verification
                  value:
                    status: OK
                    results_id: 02517861-5188-4670-8bf1-83d31481e83a
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.963462Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Bank Name Placeholder
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: '198765'
                      account_status: ACTIVE
                      account_holder_name: CHAD LE CLOS
                      account_currency: ZAR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '26':
                  summary: Account Not Verified (Partial Match)
                  description: Response when account ownership is not verified
                  value:
                    status: OK
                    results_id: a5678901-2abc-def3-4567-890123abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T18:00:00.000000000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: false
                      matching:
                        type: PARTIAL
                        score: 0.7
                      bank_details:
                        bank_name:
                          en: Citibank Korea
                          ar: null
                        bank_identifiers:
                        - type: BIC
                          value: CZNBKRSE
                      account_status: ACTIVE
                      account_holder_name: null
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '27':
                  summary: UAE Account (Success)
                  description: Success response for UAE personal account verification
                  value:
                    status: OK
                    results_id: 12345678-9abc-def0-1234-567890abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.965700Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Emirates NBD Bank
                          ar: بنك الإمارات دبي الوطني
                        bank_identifiers:
                        - type: BIC
                          value: EBILAEAD
                      account_status: ACTIVE
                      account_holder_name: MOHAMMED AHMED
                      account_currency: AED
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '28':
                  summary: Saudi Arabia Account (Success)
                  description: Success response for Saudi Arabia personal account verification
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.966800Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      matching: null
                      bank_details:
                        bank_name:
                          en: AlBilad Bank
                          ar: بنك البلاد
                        bank_identifiers:
                        - type: SWIFT_CODE
                          value: ALBISARI
                      account_status: ACTIVE
                      account_holder_name: ABDULLAH AL-SAUD
                      account_currency: SAR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '29':
                  summary: Bank issue
                  description: Something went wrong with the external provider
                  value:
                    status: FAILED
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Some bank issue
                    timestamp: '2025-08-29T05:15:13.966800Z'
                    meta: null
                    status_detail:
                      granular_status_code: BANK_ISSUE
                      status_additional_info: Your bank is currently experiencing technological problems. Please try again
                        later.
                    verifications: null
                '30':
                  summary: Australia Account (Success)
                  description: Success response for Australia personal account verification
                  value:
                    status: OK
                    results_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.967000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: MIKE OWENS
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '31':
                  summary: Austria Account (Success)
                  description: Success response for Austria personal account verification
                  value:
                    status: OK
                    results_id: b2c3d4e5-f6a7-8901-bcde-f23456789012
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.968000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: LEON STEINER
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '32':
                  summary: Chile Account (Success)
                  description: Success response for Chile personal account verification
                  value:
                    status: OK
                    results_id: c3d4e5f6-a7b8-9012-cdef-345678901234
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.969000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: ALONSO SILVA
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '33':
                  summary: Cyprus Account (Success)
                  description: Success response for Cyprus personal account verification
                  value:
                    status: OK
                    results_id: d4e5f6a7-b8c9-0123-def0-456789012345
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.970000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: CHRISTINA GEORGIEU
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '34':
                  summary: Germany Account (Success)
                  description: Success response for Germany personal account verification
                  value:
                    status: OK
                    results_id: e5f6a7b8-c9d0-1234-ef01-567890123456
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.971000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: FRIEDA BAUER
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '35':
                  summary: Ecuador Account (Success)
                  description: Success response for Ecuador personal account verification
                  value:
                    status: OK
                    results_id: f6a7b8c9-d0e1-2345-f012-678901234567
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.972000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: CIRILO ZAMBRANO
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '36':
                  summary: Estonia Account (Success)
                  description: Success response for Estonia personal account verification
                  value:
                    status: OK
                    results_id: a7b8c9d0-e1f2-3456-0123-789012345678
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.973000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: AARNE TAMM
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '37':
                  summary: Spain Account (Success)
                  description: Success response for Spain personal account verification
                  value:
                    status: OK
                    results_id: b8c9d0e1-f2a3-4567-1234-890123456789
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.974000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: ISABEL RODRIGUEZ
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '38':
                  summary: Finland Account (Success)
                  description: Success response for Finland personal account verification
                  value:
                    status: OK
                    results_id: c9d0e1f2-a3b4-5678-2345-901234567890
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.975000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: AARNE TAMM
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '39':
                  summary: Greece Account (Success)
                  description: Success response for Greece personal account verification
                  value:
                    status: OK
                    results_id: d0e1f2a3-b4c5-6789-3456-012345678901
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.976000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: NICO GALANIS
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '40':
                  summary: Croatia Account (Success)
                  description: Success response for Croatia personal account verification
                  value:
                    status: OK
                    results_id: e1f2a3b4-c5d6-7890-4567-123456789012
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.977000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: JAKOV NOVAK
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '41':
                  summary: Ireland Account (Success)
                  description: Success response for Ireland personal account verification
                  value:
                    status: OK
                    results_id: f2a3b4c5-d6e7-8901-5678-234567890123
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.978000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: CLODAGH KELLY
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '42':
                  summary: Lithuania Account (Success)
                  description: Success response for Lithuania personal account verification
                  value:
                    status: OK
                    results_id: a3b4c5d6-e7f8-9012-6789-345678901234
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.979000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: ADOMAS BACKUS
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '43':
                  summary: Luxembourg Account (Success)
                  description: Success response for Luxembourg personal account verification
                  value:
                    status: OK
                    results_id: b4c5d6e7-f8a9-0123-7890-456789012345
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.980000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: LEO GEODERT
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '44':
                  summary: Latvia Account (Success)
                  description: Success response for Latvia personal account verification
                  value:
                    status: OK
                    results_id: c5d6e7f8-a9b0-1234-8901-567890123456
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.981000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: MARTA IVANOVS
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '45':
                  summary: Malta Account (Success)
                  description: Success response for Malta personal account verification
                  value:
                    status: OK
                    results_id: d6e7f8a9-b0c1-2345-9012-678901234567
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.982000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: VALENTINA VELLA
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '46':
                  summary: Portugal Account (Success)
                  description: Success response for Portugal personal account verification
                  value:
                    status: OK
                    results_id: e7f8a9b0-c1d2-3456-0123-789012345678
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.983000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: MARIA LOPES
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '47':
                  summary: Slovenia Account (Success)
                  description: Success response for Slovenia personal account verification
                  value:
                    status: OK
                    results_id: f8a9b0c1-d2e3-4567-1234-890123456789
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.984000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: JULIJA NOVAK
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '48':
                  summary: Slovakia Account (Success)
                  description: Success response for Slovakia personal account verification
                  value:
                    status: OK
                    results_id: a9b0c1d2-e3f4-5678-2345-901234567890
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.985000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: ADAM JURKOVIC
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '49':
                  summary: Colombia Personal Account (Success)
                  description: Success response for Colombia personal account verification with CC
                  value:
                    status: OK
                    results_id: b0c1d2e3-f4a5-6789-3456-012345678901
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.986000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: JUAN ERNESTO PEREZ MESA
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '50':
                  summary: Colombia Business Account (Success)
                  description: Success response for Colombia business account verification with NIT
                  value:
                    status: OK
                    results_id: c1d2e3f4-a5b6-7890-4567-123456789012
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.987000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: TYESO STEEL AND METAL CO.
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                '51':
                  summary: Bulgaria Account (Success)
                  description: Success response for Bulgaria personal account verification
                  value:
                    status: OK
                    results_id: a1b2c3d4-e5f6-7890-1234-567890abcdef
                    message: Account verification completed successfully
                    timestamp: '2025-08-29T05:15:13.988000Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details: null
                      account_status: ACTIVE
                      account_holder_name: Georgi Dimitrov
                      account_currency: null
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                1success:
                  summary: India Account (Success)
                  description: Success response for India personal account verification
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T11:01:04.709087696Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: true
                      bank_details:
                        bank_name:
                          en: Yes Bank
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: YESB0000002
                      account_status: ACTIVE
                      account_holder_name: VIRAT KOHLI
                      account_currency: INR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                1partial:
                  summary: India Account (Partial)
                  description: Partial response for India personal account verification
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T11:01:04.709087696Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: false
                      matching:
                        type: PARTIAL
                        score: 0.67
                      bank_details:
                        bank_name:
                          en: Yes Bank
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: YESB0000002
                      account_status: ACTIVE
                      account_holder_name: VIRAT KOHLI
                      account_currency: INR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
                1nomatch:
                  summary: India Account (No match)
                  description: No match response for India personal account verification
                  value:
                    status: OK
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    message: Account verification completed successfully
                    timestamp: '2025-01-25T11:01:04.709087696Z'
                    meta: null
                    status_detail: null
                    verifications:
                      account_ownership_verified: false
                      matching:
                        type: NO_MATCH
                        score: 0
                      bank_details:
                        bank_name:
                          en: Yes Bank
                          ar: null
                        bank_identifiers:
                        - type: CLEARING_ID
                          value: YESB0000002
                      account_status: ACTIVE
                      account_holder_name: VIRAT KOHLI
                      account_currency: INR
                      verification_method: CONFIRMATION_OF_PAYEE_SERVICE
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternationalAvsErrorResponse'
              examples:
                Unsupported Country:
                  summary: Bad request - Country not supported
                  value:
                    status: INVALID_PARAMETERS
                    message: 'Country not supported: RU'
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    timestamp: '2025-01-25T16:58:54.750933Z'
                FULL_NAME failed:
                  summary: Bad request - Invalid FULL_NAME
                  value:
                    status: INVALID_PARAMETERS
                    message: Personal identification validation failed. A valid value [FULL_NAME] is required
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    timestamp: '2025-01-25T16:58:54.750933Z'
                Account details failed:
                  summary: Bad request - Invalid Account details
                  value:
                    status: INVALID_PARAMETERS
                    message: Account details validation failed. Invalid CBU account ID
                    results_id: d2d95011-f834-4979-83eb-9c35b95f093c
                    timestamp: '2025-01-25T16:58:54.750933Z'
      tags:
      - International AVS
components:
  schemas:
    VerificationResponseBeneficiaryNamePayload:
      allOf:
      - $ref: '#/components/schemas/Result'
      - type: object
        properties:
          verifications:
            $ref: '#/components/schemas/BeneficiaryNamePayload'
    BeneficiaryNamePayload:
      description: Beneficiary name and account status retrieved from the bank
      type: object
      properties:
        beneficiary_name:
          description: Name of the account holder
          type: string
        account_status:
          description: Status of the bank account
          type: string
      required:
      - beneficiary_name
      - account_status
    ResultStatus:
      description: The status of the request
      type: string
      enum:
      - OK
      - PENDING
      - FAILED
      - CONSENT_EXPIRED
      - RECONNECT_REQUIRED
      - PROCESSING_STARTED
    StatusDetail:
      type:
      - object
      - 'null'
      properties:
        granular_status_code:
          description: Granular status code
          type:
          - string
          - 'null'
        status_additional_info:
          description: Additional information about the status
          type:
          - string
          - 'null'
    Result:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResultStatus'
        results_id:
          description: The unique identifier for the request
          type: string
          format: uuid
        message:
          description: A message describing the status of the request
          type: string
        meta:
          description: Meta information about the request
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        timestamp:
          description: The datetime of when the request was made
          type: string
          format: date-time
        status_detail:
          description: Additional information about the status
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/StatusDetail'
      required:
      - status
      - results_id
      - message
      - timestamp
    CorporateVerificationResponse:
      allOf:
      - $ref: '#/components/schemas/Result'
      - type: object
        properties:
          verifications:
            $ref: '#/components/schemas/CorporateVerificationResult'
    CorporateVerificationResult:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/CompanyStatus'
        commercial_registry:
          type:
          - object
          - 'null'
          properties:
            national_number:
              description: Commercial Registration National Number
              type:
              - string
              - 'null'
            registration_number:
              description: Commercial Registration Number
              type:
              - string
              - 'null'
            version_number:
              description: Commercial Registry Version Number
              type:
              - integer
              - 'null'
        company_name:
          description: Company Name
          allOf:
          - $ref: '#/components/schemas/LocalizedText'
        name_language:
          type:
          - object
          - 'null'
          properties:
            id:
              description: Name language ID
              type:
              - integer
              - 'null'
            description:
              description: Company name language
              allOf:
              - $ref: '#/components/schemas/LocalizedText'
        commercial_registration_capital:
          description: Commercial registration capital
          type:
          - number
          - 'null'
        days_since_company_established:
          description: Days since company was established
          type:
          - integer
          - 'null'
        main_commercial_registry:
          type:
          - object
          - 'null'
          properties:
            is_main:
              description: Whether this is the main Commercial Registration
              type:
              - boolean
              - 'null'
            national_number:
              description: Main Commercial Registration National Number
              type:
              - string
              - 'null'
            registration_number:
              description: Main Commercial Registration Number
              type:
              - string
              - 'null'
        issue_date:
          $ref: '#/components/schemas/DatePair'
        in_liquidation_process:
          description: Whether the company is in a liquidation process
          type:
          - boolean
          - 'null'
        has_e_commerce:
          description: Whether the company engages in ecommerce
          type:
          - boolean
          - 'null'
          x-field-extra-annotation: '@JsonProperty("has_e_commerce")'
        headquarters:
          type:
          - object
          - 'null'
          properties:
            city_id:
              description: City ID
[...]
